<template>
  <div class="vh-100 d-flex flex-column">
    <!-- 簽到活動元件 -->
    <SignInEvent v-if="sigIn.isShow"/>
    <!-- 特約店家掃扣後跳窗元件 -->
    <SpecShop v-show="specShopModal"/>
    <!-- Navbar -->
    <nav class="navbar is-home-top-nav" role="navigation" :class="[{'is-fixed-top':$route.path == '/card'},{'bg-lichen-primary':$route.path == '/cardMember'}]">
      <div class="navbar-menu">
        <!-- ********** 左側 ********** -->
        <div class="navbar-start">
          <!-- 漢堡主選單 -->
          <a href="javascript:void(0)" class="navbar-item text-white" ref="isSideMenu" @click="isSideMenu=true" v-show="$route.path == '/card'">
            <div class="drop-shadow"><i class="fas fa-bars fa-fw fa-lg"></i></div>
          </a>
          <!-- 返回 -->
          <a href="javascript:void(0)" class="navbar-item" @click="goBack" v-if="$route.path !== '/card'">
            <div><i class="fas fa-arrow-left fa-fw"></i></div>
          </a>
        </div>
        <!-- ********** 中(頁面名稱) ********** -->
        <div class=" is-size-5 navbar-item" v-if="$route.path !== '/card'" v-cloak>{{$store.state.isPageName}}</div>
        <!-- ********** 右側 ********** -->
        <div class="navbar-end shadow rounded-leftbottom" style="background-color: rgba(255,255,255,.9)" v-if="isLogin && ($route.path == '/card' || $route.path == '/cardMember')">
          <!-- 會員qrcode -->
          <a href="javascript:void(0)" class="navbar-item pl-4" @click="showQrcode()">
            <img src="../../assets/images/qrcode_scan_icon.svg" style="height:21px" alt="">
          </a>
        </div>
        <div class="navbar-end" v-else>
          <!-- 首頁 -->
          <a href="javascript:void(0)" class="navbar-item" @click="$router.push('/card')" v-if="$route.path !== '/card'">
            <figure class="image is-24x24">
              <img src="@/assets/images/nav-ic-home.svg">
            </figure>
          </a>
        </div>
      </div>
    </nav>

    <!-- 側選單 -->
    <transition name="side-menu" mode="out-in">
      <aside class="menu shadow" @click="onClose" v-show="isSideMenu" v-closable="{exclude: ['isSideMenu'], handler: 'onClose'}" v-cloak>
        <ul class="menu-list">
          <li class="text-center my-3 text-white">
            <p class="pb-2"><i class="fas fa-user-circle fa-fw fa-2x"></i></p>
            <p class="px-2" v-if="isLogin"><b>{{userData.Name}}</b></p>
            <button class="button is-rounded p-1 w-75 h-auto" v-if="!isLogin" @click="$router.push({path: '/login'})">登入</button>
          </li>
          <hr class="mx-3 bg-transparent">
          <li v-if="isLogin" @click="$router.push('/cardMember')"><a><i class="fas fa-user fa-fw"></i> 會員專區</a></li>
          <!-- <li v-for="(brandLeft, index) in brands" :key="'brandLeft'+index" @click="choiceBrand(brandLeft)">
            <a>
              <figure class="image is-24x24 d-inline-block align-bottom">
                <img class="is-rounded" :src="showImageWuhu(brandLeft.BrandLogo)">
              </figure>
              {{brandLeft.Text}}
            </a>
          </li> -->
          <hr class="mx-3 bg-transparent">
          <!-- <li @click="toCloestStore()"><a>店鋪據點</a></li> -->
          <!-- <li @click="$router.push('/cardNews')"><a>最新消息</a></li> -->
          <li @click="openBarcodeWuhu" v-if="false"><a>點數折抵</a></li><!--暫時隱藏-->
          <li @click="$router.push('/cardFaq')"><a>常見問題</a></li>
          <li @click="$router.push('/setting')"><a>設定</a></li>
        </ul>
      </aside>
    </transition>

    <!-- 內容 Slot -->
    <PullRefresh id="pull-content" :on-refresh="onPullRefresh" :config="pullRefreshConfig()" class="flex-fill">
      <slot></slot>
    </PullRefresh>

    <!-- 底導覽列 -->
    <nav class="navbar bottom-nav" v-if="$route.path !== '/cardMember' && $route.path !== '/oldCard'">
      <div class="level is-mobile w-100">
        <div class="level-item has-text-centered">
          <div @click="isModal='findBrand';isSideMenu=false">
            <figure class="image is-24x24 mx-auto">
              <img src="../../assets/images/nav_ic_brand.svg">
            </figure>
            <p class="heading is-size-7 mt-1 mb-0">找品牌</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div @click="chkLogin('/cardCoupon')" :data-badge="[isLogin ? ticketListLength : '']">
            <figure class="image is-24x24 mx-auto">
              <img src="../../assets/images/nav_ic_coupon.svg">
            </figure>
            <p class="heading is-size-7 mt-1 mb-0">搶優惠</p>
          </div>
        </div>
        <div class="level-item has-text-centered align-self-end">
          <div @click="chkLogin('/cardMember')">
            <figure class="image mx-auto" style="width:130px">
              <img src="../../assets/images/nav_ic_member.svg">
            </figure>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div @click="goNews()"><!-- 所有品牌-最新消息 -->
            <figure class="image is-24x24 mx-auto">
              <img src="../../assets/images/nav_ic_news.svg">
            </figure>
            <p class="heading is-size-7 mt-1 mb-0">好康誌</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div @click="$store.dispatch('fetchCloudsearch');isModal='findStore';footerStoreKeyWord='';isSideMenu=false">
            <figure class="image is-24x24 mx-auto">
              <img src="../../assets/images/nav_ic_store.svg">
            </figure>
            <p class="heading is-size-7 mt-1 mb-0">搜門市</p>
          </div>
        </div>
      </div>
    </nav>

    <!-- 會員卡的 QRCode -->
    <transition name="slide-top" mode="out-in">
      <div class="modal mbr-qrcode is-active" v-if="cardQRcode.show">
        <div class="modal-background"></div>
        <div class="modal-content overflow-visible" style="margin-top: 96px">
          <div class="box m-auto text-center text-white bg-lichen-secondary" style="max-width: 300px">
            <header>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
                <path d="M0,0 Q50,50 100,0"></path>
              </svg>
              <h5 class="title is-6">會員條碼</h5>
            </header>
            <article>
              <div class="bg-white p-2 m-auto" style="max-width:200px">
                <figure class="image bg-white is-1by1">
                  <small class="qrcode-rendering has-text-grey-light text-nowrap" @click="renderQRcode()"><i class="fas fa-redo-alt fa-fw fa-lg"></i> 點選產生條碼</small>
                  <img :src="cardQRcode.data.image">
                </figure>
              </div>
              <p class="m-3 is-size-7">{{cardQRcode.data.value}}<br>
                本次條碼可使用時間 {{cardQRcode.timer}} 秒</p>
            </article>
          </div>
            <figure class="image is-96x96 qrcode-avatar bg-white p-3 rounded-pill">
              <b class="w-100 text-center d-block is-size-5 position-absolute ml-n3 text-white" style="margin-top:-48px">
                {{MemberTypeName}}
              </b>
              <img v-if="CardTypeCode == 'A'" src="@/assets/images/card_normal.svg">
              <img v-if="CardTypeCode == 'B'" src="@/assets/images/card_silver.svg">
              <img v-if="CardTypeCode == 'C'" src="@/assets/images/card_gold.svg">
              <img v-if="CardTypeCode == 'D'" src="@/assets/images/card_black.svg">
            </figure>
        </div>
        <button class="modal-close is-large" aria-label="close" @click="hideCardCode"></button>
      </div>

      <!-- 搜 品牌 or 門店 前導 -->
      <div class="modal is-active" style="z-index: 100" v-if="isModal == 'findBrand' || isModal == 'findStore'">
        <div class="modal-background"></div>
        <div class="modal-content">
          <div class="box p-3 m-auto has-background-white-ter" style="max-width: 320px" v-if="isModal == 'findBrand'">
            <p class="mb-3 text-center">請選擇品牌</p>
            <div class="rounded-lg bg-white px-2 py-3 my-3">
              <div class="columns is-mobile is-variable is-1 is-multiline">
                <div class="column py-1 is-4" v-for="(brand, index) in brands" @click="choiceBrand(brand)" :key="'brand'+index">
                  <figure class="image is-1by1 m-0">
										<img :src="showImageWuhu(brand.BrandLogo)" :key="brand.LastModify">
                  </figure>
                </div>
              </div>
            </div>
          </div>
          <div class="box p-3 m-auto has-background-white-ter" style="max-width: 320px" v-if="isModal == 'findStore'">
            <p class="mb-3">
              歡迎光臨，<br>
              好吃的美食就在這裡等你喔！
            </p>
            <div class="rounded-lg my-3">
              <button class="button border bg-white is-fullwidth" @click="toCloestStore()">
                <span>搜尋離我最近的門市</span>
                <span class="icon">
                  <i class="fas fa-mouse-pointer fa-fw"></i>
                </span>
              </button>
            </div>
            <div class="rounded-lg my-3">
              <div class="field has-addons">
                <p class="control has-icons-left">
                  <input class="input" type="text" v-model="footerStoreKeyWord" :placeholder="stSearchNote" @blur="fixScroll">
                  <span class="icon is-small is-left">
                    <i class="fas fa-search fa-fw"></i>
                  </span>
                </p>
                <div class="control" @click="searchStoreByKeyWord()">
                  <a href="javascript:void(0)" class="button bg-lichen-secondary">
                    送出
                  </a>
                </div>
              </div>
            </div>
            <div class="rounded-lg bg-white px-2 py-3 my-3">
              <div class="columns is-mobile is-variable is-1 is-multiline">
                <div class="column py-1 is-4" v-for="(brand, index) in brands" :key="'brandStore'+index" @click="goBrandStore(brand.Text)">
                  <figure class="image is-1by1 m-0">
										<img :src="showImageWuhu(brand.BrandLogo)" :key="brand.LastModify">
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="modal-close is-large" aria-label="close" @click="isModal=''"></button>
      </div>
    </transition>

  </div>
</template>

<style lang="scss" scoped>
.mt-n4 {
    margin-top: -1.75rem !important;
}
.rounded-leftbottom {
  border-bottom-left-radius: 28px;
  border-top-left-radius: 28px;
}
.image.is-64x64 {
  transform: scale(.9);
}
.qrcode-avatar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -72px;

}
header h5 {
  transform: translateY(12px);
}
.qrcode-rendering {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image.is-24x24 {
  width: 20px;
  height: 20px;
}

.bottom-nav .level.is-mobile .level-item:not(:last-child) {
  margin-right: 0;
}
</style>

<script>
import store from 'src/store'
import { SetURLPara, S_Obj } from 'src/fun1.js'	// 共用fun在此!
import PullRefresh from 'src/components/PullRefresh.vue'
import SignInEvent from '@/components/signInEvent.vue' // 簽到活動元件
import SpecShop from '@/components/specShop.vue' // 特約店家掃扣後元件
import { fixScroll, isLogin, showImageWuhu, Closable } from 'src/libs/appHelper.js'
import { deviseFunction } from 'src/libs/deviseHelper.js'
import { computed, ref, reactive, watch } from '@vue/composition-api'

const currentAppUser = computed(() => store.state.currentAppUser)
const userData = computed(() => store.state.userData)
const currentApp = computed(() => currentAppUser.EnterPriseID )
// const publicData = computed(() => store.state.publicData )

// 側選單開關
// const isSideMenu = ref(false)
// 統計優惠卷張數
const ticketCount= computed(() => {
  if (store.getters.currentAppUsers.length === 0) return 0
  const uData1 = store.getters.currentAppUsers.find(app => app.mac === store.state.currentAppUser.mac)
  if (uData1 === undefined) return 0
  const list = uData1.cardTicket.map(item => {return parseInt(item.TicketCount)})
  const count = list.length > 0 ? list.reduce((a, b) => { return a + b } ) : 0
  return count
})

const IsDev = S_Obj.isDebug 	//開發debug
const PG_Brand = '/cardBrand'
let HasPull	= false;		// 防止連拉開關

// 下拉刷新的參數 (依據路徑決定要 call 的 action)
const pathValidation = {
  // 企業公開資料
  '/card':         'fetchData4CardIndex',
  // '/cardFaq':      'fetchAppPublicData',			// 用到再開
  // '/cardMenu':     'fetchAppPublicData',			// 用到再開
  // 先不要pull request以免會always下滑會觸發pull request
  // '/cardStore':    'fetchStoreListData',
  // '/cardProducts': 'fetchAppPublicData',
  '/cardProducts': 'fetchBrandDataGID',
  '/cardNews':     'fetchNewsData',
  //'/cardNewspage': 'fetchNewsData',
  '/cardNewspage':  'fetchBrandNews',
  // 企業會員資料
  '/cardMember':   	'fetchAppPublicDataDetailMemberWuhu', // 有用到
  '/cardProfile':  	'fetchAppUserData',
  '/cardCoupon':   	'fetchAppPublicDataCouponWuhu', // 有用到
  '/cardPoint':    	'fetchAppPublicDataDetailPointWuhu', // 有用到
  '/cardPay':      	'fetchMemberPurchaseRecordData',
  PG_Brand:    			'fetchAppBrandData',
  '/cardPrepay':   	'fetchAppPublicDataDetailPrepayWuhu', // 有用到
  '/getCoupon':    	'fetchMemberDrawTicketListDataWuhu', // 有用到
  '/pointExg':     	'fetchVipAndCardInfoWuhu', // 有用到
  '/oldCard':      	'fetchMemberRegisteredCardsData', // 有用到

}

// QRcode 的參數
const cardQRcode = reactive({
  gid: '',
  timer: 60,
  show: false,
  counter: '',
  data: computed(() => store.state.cardQRCode )
})

// QRcode 參數監聽
watch(() => cardQRcode.timer, () => timerRenderQRcode() )

// 顯示 QRcode 畫面
function showQrcode() {
  store.commit('setCssTouch', false)

  cardQRcode.gid = store.state.baseInfo.memberData.card_info.GID
  cardQRcode.show = true
  // 計時器重設(觸發取會員條碼並倒數計時的邏輯)
  cardQRcode.timer = 0

  console.log('cardQRcode.gid', cardQRcode.gid)

  // 重新跟殼取資料(主要更新當下螢幕亮度值)
  deviseFunction('GetSPAll', '', '"cbFnSyncDeviseInfoToStore"')
  // 進入時將殼的螢幕調到最亮
  deviseFunction('setBrightness', '255', '')
}

// 執行顯示 QRcode 的邏輯
function renderQRcode() {
  // 取會員 QRcode
  store.dispatch('fetchWuhuCardQRCodeData', cardQRcode.gid)
  // 將計數器回到 60 秒
  cardQRcode.timer = 60
  // 開始倒數計時
  if (cardQRcode.counter === '') cardQRcode.counter = setInterval(()=> { cardQRcode.timer = cardQRcode.timer - 1 }, 1000)
}
// 限時顯示 QRcode 的邏輯
function timerRenderQRcode() {
  // 只在計數器為零時才執行
  if (cardQRcode.timer > 0) return
  // 取會員 QRcode
  renderQRcode()
}

export default {
  name: 'LayoutKakar',
  components: { PullRefresh, SignInEvent, SpecShop },
  directives: {
    Closable
  },
  data() {
    return {
      isStaging: S_Obj.isStaging,
      memberData: this.$store.state.baseInfo.memberData,
      publicData: this.$store.state.baseInfo.publicData,
      isModal: '',
      isSideMenu: false,
      footerStoreKeyWord: '',
      sigIn:{isCount:"10",setCount:"12",setPoints:"11",isShow:false}
    };
  },
  setup(props, context) {
    // 未登入 => 導回首頁
    // if (!isLogin.value) context.root.$router.push('/')
    // 主畫面 layout (預設為 Kakar)
    const layout = computed(() => context.root.$route.meta.layout || 'Kakar' )

    // 關閉 QRcode 畫面
    function hideCardCode() {
      cardQRcode.cardGID = ''
      cardQRcode.show = false
      store.commit('setCssTouch', true)

      // 刷新積點資料 (依據 layout 不同更新 vipApps / vipUserData)
      if (layout === 'kakar') store.dispatch('fetchVipApps')
      if (layout === 'card')  store.dispatch('fetchAppUserData')
      // 清空會員 QRcode 資料
      store.commit('setCardQRCodeData', {value: '', image: '', loaded: false})
      // 關閉倒數計時器
      clearInterval(cardQRcode.counter) ; cardQRcode.counter = '' ; cardQRcode.timer = 60
      // 將殼的螢幕恢復原本亮度
      deviseFunction('setBrightness', store.getters.deviseBrightness, '')
    }

    const urlPath = computed(() => context.root.$route.path )
    const urlQuery = computed(() => context.root.$route.query )
    const refreshAction = ref('')

    // 下拉刷新功能的啟用判斷邏輯
    const canEnabled = computed(() => {
      let path = urlPath.value
      if (/\/cardMenu\//.test(urlPath))     path = '/cardMenu'
      if (/\/cardNewspage\//.test(urlPath.value)) path = '/cardNewspage'
      if (/\/cardProducts\//.test(urlPath.value)) path = '/cardProducts'

      const isEnabled = pathValidation[path] !== undefined
      if (isEnabled) refreshAction.value = pathValidation[path]
      return isEnabled
    })

    // 下拉刷新的設定檔
    function pullRefreshConfig() {
      // 如果未登入/無企業資料，不啟用
      if (!isLogin || !currentApp ) return { pullEnabled: false }
      return { pullEnabled: canEnabled.value }
    }

    // 下拉後啟動刷新的邏輯
    function onPullRefresh() {
			if (!HasPull) {
				HasPull = true;

      let qUrl = urlQuery.value || {};
      store.dispatch(refreshAction.value,qUrl)
				console.warn('下拉刷新_Act: ', refreshAction.value);	// @@

      // === 即時更新橫幅的圖片 === start
      let path = this.$route.path
      if (path == '/card') {
        store.commit('setMainBannerUpdate', true)
        store.dispatch('fetchMemberTicketListDataWuhu')
      }
      // === 即時更新橫幅的圖片 === end

				setTimeout(function () {
					HasPull = false;
				}, 5000);
			}
      return new Promise(resolve => setTimeout(() => resolve(), 1000) )
    }

    return {
      isLogin, onPullRefresh, pullRefreshConfig,
//      publicData, ticketCount, timerRenderQRcode, renderQRcode,
      ticketCount, timerRenderQRcode, renderQRcode,
      cardQRcode, showQrcode, hideCardCode, layout, fixScroll, userData
    }
  },

	/** @Important: ※有陷阱：這裡永不會來,因它是Layout */
  // beforeRouteEnter(to, from, next) {
		// console.log('beforeRouteEnter-to.path: ', to.path);	// @@
		// const tq 		= to.query
		// console.warn('beforeRouteEnter-tq: ', tq);	// @@

		// next()
  // },
	/** @Important: ※有陷阱：這裡APP啟動後只會進來1次 */
  created: function() {
		// console.warn('APP啟動後只出現1次');	// @@
    store.dispatch('fetchCompanyData')

    // 取優惠卷列表資訊
    store.dispatch('fetchMemberTicketListDataWuhu')
    this.loadActivity();
  },
  computed: {
    activity() {
      if (!store.state.memberData.activityInfo.list) return {};
      const acti_list = store.state.memberData.activityInfo.list.filter((p_list)=>{return p_list.ActivityType == 2})
      return (acti_list.length ? acti_list[0] : {})
    },
    activity_log() {
      if (!store.state.memberData.activityInfo.finish) return [];
      return store.state.memberData.activityInfo.finish      //CreateDate
    },
    becomeSt(){
      return store.state.becomeApp.isShow;
    },
    points() { return this.memberData.card_info.Points ? parseInt(this.memberData.card_info.Points) : 0 },
    CardTypeCode() { return this.memberData.card_info.CardTypeCode },
    MemberTypeName() { return this.memberData.vip_info.MemberTypeName },
    brands() {	// 品牌詳情
			const companyData = this.publicData.companyData
			let brandList = companyData.length ? companyData.filter((item) => {
          return item.isBrand == true
        }) : []
      // console.log('品牌詳情-brandList: ', brandList);	// @@
      return brandList;
    },
    ticketListLength() {
      let ticketLength = 0
      let ticketList = this.memberData.ticketList
      if (ticketList) {
        ticketLength = ticketList.length
      }
      return ticketLength
    },
    store_keys(){
			const cloudsearch = this.publicData.cloudsearch
			let arr1 = cloudsearch.length ? cloudsearch.filter((item) => {
          return item.LinkPosition == "門店搜尋"
				}) : []
      return arr1;
    },
    store_cloudKeys(){
      return this.store_keys.filter((item) => {
          return item.isFullText
      })
    },
    stSearchNote(){
      //isText
      let brandArr = this.store_keys.filter((item) => {
          return item.isText
      })
      let p_text = "";
      if (Array.isArray(brandArr) && brandArr.length>0) p_text = brandArr[0]["Text"];
      return p_text;
    },
    specShopModal() {
      // if(this.$route.query.type == 'specShop') return true
      // else return false
			return this.$route.query.type == 'specShop'
    }
  },
  watch: {
    becomeSt(){
      this.loadActivity(true);
    },
  },
  methods: {
    showImageWuhu,
    async loadActivity(isCall){
      // 簽到活動列表
      await store.dispatch('fetchVipGetActivity')
      // 活動簽到資料
      if (this.activity.GID){
				await store.dispatch('fetchVipActivityLog',this.activity)
				await store.dispatch('fetchVipGetActivityDetail',this.activity)
				if (isCall) store.commit('setBecomeApp_load') //觸發簽到日曆
				this.sigIn.isShow = true; //有活動才開簽到日曆
      }
      if (!this.isLogin){
        await store.dispatch('fetchVipGetActivity_smp')
        if (this.activity.GID) this.sigIn.isShow = true; //未註冊會員也可以看到活動
      }
    },
    chkLogin(str_path){
			const isTrue = this.isLogin
					,thePage = isTrue ? str_path : '/login'
      if (isTrue) {
				this.isSideMenu = false
      }
			this.$router.push({path: thePage})
    },
    goBack() {
			let goPage = '/card'
			const LastPage 	= 'LastPage'
				,_last				= S_Obj.read(LastPage)
				// ,_page	 			= this.$route.path
				,_page	 			= this.$route.fullPath
			// console.log('goBack-thePage,LastPage: ', _page, _last);	// @@

			if (_last) {
				goPage = _last;
				S_Obj.save(LastPage, '');

			} else if (/cardNewspage/.test(_page)) {
				goPage = '/cardBrand'
				// this.$router.go(-1);
			// } else {
			}
			if (_page == _last) { goPage = '/card'; }

			this.$router.replace({path: goPage});
    },
    goPG_Brand(str1) {
			// console.log('CardKakar-goPG_Brand-URLPara: ', str1);	// @@
			SetURLPara(str1);

			const rnd1 = Math.random().toString().slice(-8)
			const param1 = {
				path: PG_Brand,
				query: {rnd: rnd1}	// 為了觸發 RouteUpdate
			}
			this.$router.replace(param1);
    },
		/* 選消息 */
    goNews(){
			this.goPG_Brand('#/cardBrand?isMode=news&isType=news');
    },
		/* 選品牌 */
    choiceBrand(p_brand) {
			const brandID	= p_brand.ID
				,str1 			= '#/cardBrand?isMode=brand&isType=brand&gid='+brandID
			// console.log('選品牌-brandID: ', brandID);	// @@
			this.goPG_Brand(str1);
			this.isModal = ''
    },
		/* 找品牌 */
    goBrandStore(brandStr) {
      // console.log('goBrandStore ===> brandStr =>' + brandStr)

      // === 只查品牌,其他查詢條件清空 === start
      store.commit('setStoreQueryBrand', brandStr)
      store.commit('setStoreQueryZone', {
        searchZoneDisplay: '全部地區',
        searchZoneType: '',
        searchCity: '',
        searchArea: '',
      })
      store.commit('setStoreQueryKeyWord', '')
      // === 只查品牌,其他查詢條件清空 === end

      if (location.href.indexOf('/cardStore')>=0) {
        store.commit('setStore2Store', true)
      } else {
        this.$router.push({ path: '/cardStore'})
      }
      this.isModal = ''
    },
    // 最近門店
    toCloestStore() {
      // === 全部查詢條件清空 === start
      store.commit('setStoreQueryBrand', '全部品牌')
      store.commit('setStoreQueryZone', {
        searchZoneDisplay: '全部地區',
        searchZoneType: '',
        searchCity: '',
        searchArea: '',
      })
      store.commit('setStoreQueryKeyWord', '')
      // === 全部查詢條件清空 === end

      if (location.href.indexOf('/cardStore')>=0) {
        store.commit('setStore2Store', true)
      } else {
        this.$router.push({ path: '/cardStore'})
      }
      this.isModal = ''
    },
    searchStoreByKeyWord() {
      store.commit('setStoreQueryBrand', '全部品牌')
      store.commit('setStoreQueryZone', {
        searchZoneDisplay: '全部地區',
        searchZoneType: '',
        searchCity: '',
        searchArea: '',
      })
      store.commit('setStoreQueryKeyWord', this.footerStoreKeyWord)

      if (location.href.indexOf('/cardStore')>=0) {
        store.commit('setStore2Store', true)
      } else {
        this.$router.push({ path: '/cardStore'})
      }
      this.isModal = ''
    },
    onClose() {
      this.isSideMenu = false
    },
    openBarcodeWuhu() {
      // 開啟手機的條碼掃描 by 側邊選單掃描QRCODE
			if (IsDev) {
				const QrCode = 'shop?type=specShop＆list=S035';		// @@
				store.dispatch('fetchQrcodUrl', QrCode);

			} else {
				deviseFunction('barcode', '', '"cbFnScanWuhuQrCode"');
			}
    },
  },
}
</script>