<template>
  <div class="vh-100 d-flex flex-column bg-image">
    <!-- Navbar - 未登入 && 註冊/登入 -->
    <nav class="navbar is-login-top-nav w-100 position-fixed" role="navigation">
      <div class="navbar-menu">
        <div class="navbar-start">
          <!-- 返回全版Banner -->
          <a href="javascript:void(0)" class="navbar-item text-white" v-if="$route.path == '/login'" @click="$router.push('/')">
            <i class="fas fa-arrow-left fa-fw"></i>
          </a>
          <!-- 返回登入 -->
          <a href="javascript:void(0)" class="navbar-item" :class="{'text-white':$route.fullPath != '/register?type=fillout'}" v-if="$route.path == '/register'" @click="registerBack()">
            <i class="fas fa-arrow-left fa-fw"></i>
          </a>
          <!-- 設定返回 -->
          <a href="javascript:void(0)" class="navbar-item text-black" v-if="$route.path == '/setting'" @click="goBack">
            <i class="fas fa-arrow-left fa-fw"></i>
          </a>
        </div>
        <!-- ********** 中(頁面名稱) ********** -->
        <div class=" is-size-5 navbar-item" v-if="$route.path == '/setting'">{{$store.state.isPageName}}</div>
        <div class="navbar-end">
          <div class="navbar-item" v-if="$route.path == '/'" @click="$router.push('/card')">
            <figure class="image is-24x24">
              <img src="@/assets/images/nav-ic-home.svg">
            </figure>
          </div>
        </div>
      </div>
    </nav>

    <PullRefresh id="pull-content" :on-refresh="onPullRefresh" :config="pullRefreshConfig" class="flex-fill"
      :class="[(($route.path == '/register' && $route.query.type == 'fillout') || $route.path == '/setting')?'has-background-white-ter':'bg-transparent']"
    >
      <slot></slot>
    </PullRefresh>

    <!-- 底導覽列 -->
    <nav class="navbar bottom-nav" v-if="$route.path == '/'">
      <div class="level is-mobile w-100">
        <div class="level-item has-text-centered">
          <div @click="isModal='findBrand'">
            <figure class="image is-24x24 mx-auto">
              <img src="../../assets/images/nav_ic_brand.svg">
            </figure>
            <p class="heading is-size-7 mt-1 mb-0">找品牌</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div @click="chkLogin('/cardCoupon')">
            <figure class="image is-24x24 mx-auto">
              <img src="../../assets/images/nav_ic_coupon.svg">
            </figure>
            <p class="heading is-size-7 mt-1 mb-0">搶優惠</p>
          </div>
        </div>
        <div class="level-item has-text-centered align-self-end">
          <div @click="chkLogin('/cardMember')">
            <figure class="image mx-auto" style="width:130px">
              <img src="../../assets/images/nav_ic_member.svg">
            </figure>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div @click="goNews()"><!-- 所有品牌-最新消息 -->
            <figure class="image is-24x24 mx-auto">
              <img src="../../assets/images/nav_ic_news.svg">
            </figure>
            <p class="heading is-size-7 mt-1 mb-0">好康誌</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div @click="$store.dispatch('fetchCloudsearch');isModal='findStore';footerStoreKeyWord=''">
            <figure class="image is-24x24 mx-auto">
              <img src="../../assets/images/nav_ic_store.svg">
            </figure>
            <p class="heading is-size-7 mt-1 mb-0">搜門市</p>
          </div>
        </div>
      </div>
    </nav>

    <!-- 搜 品牌 or 門店 前導 -->
    <transition name="slide-top" mode="out-in">
      <!-- 搜 品牌 or 門店 前導 -->
      <div class="modal is-active" style="z-index: 100" v-if="isModal == 'findBrand' || isModal == 'findStore'">
        <div class="modal-background"></div>
        <div class="modal-content">
          <div class="box p-3 m-auto has-background-white-ter" style="max-width: 320px" v-if="isModal == 'findBrand'">
            <p class="mb-3 text-center">請選擇品牌</p>
            <div class="rounded-lg bg-white px-2 py-3 my-3">
              <div class="columns is-mobile is-variable is-1 is-multiline">
                <div class="column py-1 is-4" v-for="(brand, index) in brands" @click="choiceBrand(brand)" :key="'brand'+index">
                  <figure class="image is-1by1 m-0">
										<img :src="showImageWuhu(brand.BrandLogo)" alt="">
                  </figure>
                </div>
              </div>
            </div>
          </div>
          <div class="box p-3 m-auto has-background-white-ter" style="max-width: 320px" v-if="isModal == 'findStore'">
            <p class="mb-3">
              歡迎光臨，<br>
              好吃的美食就在這裡等你喔！
            </p>
            <div class="rounded-lg my-3">
              <button class="button border bg-white is-fullwidth" @click="toCloestStore()">
                <span>搜尋離我最近的門市</span>
                <span class="icon">
                  <i class="fas fa-mouse-pointer fa-fw"></i>
                </span>
              </button>
            </div>
            <div class="rounded-lg my-3">
              <div class="field has-addons">
                <p class="control has-icons-left">
                  <input class="input" type="text" v-model="footerStoreKeyWord" :placeholder="stSearchNote" @blur="fixScroll">
                  <span class="icon is-small is-left">
                    <i class="fas fa-search fa-fw"></i>
                  </span>
                </p>
                <div class="control" @click="searchStoreByKeyWord()">
                  <a href="javascript:void(0)" class="button bg-lichen-secondary">
                    送出
                  </a>
                </div>
              </div>
            </div>
            <div class="rounded-lg bg-white px-2 py-3 my-3">
              <div class="columns is-mobile is-variable is-1 is-multiline">
                <div class="column py-1 is-4" v-for="(brand, index) in brands" :key="'brandStore'+index" @click="goBrandStore(brand.Text)">
                  <figure class="image is-1by1 m-0">
										<img :src="showImageWuhu(brand.BrandLogo)" alt="">
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="modal-close is-large" aria-label="close" @click="isModal=''"></button>
      </div>
    </transition>
  </div>
</template>

<style lang="scss" scoped>
.is-login-top-nav {
  padding-top: env(safe-area-inset-top);
  background: rgba(255,255,255,0);
}
.bg-image {
  background-image: linear-gradient( to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9) 90% ), url('../../assets/images/login_bg.png');
  background-size: cover;
}
.bottom-nav .level.is-mobile .level-item:not(:last-child) {
  margin-right: 0;
}
</style>

<script>
import store from 'src/store'
import { SetURLPara, S_Obj } from 'src/fun1.js'	// 共用fun在此!
import PullRefresh from 'src/components/PullRefresh.vue'
import { fixScroll, isLogin, showImageWuhu, touchScrolling } from 'src/libs/appHelper.js'
import { deviseFunction } from 'src/libs/deviseHelper.js'
// import { computed, ref, reactive, watch } from '@vue/composition-api'



const PG_Brand = '/cardBrand'

// 開啟手機的條碼掃描
function openBarcodeScan() { return deviseFunction('barcode', '', '"cbFnScanKakarAppsQrCode"') }
// 依據是否登入來設定啟用下拉刷新功能
const pullRefreshConfig = { pullEnabled: false/*isLogin.value*/ }
// 下拉後啟動刷新的邏輯
function onPullRefresh() {
  let path = this.$route.path
  console.log('onPullRefresh ===> path =>' + path)
  if (path == '/') {
    // store.dispatch('fetchAdvertise')
  } else if (/login|register/.test(path)) {
    store.dispatch('fetchIndexSubBannerWuhu')
    store.commit('setSubBannerUpdate', true) // 即時更新副橫幅
  } else if (path == '/setting') {
    store.dispatch('fetchVipAndCardInfoWuhu')
  }
  return new Promise(resolve => setTimeout(() => resolve(), 1000) )
}

export default {
  name: 'LayoutKakar',
  components: { PullRefresh },
  setup() {
    return { fixScroll, touchScrolling, isLogin, openBarcodeScan, onPullRefresh, pullRefreshConfig }
  },
  data() {
    return {
      isModal: '',
      memberData: this.$store.state.baseInfo.memberData,
      publicData: this.$store.state.baseInfo.publicData,
      footerStoreKeyWord: '',
    }
  },
  created: function() {
    store.dispatch('fetchCompanyData')
  },
  computed: {
    brands() {
      let companyData = store.state.baseInfo.publicData.companyData
      // console.log('brands ===> companyData =>', companyData)
      let brandList = []
      if (companyData) {
        // 隱私權
        brandList = companyData.filter((item) => {
          return item.isBrand == true
        })
      }
      return brandList
    },
    store_keys(){
			const cloudsearch = this.publicData.cloudsearch
			let arr1 = cloudsearch.length ? cloudsearch.filter((item) => {
          return item.LinkPosition == "門店搜尋"
				}) : []
      return arr1;
    },
    store_cloudKeys(){
      return this.store_keys.filter((item) => {
          return item.isFullText
      })
    },
    stSearchNote(){
      //isText
      let brandArr = this.store_keys.filter((item) => {
          return item.isText
      })
      let p_text = "";
      if (Array.isArray(brandArr) && brandArr.length>0) p_text = brandArr[0]["Text"];
      return p_text;
    }
  },
  methods: {
    showImageWuhu,

    // 註冊頁的回上一步
    registerBack() {
      let type = this.$route.query.type
      // 如果在[下一步驟]/register?type=fillout
      if (type == 'fillout') {
        // 就回到[第一步驟]/register
        this.$router.push({path: '/register'})
      // 如果已經在[第一步驟]/register
      } else {
        // 就回到登入頁
        this.$router.push({path: '/login'})
      }
    },
    chkLogin(str_path){
			const isTrue = this.isLogin
					,thePage = isTrue ? str_path : '/login'
			this.$router.push({path: thePage})
    },
    goBack() {
			const thePage = this.$route.path
					// ,type1 		= this.$route.query.type
			let goPage = '/card';
			// console.log('goBack-type1,goPage: ', type1, goPage);	// @@
			if (/setting/.test(thePage)) {
				this.$router.go(-1);
			} else {
				const LastPage 	= 'LastPage'
					,para1				= S_Obj.read(LastPage)
				// console.log('goBack-thePage,LastPage: ', thePage, para1);	// @@
				if (para1) {
					goPage = para1;
					S_Obj.save(LastPage, '');
				} else if (/cardNewspage/.test(thePage)) {
					goPage = '/cardBrand'
				}
				this.$router.replace({path: goPage});
			}
    },
    goPG_Brand(str1) {
			// console.log('Kakar.vue-goPG_Brand-URLPara: ', str1);	// @@
			SetURLPara(str1);

			const rnd1 = Math.random().toString().slice(-8)
			const param1 = {
				path: PG_Brand,
				query: {rnd: rnd1}	// 為了觸發 RouteUpdate
			}
			this.$router.replace(param1);
    },
		/* 選消息 */
    goNews(){
			this.goPG_Brand('#/cardBrand?isMode=news&isType=news');
    },
		/* 選品牌 */
    choiceBrand(p_brand) {
			const brandID	= p_brand.ID
				,str1 			= '#/cardBrand?isMode=brand&isType=brand&gid='+brandID
			// console.log('Kakar.vue選品牌-brandID: ', brandID);	// @@
			this.goPG_Brand(str1);
			this.isModal = ''
    },
		/* 找品牌 */
    goBrandStore(brandStr) {
      // console.log('goBrandStore ===> brandStr =>' + brandStr)

      // === 只查品牌,其他查詢條件清空 === start
      store.commit('setStoreQueryBrand', brandStr)
      store.commit('setStoreQueryZone', {
        searchZoneDisplay: '全部地區',
        searchZoneType: '',
        searchCity: '',
        searchArea: '',
      })
      store.commit('setStoreQueryKeyWord', '')
      // === 只查品牌,其他查詢條件清空 === end

      if (location.href.indexOf('/cardStore')>=0) {
        store.commit('setStore2Store', true)
      } else {
        this.$router.push({ path: '/cardStore'})
      }
      this.isModal = ''
    },
    // 最近門店
    toCloestStore() {
      // === 全部查詢條件清空 === start
      store.commit('setStoreQueryBrand', '全部品牌')
      store.commit('setStoreQueryZone', {
        searchZoneDisplay: '全部地區',
        searchZoneType: '',
        searchCity: '',
        searchArea: '',
      })
      store.commit('setStoreQueryKeyWord', '')
      // === 全部查詢條件清空 === end

      if (location.href.indexOf('/cardStore')>=0) {
        store.commit('setStore2Store', true)
      } else {
        this.$router.push({ path: '/cardStore'})
      }
      this.isModal = ''
    },
    searchStoreByKeyWord() {
      store.commit('setStoreQueryBrand', '全部品牌')
      store.commit('setStoreQueryZone', {
        searchZoneDisplay: '全部地區',
        searchZoneType: '',
        searchCity: '',
        searchArea: '',
      })
      store.commit('setStoreQueryKeyWord', this.footerStoreKeyWord)

      if (location.href.indexOf('/cardStore')>=0) {
        store.commit('setStore2Store', true)
      } else {
        this.$router.push({ path: '/cardStore'})
      }
      this.isModal = ''
    },
  }
}
</script>