<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!-- viewport-fit=cover 處理ios滿版含statusbar -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, viewport-fit=cover">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>LICHEN App</title>
  </head>
  <body style="padding: 0; margin: 0">
    <noscript>
      <strong>We're sorry but lichen-register doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">
      <div style="height: 100vh; width: 100%; position: absolute; z-index: 99999; text-align: center; display: flex; align-items: center; justify-content: center; background: #273144">
        <!-- 資料加載動畫 -->
        <div>
          <img src="<%= BASE_URL %>bearApron.svg" style="width:128px">
          <p style="color: white;margin-top: 1rem">資料加載中，請稍後...</p>
        </div>
        <!-- 沒有網路連線動畫
        <div style="display:none">
          <img src="<%= BASE_URL %>disconnected.svg">
          <p style="color: gray;margin-top: 1rem">沒有網路連線，請稍後再試...</p>
          <div style="margin-top: 1rem; background: dimgray; color: white; padding: 8px 32px; border-radius: 4px; text-align: center;">重新載入</div>
        </div> -->
      </div>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
