/* 專屬 css 寫在這裡 */
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@function rem($size) {
  @return $size / 16px * 1rem;
}

:root {
  --font-family-zhtw: "微軟正黑體"; /* font */
  --top-nav-height: 54px; /* nav height */
  --bottom-nav-height: 54px;
  --side-nav-width: 160px;
  --ios-statusbar-height: 20px; /* for iOS */
  --ootoya-color: #010b53; /* color */
  --yellow-color: $yellow;
  --lichen-orange: #{$lichen-orange};
}

.bg-lichen-primary {
  background-color: #{$lichen-primary-color} !important;

}

.bg-lichen-light {
  background-color: lighten($lichen-primary-color, 45%);
}

.bg-lichen-secondary {
  background-color: #{$lichen-secondary-color} !important;
  color: white;
  &:hover {
    color: white;
  }
}

.text-lichen-dark {
  color: #{$lichen-sidemenu-color};
}

.text-lichen-primary {
  color: #{$lichen-primary-color};
}

.text-lichen-secondary {
  color: #{$lichen-secondary-color};
}

.text-lichen-orange {
  color: #{$lichen-orange} !important;
}

.lichen-border {
  border-color: #{$lichen-primary-color} !important;
}

.bg-li-light{
  background-color: hsl(48, 100%, 50%);
}

.is-facebook {
  background-color: $facebook;
  color: white;
  &:hover {
    color: white;
  }
}
.is-twitter {
  background-color: $twitter;
  color: white;
  &:hover {
    color: white;
  }
}
.is-instagram {
  background-color: $instagram;
  color: white;
  &:hover {
    color: white;
  }
}
.is-line {
  background-color: $line;
  color: white;
  &:hover {
    color: white;
  }
}

*:not(input) {
  /*-webkit-touch-callout: none;  Disable Android and iOS callouts*/
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}
 
::placeholder {
  color: #444 !important;
}

input:not([type=checkbox]):not([type=radio]),
select {
  -webkit-appearance: none;
  // border-radius: 0;
}

a:hover {
  text-decoration: none !important;
}

.select:not(.is-multiple):not(.is-loading)::after,
.select:not(.is-multiple):not(.is-loading):hover::after {
  border-color: $green;
  right: .25em;
}

.select select:not([multiple]) {
  padding-right: 1em;
}

input:not([type=checkbox]):not([type=radio]):focus {
  border-color: $lichen-primary-color !important;
}

// 去除無資料外灰框
img[src=""], img:not([src]){
  opacity:0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
}

html, body {
  height: 100vh;
  width: 100vw;
  font-size: 16px;
  line-height: 1.25;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", var(--font-family-zhtw), "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.text-wide {
  letter-spacing: 8px;
  text-indent: 8px;
}

.modal-close {
  top: calc(10px + env(safe-area-inset-top));
  background-color: rgba(10, 10, 10, 0.4);
  transform: scale(1.25);
}

.modal-content {
  max-height: none;
}

.input-radio {
  width: 24px;
  height: 24px;
  position: relative;
  top: 6px;
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9;
}

.object-fit-cover {
  object-fit: cover;
  object-position: 50% 50%;
}

.object-fit-contain {
  object-fit: contain;
}

.overflow-visible {
  overflow: visible;
}

/* datepicker customize */
.vdp-datepicker__calendar {
  width: calc(100vw - 32px) !important;
  font-size: 1.125rem;
  left: 50%;
  transform: translateX(-50%);
  margin-left: -32px;
  border-radius: 4px;
  border-color: $lichen-primary-color !important;
  border-width: 2px !important;
  // box-shadow: 0 0.5em 1em -0.125em rgba($lichen-primary-color,.4), 0 0 0 1px rgba($lichen-primary-color,.06);
  padding: 8px;
  .cell.selected {
    background: $lichen-primary-color !important;
    border-radius: 20px;
    font-weight: bold;
  }
  .cell:not(.blank):not(.disabled).year:hover,
  .cell:not(.blank):not(.disabled).month:hover,
  .cell:not(.blank):not(.disabled).day:hover {
    border: 1px solid transparent !important;
  }
}
.iDay-datepicker {
  .vdp-datepicker__calendar {
    margin-left: -48px;
    header, .day-header {
      display: none;
    }
  }
}

// 平板裝置日曆元件跑版修正
@media only screen 
  and (min-device-width: 600px) 
  and (max-device-width: 1920px) {
    .vdp-datepicker__calendar {
      width: calc(64vw) !important;
      left: 0;
      transform: translateX(0);
      margin-left: 0;
    }
}

.vdp-datepicker__clear-button {
  position: absolute;
  font-size: 24px;
  color: #ccc;
  right: 0;
  top: 0;
  i {
    font-style: normal;
    margin-top: 4px;
    display: inline-block;
  }
}

.is-home-top-nav {
  padding-top: env(safe-area-inset-top);
  background-color: transparent;
  // background-image: linear-gradient(180deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0));
  z-index: 97;
}

// 登入後首頁輪播樣式
.home-swiper {
  height: 100%;
  .swiper-slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .swiper-content {
    width: calc(100% - 5rem);
    position: absolute;
    bottom: 1.5rem;
    background: rgba(255, 255, 255, 0.95);
    .title {
      color: var(--ootoya-color);
    }
  }
}

.reg-title {
  padding: 12px 0;
  padding-top: calc(12px + env(safe-area-inset-top));
}

.fa-share-alt.fa-stack-1x {
  transform: translateX(-1px);
}

.flex-fill {
  flex: 1 1 0 !important;
}

/* 置頂(底)功能列 */
.bottom-nav {
  height: calc(var(--bottom-nav-height) + env(safe-area-inset-bottom));
  padding: 0 24px env(safe-area-inset-bottom);
  z-index: 99;
  background-color: $lichen-primary-color;
}

/* 側選單 */
.menu { 
  padding-top: env(safe-area-inset-top);
  overflow: visible;
  background: $lichen-sidemenu-color;
  position: absolute;
  height: 100%;
  width: var(--side-nav-width);
  z-index: 98;
  .menu-list a {
    color: white;
    padding: 8px 16px;
    font-size: 18px;
    &:hover {
      background-color: rgba(white, .1);
      text-decoration: none;
    }
  }
}

hr {
  background-color: rgba(black, .1);
  height: 1px;
  margin: .5rem 0;
}

.drop-shadow {
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,.3));
}

.swiper-lazy-preloader {
  width: 24px !important;
  height: 24px !important;
  margin-left: -12px !important;
  margin-top: -12px !important;
}

.message {
  border-radius: 8px !important;
  .message-header {
    border-radius: 8px 8px 0 0 !important;
  }
  .message-body {
    border-radius: 0 0 8px 8px !important;
  }
}

.rounded-lg {
  border-radius: 8px !important;
}

.rounded-xlg {
  border-radius: 16px !important;
}

/* 換頁動畫 */
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all .15s ease;
}
.slide-fade-enter,
.slide-fade-leave-to {
  opacity: 0;
}

/* 滑動圖層 */
.slide-layer {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 99;
  padding-top: env(safe-area-inset-top);
}

/**
 * vue enter/leave transition
 * 側選單 & 滑動圖層
 */
.expand-enter-active,
.expand-leave-active,
.slide-top-enter-active,
.slide-top-leave-active,
.side-menu-enter-active,
.side-menu-leave-active {
  transition: all .3s ease;
}
.slide-top-enter,
.slide-top-leave-to {
  transform: translateY(100%);
}
.side-menu-enter,
.side-menu-leave-to {
  transform: translateX(calc(var(--side-nav-width)*-1));
}
.expand-enter,
.expand-leave {
  opacity: 0;
}

/* The switch */
.switch[type="checkbox"] {
  outline: 0;
  user-select: none;
  display: inline-block;
  position: absolute;
  opacity: 0;
}
.switch[type="checkbox"]:focus + label::before,
.switch[type="checkbox"]:focus + label:before,
.switch[type="checkbox"]:focus + label::after,
.switch[type="checkbox"]:focus + label:after {
  outline: 1px dotted #b5b5b5;
}
.switch[type="checkbox"] + label {
  position: relative;
  display: initial;
  font-size: 1rem;
  line-height: initial;
  padding-left: 3rem;
  padding-top: 0.2rem;
  cursor: pointer;
}
.switch[type="checkbox"] + label::before,
.switch[type="checkbox"] + label:before {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 3rem;
  height: 1.5rem;
  border: 0.1rem solid transparent;
  border-radius: 4px;
  background: #b5b5b5;
  content: "";
}
.switch[type="checkbox"] + label::after,
.switch[type="checkbox"] + label:after {
  display: block;
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  width: 1rem;
  height: 1rem;
  transform: translate3d(0, 0, 0);
  border-radius: 4px;
  background: #fff;
  transition: all 0.25s ease-out;
  content: "";
}
.switch[type="checkbox"]:checked + label::before,
.switch[type="checkbox"]:checked + label:before {
  background: $lichen-primary-color;
}
.switch[type="checkbox"]:checked + label::after {
  left: 1.625rem;
}
.switch[type="checkbox"] + label::before,
.switch[type="checkbox"] + label:before {
  border-radius: 290486px;
}
.switch[type="checkbox"] + label::after,
.switch[type="checkbox"] + label:after {
  border-radius: 290486px;
}

/* swiper pagination color */
.swiper-pagination-bullet-active {
   background: $lichen-primary-color !important;
}
 
/* 預設會員頭像 */
.mbr-avatar {
  width: 6.25rem;
  height: 6.25rem;
  border-width: 4px!important;
  background: linear-gradient(0deg, #fff 50%, #f1f1f1 100%);
}

/* 優惠券TAB */
.tabBar .tabLink {
  border-bottom-width: 3px !important;
  border-bottom-color: transparent !important;
  padding: .5rem 0;
}

.tabBar .tabLink.isActive {
  border-bottom-width: 3px !important;
  border-bottom-color: var(--primary-color) !important;
}

/* for vue use */
[v-cloak] {
  display: none;
}
[disabled] {
  pointer-events: none;
}

/* checked button */

input[type="checkbox"].ck-button + label,
input[type="radio"].ck-button + label {
	display: inline-block;
  padding: .25rem .5rem;
  min-width: 32%;
  color:black;
  background:#eee;
  border:1px solid #ccc;
	text-align: center;
	border-radius: 4px;
	margin: .25rem .125rem;
}
input[type="checkbox"].ck-button:checked + label,
input[type="radio"].ck-button:checked + label {
  border:1px solid black;
  background: black;
  color: white;
}

.scroll-touch {
  // -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}

.text-elps {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.align-sub {
  vertical-align: sub;
}

.white-space-wrap {
  white-space: pre-wrap;
}

.grayscale-100 {
  filter: grayscale(100%);
}

.opacity-75 {
  opacity: .75;
}

.checkbox input.is-150 {
  transform : scale(1.3);
}

.line-height-100 {
  line-height: 100%;
}
.line-height-150 {
  line-height: 150%;
}

.notification.is-warning.is-light {
  background-color: #fffbeb;
  color: #947600;
}
.notification.is-info.is-light {
    background-color: #eef6fc;
    color: #1d72aa;
}

.mbr-qrcode {
  z-index: 101;
  .box {
    padding: 0;
    overflow: hidden;
    header {
      position: relative;
      background: $lichen-primary-color;
      padding: 1.25em 1em 0;
      margin-bottom: 2.5em;
      svg {
        position: absolute;
        bottom: -100px;
        width: 115%;
        height: 100px;
        left: 50%;
        transform: translateX(-50%);
        fill: $lichen-primary-color;
      }
    }
  }
}

/* top nav background */
.top-nav-bg {
  background-image: linear-gradient(90deg, #effaf3 0%, hsl(205, 71%, 94%) 100%);
}

/* coupon style */
.coupon-style {
  background-image: linear-gradient(135deg, #ffffff 25%, #fafafa 25%, #fafafa 50%, #ffffff 50%, #ffffff 75%, #fafafa 75%, #fafafa 100%);
  background-size: 160.00px 160.00px;
  border: 1px solid hsl(0, 0%, 86%);
  .media-left {
    border-right: 2px dotted hsl(0, 0%, 78%);
    padding-right: 1rem;
    margin-right: 1rem;
    .icon-cut {
      .fa-cut {
        position: absolute;
        right: -1.375rem;
        top: -56px;
        transform: rotate(-90);
        color: hsl(0, 0%, 71%);
      }
    }
  }
}

/* badge style */
[data-badge] {
  position: relative;
  &::after {
    display: inline-block;
    position: absolute;
    margin: 0;
    padding: calc((#{rem(20px)} - .75rem) / 2);
    text-align: center;
    white-space: nowrap;
    line-height: 1;
    background: $lichen-secondary-color;
    background-clip: padding-box;
    border-radius: 290486px;
    box-shadow: 0 0 0 1px #fff;
    color: #fff;
    content: attr(data-badge);
    z-index: 99;
    min-width: rem(20px);
    min-height: rem(20px);
    top: 12px;
    right: 12px;
    bottom: auto;
    left: auto;
    transform: translate(50%, -50%);
    font-size: .75rem;
  }
}
.badge-gray[data-badge]::after {
  filter: grayscale(100%);
  opacity: .3;
}
[data-badge='0'], [data-badge=''] {
  &::after {
    display: none;
  }
}

.bottom-nav [data-badge] {
  &::after {
    right: 0;
    top: 0;
  }
}

.tabs {
  [data-badge]::after {
    top: 17px;
    right: 8px;
    background: $lichen-primary-color;
    color: black;
  }
}

// Bulma-Extensions Divider

$divider-background-color: $green !default;
$divider-thickness: 2px !default;
$divider-font-size: $size-7 !default;
$divider-color: $grey-light !default;
$divider-content-background-color : $white !default;

.is-divider, .is-divider-vertical {
  display: block;
  position: relative;
  border-top: $divider-thickness solid $divider-background-color;
  height: $divider-thickness;
  margin: 1.25rem 0 .5rem 0;
  text-align: center; }


.is-divider[data-content]::after, .is-divider-vertical[data-content]::after {
  background: $divider-content-background-color;
  color: $divider-color;
  content: attr(data-content);
  display: inline-block;
  font-size: $divider-font-size;
  padding: .4rem .8rem;
  transform: translateY(-.9rem);
  text-align: center; }

.is-divider-vertical {
  @include tablet {
    display: block;
    flex: none;
    width: auto;
    height: auto;
    padding: 2rem;
    margin: 0;
    position: relative;
    border-top: none;
    min-height: 2rem;
    &::before {
      border-left: $divider-thickness solid $divider-background-color;
      bottom: 1rem;
      content: "";
      display: block;
      left: 50%;
      position: absolute;
      top: 1rem;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
    &[data-content]::after {
      position: absolute;
      left: 50%;
      top: 50%;
      padding: .1rem;
      -webkit-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
      transform: translateY(-50%) translateX(-50%); } } }

.is-divider,
.is-divider-vertical {
  @each $name, $pair in mergeColorMaps($colors, $shades) {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);
    &.is-#{$name} {
      border-top-color: $color;

      &[data-content]::after, &[data-content]::after {
        background: $color-invert;
        color: $color; }

      &::before {
        border-left-color: $color; } } } }