<template>
  <div class="pull-down-container">
    <div class="pull-down-header bg-lichen-primary" :style="{'height': pullDown.height + 'px'}">
      <div v-show="pullDown.height > 0" class="pull-down-content" :style="pullDownContentStyle">
        <i class="pull-down-content--icon" :class="iconClass"></i>
      </div>
    </div>
    <slot></slot>
  </div>
</template>

<script>

// 參數:下拉到多少距離會觸發 reload
const VuePullRefreshPullDownDistance = 61
// 參數：標籤文字 (目前文字部份隱藏起來)
const VuePullRefreshLABELS = ['資料異常', '下拉更新資料', '放開更新資料', '更新資料中'];

export default {
  name: 'PullRefresh',
  props: {
    onRefresh: {
      type: Function
    },
    config: {
      type: Object,
      default: function() { return { pullEnabled: true, pullDownHeight: 60 } }
    },
  },
  data() {
    return {
      canPull: false,
      scrolled: 0,
      pullDown: { status: 0, height: 0, msg: '' },
      pullDownDistance: VuePullRefreshPullDownDistance,
    }
  },
  computed: {
    label() {
      // label of pull down
      if (this.pullDown.status === -1) return this.pullDown.msg;
      return this.customLabels[this.pullDown.status + 1];
    },
    customLabels() {
      return VuePullRefreshLABELS
    },
    iconClass() {
      // icon of pull down
      if (this.pullDown.status === 2) return 'pull-down-refresh';
      if (this.pullDown.status === -1) return 'pull-down-error';
      return '';
    },
    pullDownHeight() { return this.config.pullDownHeight || 60 },
    pullDownContentStyle() {
      return {
        bottom: (this.pullDownHeight - 30) / 2 + 'px'
      };
    }
  },
  mounted() {
    this.$nextTick(() => {
      var el = this.$el;
      var pullDownHeader = el.querySelector('.pull-down-header');
      var icon = pullDownHeader.querySelector('.pull-down-content--icon');
      /**
       * reset the status of pull down
       * @param {Object} pullDown the pull down
       * @param {Boolean} withAnimation whether add animation when pull up
       */
      let resetPullDown = (pullDown, withAnimation) => {
        if (withAnimation) pullDownHeader.style.transition = 'height .2s ease';

        pullDown.height = 0;
        pullDown.status = 0;
      };
      // store of touch position, include start position and distance
      var touchPosition = { start: 0, distance: 0 };
      // @see https://www.chromestatus.com/feature/5745543795965952
      // Test via a getter in the options object to see if the passive property is accessed
      var supportsPassive = false;
      try {
        var opts = Object.defineProperty({}, 'passive', {
          get: function() {
            return supportsPassive = true;
          }
        });
        /* global window */
        window.addEventListener("test", null, opts);
      } catch (e) { e }
      // bind touchstart event to store start position of touch
      el.addEventListener('touchstart', e => {
        // 防止往下捲動時觸發，小於32px允許
		if (el.querySelector('.overflow-auto') == undefined) return;
        let touchMoveDownFix = el.querySelector('.overflow-auto').scrollTop
        this.canPull = (this.config.pullEnabled && pullDownHeader.scrollTop === 0 && touchMoveDownFix < 32 )
        touchPosition.start = e.touches.item(0).pageY;
      }, supportsPassive ? { passive: true } : false);
      /**
       * bind touchmove event, do the following:
       * first, update the height of pull down
       * finally, update the status of pull down based on the distance
       */
      el.addEventListener('touchmove', e => {
        if (!this.canPull) return;
        var distance = e.touches.item(0).pageY - touchPosition.start;
        // limit the height of pull down to this.pullDownDistance
        distance = distance > this.pullDownDistance ? this.pullDownDistance : distance;
        // prevent native scroll
        if (distance > 0) el.style.overflow = 'hidden';

        // update touchPosition and the height of pull down
        touchPosition.distance = distance;
        this.pullDown.height = distance;
        /**
         * if distance is bigger than the height of pull down
         * set the status of pull down to 1
         */
        if (distance > this.pullDownHeight) {
          this.pullDown.status = 1;
          icon.style.transform = 'rotate(360deg)';
        } else {
          /**
           * else set the status of pull down to 0
           * and rotate the icon based on distance
           */
          this.pullDown.status = 0;
          icon.style.transform = 'rotate(' + distance / this.pullDownHeight * 360 + 'deg)';
        }
      }, supportsPassive ? { passive: true } : false);
      // bind touchend event
      el.addEventListener('touchend', () => {
        this.canPull = false;
        el.style.overflowY = 'auto';
        pullDownHeader.style.transition = 'height .2s ease';
        // reset icon rotate
        icon.style.transform = '';
        // if distance is bigger than 60
        if (this.config.pullEnabled && (touchPosition.distance - el.scrollTop > this.pullDownHeight)) {
          el.scrollTop = 0;
          this.pullDown.height = this.pullDownHeight;
          this.pullDown.status = 2;
          // trigger refresh callback
          if (this.onRefresh && typeof this.onRefresh === 'function') {
            var res = this.onRefresh();
            // if onRefresh return promise
            if (res && res.then && typeof res.then === 'function') {
              res.then(() => {
                resetPullDown(this.pullDown, true);
              }, error => {
                // show error and hide the pull down after 1 second
                if (typeof error !== 'string') {
                  error = false;
                }
                this.pullDown.msg = error || this.customLabels[0];
                this.pullDown.status = -1;
                setTimeout(() => {
                  resetPullDown(this.pullDown, true);
                }, 1000);
              });
            } else {
              resetPullDown(this.pullDown);
            }
          } else {
            resetPullDown(this.pullDown);
            console.warn('please use :on-refresh to pass onRefresh callback');
          }
        } else {
          resetPullDown(this.pullDown);
        }
        // reset touchPosition
        touchPosition.distance = 0;
        touchPosition.start = 0;
      });
      // remove transition when transitionend
      pullDownHeader.addEventListener('transitionend', () => {
        pullDownHeader.style.transition = '';
      });
      pullDownHeader.addEventListener('webkitTransitionEnd', () => {
        pullDownHeader.style.transition = '';
      });
    });
  },
}
</script>

<style lang="scss">
/* for pull-to-refresh */

.pull-down-container {
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
}
.pull-down-header {
  width: 100%;
  height: 0px;
  overflow: hidden;
  position: relative;
}
.pull-down-content {
  position: absolute;
  max-width: 90%;
  left: 50%;
  transform: translateX(-50%);
  height: 24px;
  color: gray;
  text-align: center;
  font-size: 16px;
}
.pull-down-content--icon {
  float: left;
  height: 24px;
  width: 24px;
  background: url(../assets/images/down-arrow.png) no-repeat center center;
  background-size: 24px 24px;
}
.pull-down-content--icon.pull-down-refresh {
  background: url(../assets/images/refresh-icon.png) no-repeat center center;
  background-size: 24px 24px;
  animation: rotate .75s infinite;
  animation-timing-function: linear;
}
.pull-down-content--label {
  float: left;
  height: 20px;
  line-height: 20px;
  margin-left: 10px;
  margin-top: 10px;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
</style>
