<template>
    <!-- 簽到送點數 -->
	<div>
		<transition name="slide-fade">
			<div class="modal is-active px-3" style="z-index:100" v-if="isModal">
				<div class="modal-background"></div>
				<div class="modal-card svg-bg" style="border-radius: 1rem">
					<header class="modal-card-head border-bottom-0 bg-transparent" style="border-radius: 1rem 1rem 0 0;">
						<p class="modal-card-title is-size-5 flex-shrink-1">{{activity.ActivityTitle}} <time>( {{nowDate.year + '年' + currentMonth}} )</time></p>
						<button class="delete" aria-label="close" @click="isModal=false"></button>
					</header>
					<section class="modal-card-body py-0 px-1 bg-transparent">
						<nav class="level is-mobile mb-2">
							<p class="level-item has-text-centered justify-content-start pl-2">
								<template v-if="previous_signIn.length && nowDate.month !=undefined">
									<a class="text-primary" @click="goPage()" :class="[nowDate.month == date.getMonth()?'visible':'invisible']"  key='startIcon'>
										<i class="fas fa-arrow-left fa-fw"></i>
									</a>
								</template>
							</p>
							<p class="level-item has-text-centered">
								<small class="text-center d-block text-primary">{{doneTxt}}</small>
							</p>
							<p class="level-item has-text-centered justify-content-end pr-2">
								<template v-if="previous_signIn.length && nowDate.month !=undefined">
									<a class="text-primary" @click="goPage(true)" :class="[nowDate.month != date.getMonth()?'visible':'invisible']" key='endIcon'>
										<i class="fas fa-arrow-right fa-fw"></i>
									</a>
								</template>
							</p>
						</nav>
						<div class="calendar">
							<div class="border-bottom py-2 mb-2">
								<div class="week"><div v-for="(item,index) in week" :key="index">{{item}}</div></div>
							</div>
							<div class="content">
								<div class="date-grid" v-if="nowDate.month == date.getMonth()">
									<button class="mx-auto"
										v-for="(item, index) in maxDayList" :key="'maxDay'+index"
										:style="{'grid-column':(index==0) ? firstGridCol:''}"
										:class="{'sign-day': (item.isDone && !item.isGift), 'gift-day':item.isGift, 'today': item.isToday}"
										@click="demoAlert(item)"
									>{{index + 1}}</button>
								</div>
								<div class="date-grid" v-if="nowDate.month != date.getMonth()">
									<button
										v-for="(pvItem, index) in previousList" :key="'previousDay'+index"
										:style="{'grid-column':(index==0) ? nowDate.firstGridCol:''}"
										:class="{'sign-day': (pvItem.isDone && !pvItem.isGift), 'gift-day':pvItem.isGift}"										
									>{{index + 1}}</button>
								</div>
							</div>
						</div>
					</section>
					<footer class="modal-card-foot bg-white border-top-0 justify-content-center pt-2 flex-wrap bg-transparent" style="border-radius: 0 0 1rem 1rem;">
						<!-- <span class="tag is-medium is-danger is-rounded px-4"><i class="fas fa-gift mr-2"></i> 連續 {{setCount}} 日 簽到贈送 {{setPoints}} 點</span> -->
						<div class="notification mb-0 is-danger rounded-lg px-3 py-2">
								<div class="columns is-mobile is-gapless is-vcentered">
									<div class="column is-narrow">
										<i class="fas fa-gift fa-lg mr-3 ani-measure"></i>
									</div>
									<div class="column">
										<template v-for="(atv, index) in activity_detail">
											<p :key="'atv'+index">連續 {{atv.ActivityDays}} 日 {{atv.Gift}}</p>
										</template>
									</div>
								</div>
						</div>
						<small class="mt-2">* 無連續簽到則重新計算</small><!--，且不跨月簽到。-->
					</footer>
				</div>
			</div>
		</transition>
		<transition name="slide-fade">
			<!-- 成功贈點提示 -->
			<div class="modal is-active" v-show="successAlert" style="z-index: 101" @click="isModal=false;successAlert=false">
				<div class="modal-background"></div>
				<div class="modal-content overflow-visible">
					<div class="text-center">
						<img src="@/assets/images/successAlert.png" alt="">						
						<h4 class="text-white is-size-5 mx-5" style="margin-top:-40px">
							{{successTxT}}
						</h4>
						<h4 class="text-white is-size-5" style="margin-top:-40px" v-if="false">
							已獲得 <span class="text-warning is-size-3">{{successPoint}}</span> 點！
						</h4>
					</div>
				</div>
			</div>
		</transition>
	</div>
</template>

<script>
import store from 'src/store'
import { formatTime, moment } from 'src/libs/timeHelper.js'
import { showAlert } from '@/libs/appHelper.js'
export default {
	// 参数
	props: [
		'isShow',
		//'isCount',
		//'setCount',
		//'setPoints',
		//'isModal',
	],
	data() {
		return {
			isModal: true,
			date: new Date(),
			week: ['日', '一', '二', '三', '四', '五', '六'],
			month: ['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'],
			currentMonth: '',
			getDayNum: 0,
			maxDays: 0,
			firstGridCol: 0,
			successAlert: false,
			successPoint:0,
			successTxt:'',
			//nowMonth:0,
			//nowYear:0,
			nowDate:{date:moment(),month:0,year:0,firstGridCol:0},
		};
	},
	created() {
		this.currentMonth = this.month[this.date.getMonth()]
		this.getDayNum = new Date(this.date.getFullYear(), this.date.getMonth(), 1)
		this.maxDays = new Date(this.date.getFullYear(), this.date.getMonth()+1, 0).getDate()
		this.firstGridCol = new Date(this.date.getFullYear(), this.date.getMonth(), 1).getDay() + 1
		this.nowDate.month = this.date.getMonth();
		this.nowDate.year = this.date.getFullYear();
		this.doSignIn();

	},
	computed: {
		previous_signIn(){
			return store.state.memberData.activityInfo.finish.filter((p_fin)=>{
				return moment(p_fin.CreateDate).month() == this.date.getMonth() - 1
			});
		},
		becomeLoad(){
			return store.state.becomeApp.isLoad;
		},
		isLogin(){
			return store.getters.isLogin;
		},
		activity() {
			if (!store.state.memberData.activityInfo.list) return {};
			const acti_list = store.state.memberData.activityInfo.list.filter((p_list)=>{return p_list.ActivityType == 2})
			return (acti_list.length ? acti_list[0] : {})
		},
		activity_detail(){
			if (this.activity.GID) return store.state.memberData.activityInfo.actiDetail[this.activity.GID] || [];
			return [];
		},
		chkInfo(){
			const p_done = store.state.memberData.activityInfo.finish.map((p_fin)=>{return this.formatTime(p_fin.CreateDate, 'YYYYMMDD')});
			const get_gift = store.state.memberData.activityInfo.finish.filter((p_fin)=>{return p_fin.AC_CreateState == 1}) || [];
			const gift_list = get_gift.map((p_gift)=>{return this.formatTime(p_gift.CreateDate, 'YYYYMMDD')});
			return {done:p_done,gift:gift_list}
		},
		maxDayList() {

			let maxDayInfo = [];
			for (let i = 0; i < this.maxDays; i++) {
				const dayTh = i+1;
				const monTh = this.date.getMonth()+1;
				const everDay = this.date.getFullYear()+''+(monTh > 9 ? monTh : '0'+monTh)+''+ (dayTh > 9 ? dayTh : '0'+dayTh);
				const p_isToday = this.formatTime(this.date, 'YYYYMMDD') == everDay;
				maxDayInfo.push({isToday:p_isToday,isDone:this.chkInfo.done.indexOf(everDay) > -1,date:everDay, isGift:this.chkInfo.gift.indexOf(everDay) > -1 });
			}

			return maxDayInfo
		},
		previousList() {
			const previousMax = new Date(this.nowDate.year, this.nowDate.month+1, 0).getDate()
			// const p_done = store.state.memberData.activityInfo.finish.map((p_fin)=>{return this.formatTime(p_fin.CreateDate, 'YYYYMMDD')});
			// const get_gift = store.state.memberData.activityInfo.finish.filter((p_fin)=>{return p_fin.AC_CreateState == 1});
			// const gift_list = get_gift.map((p_gift)=>{return this.formatTime(p_gift.CreateDate, 'YYYYMMDD')});
			let maxDayInfo = [];
			for (let i = 0; i < previousMax; i++) {
				const dayTh = i+1;
				const monTh = this.nowDate.month+1;
				const everDay = this.nowDate.year+''+(monTh > 9 ? monTh : '0'+monTh)+''+ (dayTh > 9 ? dayTh : '0'+dayTh);
				maxDayInfo.push({isDone:this.chkInfo.done.indexOf(everDay) > -1, isGift:this.chkInfo.gift.indexOf(everDay) > -1});
			}

			return maxDayInfo
		},
		doneTxt(){
			//取最新打卡日
			let o_finish = store.state.memberData.activityInfo.finish || [];
			const p_maxDate = Math.max.apply(Math, o_finish.map(function(o) {return moment(o.CreateDate)}))
			const aMax = o_finish.find((p_fin)=>{
				return p_fin.AC_UploadState==0 && this.formatTime(p_fin.CreateDate, 'YYYYMMDD') == this.formatTime(p_maxDate, 'YYYYMMDD')
			});
			const p_count = aMax?(aMax.AC_ActivityDays || 0) : 0;
			if (!this.isLogin) return '請登入會員,才能參與簽到活動';
			return (p_count?'您已簽到' +p_count+ '日，請再接再厲!!':'活動已結束,感謝您的參與')

		},
		isGetAward(){
			//今日是否有領獎
			const award = store.state.memberData.activityInfo.finish.find((p_fin)=>{
				return this.formatTime(p_fin.CreateDate, 'YYYYMMDD') == this.formatTime(this.date, 'YYYYMMDD')
			});
			return award.AC_UploadState == 1 || award.AC_CreateState == 1;
		},
	},
	methods: {
		showAlert,
		formatTime,
		goPage(isNow){
			this.isModal = false;

			if (isNow){
				this.nowDate.month = this.date.getMonth();
				this.nowDate.year = this.date.getFullYear();
			}
			if (!isNow){
				this.nowDate.date = moment(this.date).add(-1, 'M');
				this.nowDate.month = this.nowDate.date.month();
				this.nowDate.year = this.nowDate.date.year();
				this.nowDate.firstGridCol = new Date(this.nowDate.year, this.nowDate.month, 1).getDay() + 1;
			}
			this.currentMonth = this.month[this.nowDate.month]
			this.isModal = true;
		},
		doSignIn(){
			const fToady = this.maxDayList.find((maxDay)=>{return maxDay.isToday});
			//console.log("run signin",fToady);
			if (this.isLogin) this.demoAlert(fToady);
		},
		maxDaysMonth(year, month) {
			return new Date(year, month, 0).getDate();
		},
		async demoAlert(item) {
			this.successPoint = 0;
			this.successTxT = '';
			if (!this.isLogin) return showAlert("請登入會員,才能參與簽到活動");
			if (!item) return
			const afinish = store.state.memberData.activityInfo.finish.find((p_fin)=>{
				return this.formatTime(p_fin.CreateDate, 'YYYYMMDD') == item.date}
			);

			//if (afinish && item.isDone) showAlert(afinish.AC_LogText || "已簽到,請繼續加油");
			if(item.isToday && !item.isDone && !afinish && this.activity.GID) await store.dispatch('fetchVipActivity',this.activity)
			.then((atv_info) => {
				if (!atv_info) return;
				if (this.isGetAward){
					store.dispatch('fetchVipAwards').then(award_list => {
						//檢查是否有獎品
						const awd = award_list.find((p_aw)=>{
							return p_aw.ActivityID == this.activity.GID && this.formatTime(p_aw.LastModify, 'YYYYMMDD') == this.formatTime(this.date, 'YYYYMMDD')
						});
						if (awd) {
							this.successPoint = awd.Point;
							this.successAlert = true;
							this.successTxT = atv_info.ErrorMsg;
							//if (atv_info.ErrorMsg) showAlert(atv_info.ErrorMsg);
						}
					});
				}else if(atv_info && atv_info.ErrorMsg){
					showAlert(atv_info.ErrorMsg);
				}
			})
		}
	},
	watch: {
		becomeLoad(){
			this.isModal = true;
			this.doSignIn();
		},
	},
}
</script>

<style lang="scss" scoped>
.svg-bg {
	background-color: #ffffff;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23ffffff'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.06'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}
.calendar {
	.week {
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		text-align: center;
	}
	.date-grid {
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		text-align: center;
		button {
			position: relative;
			border: 0;
			padding: 0;
			width: 2.5em;
			height: 2.5em;
			background-color: transparent;
			outline: none;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			&.sign-day {
				background-image: url('../assets/images/circle-sign.png');
			}
			&.gift-day {
				background-image: url('../assets/images/circle-sign-gift.png');
			}
			&.today {
				background-image: radial-gradient(ellipse at center, #aae0ff 0%, #aae0ff 60%, transparent 66%);
				&.sign-day {
					background-image: url('../assets/images/circle-sign.png'), radial-gradient(ellipse at center, #aae0ff 0%, #aae0ff 60%, transparent 66%);
				}
				&.gift-day {
					background-image: url('../assets/images/circle-sign-gift.png'), radial-gradient(ellipse at center, #aae0ff 0%, #aae0ff 60%, transparent 66%);
				}
			}
		}
	}
}

@keyframes ani-measure {
    0% {
        transform: translate(0,0) rotate(0)
    }

    3.33333% {
        transform: translate(0,0) rotate(-14.99241deg)
    }

    6.66667% {
        transform: translate(0,0) rotate(10.93733deg)
    }

    10% {
        transform: translate(0,0) rotate(10.60793deg)
    }

    13.33333% {
        transform: translate(0,0) rotate(-10.26249deg)
    }

    16.66667% {
        transform: translate(0,0) rotate(0.47337deg)
    }

    20% {
        transform: translate(0,0) rotate(15deg)
    }

    23.33333% {
        transform: translate(0,0) rotate(0.48087deg)
    }

    26.66667% {
        transform: translate(0,0) rotate(-10.26796deg)
    }

    30% {
        transform: translate(0,0) rotate(10.60262deg)
    }

    33.33333% {
        transform: translate(0,0) rotate(10.94246deg)
    }

    36.66667% {
        transform: translate(0,0) rotate(-14.99265deg)
    }

    40% {
        transform: translate(0,0) rotate(-0.0075deg)
    }

    43.33333% {
        transform: translate(0,0) rotate(14.99217deg)
    }

    46.66667% {
        transform: translate(0,0) rotate(-10.93219deg)
    }

    50% {
        transform: translate(0,0) rotate(-10.61323deg)
    }

    53.33333% {
        transform: translate(0,0) rotate(10.25702deg)
    }

    56.66667% {
        transform: translate(0,0) rotate(-0.46588deg)
    }

    60% {
        transform: translate(0,0) rotate(-15deg)
    }

    63.33333% {
        transform: translate(0,0) rotate(-0.48836deg)
    }

    66.66667% {
        transform: translate(0,0) rotate(10.27343deg)
    }

    70% {
        transform: translate(0,0) rotate(-10.59732deg)
    }

    73.33333% {
        transform: translate(0,0) rotate(-10.94759deg)
    }

    76.66667% {
        transform: translate(0,0) rotate(14.99288deg)
    }

    80% {
        transform: translate(0,0) rotate(0.015deg)
    }

    83.33333% {
        transform: translate(0,0) rotate(-14.99193deg)
    }

    86.66667% {
        transform: translate(0,0) rotate(10.92706deg)
    }

    90% {
        transform: translate(0,0) rotate(10.61853deg)
    }

    93.33333% {
        transform: translate(0,0) rotate(-10.25155deg)
    }

    96.66667% {
        transform: translate(0,0) rotate(0.45838deg)
    }

    100% {
        transform: translate(0,0) rotate(0)
    }
}
.ani-measure {
    transform-origin: 50% 50%;
    transform-box: fill-box;
    animation: ani-measure 5s infinite linear;
}

</style>