<template>
	<transition name="slide-top">
		<div class="modal is-active" style="z-index:100">
			<div class="modal-card h-100 mh-100">
				<header class="modal-card-head px-3 pb-3 border-bottom-0 rounded-0 bg-lichen-primary" style="padding-top: calc(16px + env(safe-area-inset-top))">
					<p class="modal-card-title is-size-5">使用點數</p>
					<button class="delete is-medium" aria-label="close" @click="$router.push($route.path)"></button>
				</header>
				<section class="modal-card-body p-0 flex-fill">
					<!-- 點數資訊 -->
					<template v-if="$route.query.pay == null">
						<div class="py-4">
								<div class="columns is-mobile is-gapless is-multiline is-vcentered">
									<div class="column is-12">
										<div class="columns is-mobile is-gapless is-vcentered py-2">
											<div class="column has-text-centered">
												<div v-if="memberData.vip_info.MemberTypeName">
													<p class="title is-size-5 mb-2">
														{{ memberData.vip_info.MemberTypeName }}
													</p>
													<p class="heading is-size-7" :class="{ 'is-invisible' : getTypeC == 'A'}">{{memberData.card_info.ExpiredDate}} 到期</p>
												</div>
											</div>
											<div class="column is-narrow has-text-centered">
												<figure class="image is-96x96 p-4 rounded-circle vip-avatar has-background-white-ter">
													<img v-if="getTypeC == 'A'" src="../assets/images/card_normal.svg">
													<img v-if="getTypeC == 'B'" src="../assets/images/card_silver.svg">
													<img v-if="getTypeC == 'C'" src="../assets/images/card_gold.svg">
													<img v-if="getTypeC == 'D'" src="../assets/images/card_black.svg">
												</figure>
											</div>
											<div class="column has-text-centered">
												<div>
													<p class="title is-size-4 mb-2">{{ isNaN(points) ? '讀取中..' : points }}</p>
													<p class="heading is-size-6">紅利點數</p>
												</div>
											</div>
										</div>
									</div>
								</div>
						</div>
						<div class="px-3">
							<div class="field mb-3">
								<label class="label">點數使用地點</label>
								<div class="control">
									<input class="input has-background-white-bis has-text-danger" v-model="Query1.ShopName" type="text" readonly>
								</div>
							</div>
							<div class="field mb-3">
								<label class="label">請輸入饗樂點數</label>
								<div class="control">
									<input class="input" pattern="[0-9]*" @blur.prevent="validPoint" v-model="tradePoint" type="number">
								</div>
								<p v-show="!parseInt(tradePoint)" class="help is-danger">點數需大於零</p>
							</div>
<!-- 點數折抵功能-客戶回饋拿掉驗證碼機制 by hank-20211117
							<label class="label">請輸入驗證碼</label>
							<div class="field has-addons mb-5">
								<div class="control">
									<input class="input" @blur.prevent="validSMS" v-model="SMSValidateCode" type="text">
									<p v-show="!SMSValidateCode" class="help is-danger">請輸入驗證碼</p>
								</div>
								<div class="control">
									<button class="w-100 button is-info" :disabled="countNum > 0" @click="getSMSValidateCode">
										<b>{{ (countNum > 0) ? `${countNum} 秒後可重發驗證碼` : '取得驗證碼' }}</b>
									</button>
								</div>
							</div>
 -->
							<button class="button is-medium is-fullwidth bg-lichen-secondary" @click="confirmSmsCode">確定使用</button>
						</div>
					</template>
					<!-- 成功 | 失敗 -->
					<template v-if="$route.query.pay == 'success' || $route.query.pay == 'fail'">
            <section class="hero is-link text-center">
              <div class="hero-body pt-0 pb-4">
                <div class="container d-flex justify-content-center align-items-center">
									<img src="../assets/images/bearApron.svg" class="mr-3" style="height: 80px; transform: scaleX(-1)">
                  <h5 class="title is-5">
                    {{$route.query.pay == 'success'?'點數已成功扣除!!':'交易失敗'}}
                  </h5>
                </div>
              </div>
            </section>
						<template v-if="$route.query.pay == 'success'">
							<div class="text-center is-size-5">
								<div class="mb-4" style="margin-top:-36px">
									<svg class="bounce-in-fwd" xmlns='http://www.w3.org/2000/svg' width="72" height="72" viewBox="0 0 512 512"><path d="M448,256c0-106-86-192-192-192S64,150,64,256s86,192,192,192S448,362,448,256Z" style="fill:#48c774;stroke:#fff;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px" /><polyline points="352 176 217.6 336 160 272" style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" /></svg>
								</div>
								<div class="mb-4">
									<p class="mb-2 has-text-grey-light">扣除日期</p>
									<h3 class="font-weight-bold">{{toDay}}</h3>
								</div>
								<div class="mb-4">
									<p class="mb-2 has-text-grey-light">抵用地點</p>
									<h3 class="font-weight-bold">{{Query1.ShopName}}</h3>
								</div>
								<div class="mb-4">
									<p class="mb-1 has-text-grey-light">抵扣點數</p>
									<barcode v-model="showPoint" height="60" tag="svg"></barcode>
								</div>
							</div>
						</template>
						<template v-if="$route.query.pay == 'fail'">
							<div class="text-center is-size-5">
								<div class="mb-4" style="margin-top:-36px">
									<svg class="bounce-in-fwd" xmlns='http://www.w3.org/2000/svg' width="72" height="72" viewBox="0 0 512 512"><title>ionicons-v5-m</title><path d="M448,256c0-106-86-192-192-192S64,150,64,256s86,192,192,192S448,362,448,256Z" style="fill:#ff3860;stroke:#fff;stroke-miterlimit:10;stroke-width:32px"/><line x1="320" y1="320" x2="192" y2="192" style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><line x1="192" y1="320" x2="320" y2="192" style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/></svg>
								</div>
								<p>請稍後再試，或洽客服。</p>
							</div>
						</template>
					</template>
				</section>
			</div>
		</div>
	</transition>
</template>

<style lang="scss" scoped>
.bounce-in-fwd {
	animation: bounce-in-fwd .6s both;
}
@keyframes bounce-in-fwd {
  0% {
    transform: scale(0);
    animation-timing-function: ease-in;
  }
  38% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  55% {
    transform: scale(0.7);
    animation-timing-function: ease-in;
  }
  72% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  81% {
    transform: scale(0.84);
    animation-timing-function: ease-in;
  }
  89% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  95% {
    transform: scale(0.95);
    animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
</style>

<script>
import VueBarcode from 'vue-barcode';
import moment from 'moment'
import { showAlert, showConfirm } from 'src/libs/appHelper.js'
import { deviseFunction, sendDeviseSMSreCode } from 'src/libs/deviseHelper.js'

export default {
	// 参数
	props: [
		'specShopModal',
	],
  components: {
    'barcode': VueBarcode
  },
	data() {
		return {
      state: this.$store.state,
      memberData: this.$store.state.baseInfo.memberData,
      SMSValidateCode: '',
      SMSCurrentQuota: 0,
      countNum: 0,
      counter: '',
      errMsg: '',
			isCheckOK: true,
			isSendSMS: false,
      tradePoint: '',						// 輸入-抵扣點數
      showPoint: '',						// 輸入-抵扣點數
      isRuned: false,						// 正在執行(防止連按

		};
	},
	computed: {
    card_info() { return this.memberData.card_info },
    getTypeC() { return this.card_info.CardTypeCode },
    points() { return parseInt(this.card_info.Points) },
    // 簡訊發送間隔的最低時間 (預設： 50 秒)
    AppSMSIntervalMin() { return parseInt(this.state.SMS_Config.AppSMSIntervalMin) },
    // 簡訊每日發送上限 (預設： 5 封)
    APPSMSDayTimes()    { return parseInt(this.state.SMS_Config.APPSMSDayTimes) },
    // 取簡訊的發送扣打紀錄
    SMSSendQuota()      { return this.state.SMS_Config.SMSSendQuota },
    // 取簡訊驗證碼
    SMSreCode()         { return this.state.SMS_Config.reCode },
		/* 取今天日期 */
    toDay() { return moment(new Date()).format('YYYY/MM/DD HH:mm:ss') },
    // currentDay()        { return new Date().toLocaleDateString().replace(/\//g, '') },
    currentDay()	{ return this.toDay.replace(/\//g, '') },
    Query1()			{ return this.$route.query || {} },

	},
	methods: {
		/* 驗證-點數 */
    validPoint() {
			const isOK = this.tradePoint > 0
			this.errMsg = isOK ? '' : '點數不得低於零';
			this.isCheckOK = isOK
    },
		/* 驗證簡訊 */
    validSMS() {
			// 有取得驗證碼,驗證
			if (this.isSendSMS) {
				var _err = this.SMSValidateCode.length > 0 ? '' : '請輸入簡訊驗證碼';
				this.errMsg = _err;
			}
    },
    /* 取得驗證碼 => 發送驗證碼簡訊 */
    getSMSValidateCode(){
			// 卡發過未歸0時,不得再發
			const isNG = this.isSendSMS && !this.countNum
			// console.log('取得驗證碼-isNG: ', isNG);	// @@
			if (isNG) { return; }

			// 跟殼取簡訊已發送扣打資料
			deviseFunction('GetSP', 'SMSSendQuota', '"cbFnSetSMSSendQuota"');

			if (!this.validateSMSSendQuota()) return showAlert(`已超過本日簡訊發送上限！ <br> (最多 ${this.APPSMSDayTimes} 封簡訊)`)

			// 設置倒數計時器 ( countNum > 0 時, 發送驗證碼按鈕為 disabled ), 倒數時間從 state.setSMS_Config.AppSMSIntervalMin 取得
			this.countNum = this.AppSMSIntervalMin
			// 啟動倒數計時
			this.counter = setInterval(() => {
				// 到 0 時清除倒數計時
				if (this.countNum <= 0) { clearInterval(this.counter) }
				// 每一秒 - 1
				this.countNum -= 1;
			}, 1000);

			// sample: '20190514-3'
			const SMSSendQuota = `${this.currentDay}-${this.SMSCurrentQuota + 1}`

			// 發送簡訊認證碼
			const mobile1 = this.state.member.code
				,country1 	= /^(1)\d*/.test(mobile1) ? '86' : '886'
			sendDeviseSMSreCode({ phone: `${mobile1};;${country1}`, SMSSendQuota: SMSSendQuota } )

			this.isSendSMS = true;
    },
    /* 驗證是否還有扣打能發送簡訊 */
    validateSMSSendQuota() {
      // console.warn('驗證扣打是否用完: '+this.APPSMSDayTimes, this.SMSSendQuota);	// @@

      // 扣打紀錄是空的 => true
      if (this.SMSSendQuota === '') return true
      // 扣打紀錄跟今日日期不同 => true
      if (this.SMSSendQuota.substring(0, 8) !== this.currentDay) return true
      // 更新今日扣打數量
      const currentQouta = parseInt(this.SMSSendQuota.substring(9));
      this.SMSCurrentQuota = currentQouta;

      // 驗證扣打是否用完 (超過上限 => false, 還沒用完 => true )
			return currentQouta <  this.APPSMSDayTimes;
    },
    /* 確定使用(下一步 */
    confirmSmsCode() {
			this.validPoint();
			if (!this.isCheckOK) { return; }

			/* 客戶回饋拿掉驗證碼機制 */
/* 
      // 判斷是否在殼裡面
      const inDeviseApp = typeof(JSInterface) == 'object'
			if (inDeviseApp) {
				if (!this.isSendSMS) { return; }

				if ((this.SMSreCode != this.SMSValidateCode) ) return showAlert('簡訊驗證碼錯誤！')

				// 清除 SMSreCode
				this.$store.commit('setSMSreCode', '')
			}
			this.isSendSMS = false;
 */

      showConfirm("點數一經使用將無法復原<br>請務必小心確認！<br>您確定要折抵嗎?")
			.then(() => { this.doPointTrade() })
			.catch(() => { // 點擊取消執行
				this.$store.commit('setCustomModal', { type: '', text: '' }) // 關閉 confirmn 視窗
			});
    },
    /* 執行-點數折抵(龍海專用) */
    async doPointTrade() {
      if (this.isRuned)		return
			this.isRuned = true;
			const param1 = {
				ShopID: this.Query1.ShopID,
				Point: this.tradePoint,
			}
      const obj1 	= await this.$store.dispatch('VipAmountToPoint', param1)
				,res2 		= obj1.result
				,hasOK		= res2.error_flag == 0
			// console.log('執行doTicketExchange-obj1: ', obj1);	// @@

			showAlert(res2.msg);		// 成功失敗都要秀訊息!

			this.isRuned = false;
      if (hasOK) {
				this.showPoint = this.tradePoint;
				this.card_info.Points = obj1.card_info.Points;	// 更新點數
				this.$router.push({
					query: {
						type: 'specShop',
						ShopName: this.Query1.ShopName,
						pay: 'success'
					}
				});
			}

    },

	},
	/** @Important: ※有陷阱：這裡APP啟動後只會進來1次,需用router參數改變當時機 */
	// created() {
	// },
	watch: {
		/* 監控錯誤訊息,有變動就showAlert */
		errMsg: function (v1) {
			this.isCheckOK = !(v1.length);	// falg-on/off by err有無值
			v1 && showAlert(v1);
		},
		Query1: function (quer1) {
			// console.warn('watch-type: ', quer1);	// @@
			if (/specShop/.test(quer1.type)) {
				this.SMSValidateCode = this.tradePoint = '';
			}
		},
	},

}
</script>