<template>
  <!-- translateZ(0) 加入行內樣式GPU加速，修正sticky遲鈍 -->
  <div class="h-100 bg-white" :class="[isType == 'menus'?'overflow-hidden':'overflow-auto']"
    :style="{'transform':(enlargeMenuModal) ? '':'translateZ(0)' }"
  >
    <div>
      <!-- 頁面標頭 -->
      <div class="text-center is-size-5 sticky-top bg-white border-bottom border-light">
        <!-- 分類列 -->
        <div class="px-2 text-left">
          <div class="columns is-mobile is-gapless">
            <!-- 品牌 -->
            <div class="column" :class="[isbrand1?'is-5':'is-6']">
              <div class="dropdown w-100 is-active">
                <div class="dropdown-trigger w-100" ref="isDropBrand" @click="isDropBrand=!isDropBrand; ">
                  <button class="button border-0 rounded-0 w-100 px-1">
                    <span class="d-inline-block text-elps">{{brandOnly.Text}}</span>
                    <span class="icon is-small">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu w-100" v-show="isDropBrand" v-closable="{exclude: ['isDropBrand'], handler: 'onCloseBrand'}">
                  <div class="dropdown-content border lichen-border overflow-auto" style="max-height:400px">
                    <a href="javascript:void(0)" class="dropdown-item is-size-6 text-decoration-none p-2 text-center" v-show="isMode=='news'" @click="selectBrand('')">全部品牌</a>
                    <a href="javascript:void(0)" class="dropdown-item is-size-6 text-decoration-none p-2 text-center" v-for="(one, index) in listBrands" @click="selectBrand(one.ID)" :key="'one'+index">{{one.Text}}</a>
                  </div>
                </div>
              </div>
            </div>

            <!-- 菜單 -->
            <div class="column is-3" v-if="isbrand1">
              <div class="dropdown w-100 is-active">
                <div class="dropdown-trigger w-100" ref="isDropFood" @click="isDropFood=!isDropFood">
                  <button class="button border-0 rounded-0 w-100 px-1" v-if="nowGID == '2'||nowGID == '14'">
                    <span class="d-inline-block text-elps">{{ menuText }}</span>
                    <span class="icon is-small">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                  <button class="button border-0 rounded-0 w-100 px-1" @click="isType = 'menus'" v-else>
                    <span>菜單</span>
                    <!-- <span class="icon is-small">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span> -->
                  </button>
                </div>
                <div class="dropdown-menu w-100" style="min-width: 200%; left: calc(50% - 8px); transform: translateX(-50%);"
                  v-show="isDropFood"
                  v-closable="{exclude: ['isDropFood'], handler: 'onCloseFood'}"
                >
                  <!-- 牛角下拉菜單 -->
                  <!-- <div class="dropdown-content border lichen-border" v-if="nowGID == '1'">
                    <div class="dropdown-item is-size-6 text-decoration-none text-center px-2">單點</div>
                    <div class="has-background-white-ter triangle-bottom">
                      <hr>
                      <a class="dropdown-item is-size-6 text-decoration-none" :class="{'isSort':currentSort == '1'}" @click="selectMenu('gid1_sort01', 0, 1); currentSort = '1'">消費方式</a>
                      <a class="dropdown-item is-size-6 text-decoration-none" :class="{'isSort':currentSort == '2'}" @click="selectMenu('gid1_sort01', 1, 3); currentSort = '2'">蔬菜＆前菜</a>
                      <a class="dropdown-item is-size-6 text-decoration-none" :class="{'isSort':currentSort == '3'}" @click="selectMenu('gid1_sort01', 3, 7); currentSort = '3'">牛肉</a>
                      <a class="dropdown-item is-size-6 text-decoration-none" :class="{'isSort':currentSort == '4'}" @click="selectMenu('gid1_sort01', 7, 9); currentSort = '4'">特選牛</a>
                      <a class="dropdown-item is-size-6 text-decoration-none" :class="{'isSort':currentSort == '5'}" @click="selectMenu('gid1_sort01', 9, 11); currentSort = '5'">豚肉＆雞肉＆羊肉</a>
                      <a class="dropdown-item is-size-6 text-decoration-none" :class="{'isSort':currentSort == '6'}" @click="selectMenu('gid1_sort01', 11, 13); currentSort = '6'">海鮮＆烤物</a>
                      <a class="dropdown-item is-size-6 text-decoration-none" :class="{'isSort':currentSort == '7'}" @click="selectMenu('gid1_sort01', 13, 15); currentSort = '7'">飯類＆麵類/湯品</a>
                      <a class="dropdown-item is-size-6 text-decoration-none" :class="{'isSort':currentSort == '8'}" @click="selectMenu('gid1_sort01', 15, 17); currentSort = '8'">甜點</a>
                      <a class="dropdown-item is-size-6 text-decoration-none" :class="{'isSort':currentSort == '9'}" @click="selectMenu('gid1_sort01', 17, 19); currentSort = '9'">飲品</a>
                      <hr>
                    </div>
                    <a class="dropdown-item is-size-6 text-decoration-none text-center px-2" @click="selectMenu('gid1_sort02'); currentSort = '10'">套餐</a>
                    <a class="dropdown-item is-size-6 text-decoration-none text-center px-2" @click="selectMenu('gid1_sort03'); currentSort = '11'">任您吃</a>
                  </div> -->
                  <!-- 胡椒廚房下拉菜單 -->
                  <div class="dropdown-content border lichen-border" v-if="nowGID == '2'">
                    <a href="javascript:void(0)" class="dropdown-item is-size-6 text-decoration-none text-center px-2" @click="currentSort = '餐廳'; selectMenu('gid2', 3, 8); ">餐廳</a>
                    <a href="javascript:void(0)" class="dropdown-item is-size-6 text-decoration-none text-center px-2" @click="currentSort = '美食街'; selectMenu('gid2', 0, 3); ">美食街</a>
                  </div>
                  <!-- 椿涮下拉菜單 -->
                  <div class="dropdown-content border lichen-border" v-if="nowGID == '14'">
                    <a href="javascript:void(0)" class="dropdown-item is-size-6 text-decoration-none text-center px-2" @click="currentSort = '高雄店-常態菜單'; selectMenu('gid14', 0, 7); ">高雄店-常態菜單</a>
                    <a href="javascript:void(0)" class="dropdown-item is-size-6 text-decoration-none text-center px-2" @click="currentSort = '台中店-常態菜單'; selectMenu('gid14', 7, 9); ">台中店-常態菜單</a>
                    <!-- <a href="javascript:void(0)" class="dropdown-item is-size-6 text-decoration-none text-center px-2" @click="currentSort = '高雄店-新春限定'; selectMenu('gid14', 7, 8); ">高雄店-新春限定</a>
                    <a href="javascript:void(0)" class="dropdown-item is-size-6 text-decoration-none text-center px-2" @click="currentSort = '台中店-新春限定'; selectMenu('gid14', 8, 10); ">台中店-新春限定</a> -->
                  </div>
                </div>
              </div>
            </div>

            <!-- 消息查詢 -->
            <div class="column" :class="[isbrand1?'is-4':'is-6']">
              <div class="dropdown w-100 is-active">
                <div class="dropdown-trigger w-100" ref="isDropNews" @click="isDropNews=!isDropNews">
                  <button class="button border-0 rounded-0 w-100 px-1">
                    <span>{{newsText}}</span>
                    <span class="icon is-small">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>

                <div class="dropdown-menu w-100" style="min-width: 100%" v-show="isDropNews" v-closable="{exclude: ['isDropNews'], handler: 'onCloseNews'}">
                  <div class="dropdown-content border lichen-border">
                    <a href="javascript:void(0)" class="dropdown-item is-size-6 text-decoration-none text-center p-2 has-text-grey-light" v-if="!chNewsList.length">無資料</a>
                    <template v-else>
                      <a href="javascript:void(0)" class="dropdown-item is-size-6 text-decoration-none text-center p-2" v-for="(one, index) in listNews" :key="'one'+index" @click="selectNews(one.KindName)">{{one.KindName}}</a>
                    </template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 可由微館雲設定各品牌外連結(無資料隱藏) -->
      <div class="link-buttons text-right" v-if="isType!=='news'&&isType!=='menus'&& linkList.length">
        <button class="button rounded-circle bg-lichen-primary border-0 mb-2 shadow" ref="isLinkBtns" @click="isLinkBtns=!isLinkBtns">
          <span class="icon is-small">
            <i class="fas fa-external-link-alt"></i>
          </span>
        </button>
        <p class="buttons flex-column align-items-end" v-show="isLinkBtns" v-closable="{exclude: ['isLinkBtns'], handler: 'onCloseLink'}">
          <!-- link facebook -->

          <button v-for="(link, index) in linkList" :key="'link'+index" class="button rounded-pill border-0 shadow" :class="{'is-facebook':(/.facebook.com/.test(link.MenuLink.toLowerCase())),'is-instagram':(/.instagram.com/.test(link.MenuLink.toLowerCase())),'is-line':(/line.me/.test(link.MenuLink.toLowerCase())),'is-info':!(/.instagram.com|.facebook.com|line.me/.test(link.MenuLink.toLowerCase()))}" @click="deviseToLink(link.MenuLink)">
            <span class="icon" v-show="/.facebook.com/.test(link.MenuLink.toLowerCase())">
              <i class="fab fa-facebook"></i>
            </span>
            <span class="icon" v-show="/.instagram.com/.test(link.MenuLink.toLowerCase())">
              <i class="fab fa-instagram"></i>
            </span>
            <span class="icon" v-show="/.line.me/.test(link.MenuLink.toLowerCase())">
              <i class="fas"></i>
            </span>
            <span class="icon" v-show="!(/.instagram.com|.facebook.com|line.me/.test(link.MenuLink.toLowerCase()))">
              <i class="fas fa-link"></i>
            </span>
            <span>{{link.MenuTitle}}</span>
          </button>

        </p>
      </div>

      <!-- 菜單列表 -->
      <template v-if="isType == 'menus'">
        <swiper ref="swiperMenu" class="swiper" :options="swiperOptionMenu" :key="currentSort">
          <swiper-slide v-for="i in menuList" :key="i.image">
            <img class="swiper-lazy" :data-src="i.image" @click="currentMenuImage = i.image; enlargeMenuModal = true">
            <div class="swiper-lazy-preloader"></div>
          </swiper-slide>
        </swiper>
      </template>
      <!-- 菜單放大檢視 modal -->
      <transition name="slide-fade">
        <div class="modal is-active" style="z-index:101" v-if="enlargeMenuModal">
          <div class="modal-background"></div>
          <div class="modal-content">
            <swiper class="swiper" :options="swiperOptionMenuEnlarge">
              <swiper-slide>
                <div class="swiper-zoom-container enlarge-modal-height">
                  <img :src="currentMenuImage" :key="enlargeMenuModal" @touchstart="zoomTouch">
                </div>
              </swiper-slide>
            </swiper>
          </div>
          <button class="modal-close is-large" aria-label="close" @click="enlargeMenuModal = false" style="z-index: 1"></button>
        </div>
      </transition>

      <!-- 品牌詳情 -->
      <div v-if="isMode=='brand' && isType=='brand'">
        <div class="card is-shadowless">
          <div class="card-image">
            <figure class="image is-fullwidth">
              <img :src="showImageWuhuPage(brandOnly.PicURL1 || brandOnly.PicURL)" :key="brandOnly.LastModify">
            </figure>
          </div>
          <div class="card-content p-3">
            <div class="media mb-3">
              <div class="media-content overflow-hidden">
                <!-- 分享功能
                <p class="is-pulled-right" @click="deviceShare(brandOnly)">
                  <span class="fa-stack align-middle text-warning" style="font-size: 0.75em">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-share-alt fa-stack-1x fa-inverse"></i>
                  </span>
                </p> -->
                <p class="title mb-0 mt-2 is-4">{{brandOnly.DetailName}}</p>
                <p class="subtitle mt-1 is-7 has-text-grey-light">{{brandOnly.SaleTime.substring(0, 10)}}</p>
                <!-- <div class="is-divider" :data-content="'發布日期：'+brandOnly.SaleTime.substring(0, 10)"></div> -->
              </div>
            </div>
            <div class="content white-space-wrap text-break" style="overflow-x:hidden">
              {{(brandOnly.SubText1 || '')}}
              <!-- <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time> -->
            </div>
          </div>
        </div>
      </div>
      <!-- 新聞列表，點選後連cardNewspage -->
      <div class="p-3" v-if="isType=='news'">
        <!-- 無資料 -->
        <p class="text-center has-text-grey-lighter my-5 py-5" v-if="!chNewsList.length">-- 無相關好康 --</p>
        <div id="news_cardNewspage1" class="card overflow-hidden border rounded-lg mb-3" v-for="(chNews, index) in chNewsList" :key="'chNews'+index" @click="showNewspage(chNews)">
          <div class="card-image">
            <figure class="image has-background-white-ter is-1by1">
              <img :src="showImageWuhuPage(chNews.PicURL)" :key="chNews.LastModify" alt="">
            </figure>
          </div>
          <div class="card-content py-2 px-3">
            <div class="media">
              <div class="media-content p-1">
                <h6 class="title is-5 mb-2">{{chNews.DetailName}}</h6>
                <p class="is-size-7">發佈日期：{{chNews.SaleTime.substring(0, 10)}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.tags {
  .tag:not(:first-child) {
    margin-left: -4px;
  }
}
.link-buttons {
  position: fixed;
  z-index: 1;
  right: 1rem;
  margin-top: 1rem;
  .buttons .button {
    margin: 0 0 4px !important;
    &.is-line .icon {
      svg {
        display: none;
      }
      background: no-repeat center url('../../../assets/images/ic_line.png');
      background-size: 18px;
    }
  }
}
.enlarge-modal-height {
  height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom)) !important;
  margin-top: env(safe-area-inset-top) !important;
}
.triangle-bottom {
  position: relative;
  &::before, &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: #fff transparent transparent transparent;
  }
  &::before {
    top: 1px;
    border-width: 7px 7px 0 7px;
    border-color: #e1e1e1 transparent transparent transparent;
  }
}
.isSort {
  background-color: #FFE114;
}
</style>

<script>
import store from 'src/store'
import { GroupBy, GetURLPara, SetURLPara } from 'src/fun1.js'	// 共用fun在此!
import { deviseFunction } from 'src/libs/deviseHelper.js'
import { showImage, showImageWuhu, Closable, showAlert } from 'src/libs/appHelper.js'
import VueAwesomeSwiper from 'vue-awesome-swiper'
import 'swiper/dist/css/swiper.min.css'

const S_CurPAGE = '/cardBrand';

export default {
// BANNER輪播
  components: {
    Swiper: VueAwesomeSwiper.swiper,
    SwiperSlide: VueAwesomeSwiper.swiperSlide
  },
  directives: {
    Closable
  },
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      state: this.$store.state,
      publicData: this.$store.state.baseInfo.publicData,

      isDropBrand: false,
      isDropFood: false,
      isDropNews: false,
      isLinkBtns: false,
      isMode: 	'news',					// 目前操作模式
      isType: 'brand',
      nowGID:'',
      nowKindID:'',							// 餐點組別
      nowKindName: '全部消息',	// 消息項目名
      filterText:	'',
      localSearchKeyWord:'',	// 搜 餐點/品牌
      kindText:"餐點查詢",
      menuText:"菜單",
      newsText:"消息查詢",	// 目前下拉顯示(selected)
      swiperOptionMenu: { // 菜單
        observer: true,
        observeParents:true,
        direction: 'vertical',
        spaceBetween: 16,
        height : document.querySelector('#pull-content').clientHeight - 40,
        freeModeSticky: true,
        lazy: {
          loadPrevNext: true,
        },
      },
      swiperOptionMenuEnlarge: { // 菜單放大
        zoom: true,
      },
      menuSortList: '',
      currentSort: '',
      sortStart: '',
      sortEnd: '',
      enlargeMenuModal: false,
      currentMenuImage: '',
      menus: { // 餐點菜單
        gid1: [
          { image: require('@/assets/images/menus/gid01/onlyone.jpg') }
        ],
        // 牛角日本燒肉專門店
        // gid1_sort01: [
        //   { image: require('@/assets/images/menus/gid01/sort01/01.jpg') },
        //   { image: require('@/assets/images/menus/gid01/sort01/02.jpg') },
        //   { image: require('@/assets/images/menus/gid01/sort01/03.jpg') },
        //   { image: require('@/assets/images/menus/gid01/sort01/04.jpg') },
        //   { image: require('@/assets/images/menus/gid01/sort01/05.jpg') },
        //   { image: require('@/assets/images/menus/gid01/sort01/06.jpg') },
        //   { image: require('@/assets/images/menus/gid01/sort01/07.jpg') },
        //   { image: require('@/assets/images/menus/gid01/sort01/08.jpg') },
        //   { image: require('@/assets/images/menus/gid01/sort01/09.jpg') },
        //   { image: require('@/assets/images/menus/gid01/sort01/10.jpg') },
        //   { image: require('@/assets/images/menus/gid01/sort01/11.jpg') },
        //   { image: require('@/assets/images/menus/gid01/sort01/12.jpg') },
        //   { image: require('@/assets/images/menus/gid01/sort01/13.jpg') },
        //   { image: require('@/assets/images/menus/gid01/sort01/14.jpg') },
        //   { image: require('@/assets/images/menus/gid01/sort01/15.jpg') },
        //   { image: require('@/assets/images/menus/gid01/sort01/16.jpg') },
        //   { image: require('@/assets/images/menus/gid01/sort01/17.jpg') },
        //   { image: require('@/assets/images/menus/gid01/sort01/18.jpg') },
        //   { image: require('@/assets/images/menus/gid01/sort01/19.jpg') },
        // ],
        // 套餐
        // gid1_sort02: [
        //   { image: require('@/assets/images/menus/gid01/sort02/01.jpg') },
        //   { image: require('@/assets/images/menus/gid01/sort02/02.jpg') },
        // ],
        // 任您吃
        // gid1_sort03: [
        //   { image: require('@/assets/images/menus/gid01/sort03/01.jpg') },
        //   { image: require('@/assets/images/menus/gid01/sort03/02.jpg') },
        //   { image: require('@/assets/images/menus/gid01/sort03/02_1.jpg') },
        //   { image: require('@/assets/images/menus/gid01/sort03/03.jpg') },
        //   { image: require('@/assets/images/menus/gid01/sort03/03_1.jpg') },
        //   { image: require('@/assets/images/menus/gid01/sort03/04.jpg') },
        //   { image: require('@/assets/images/menus/gid01/sort03/04_1.jpg') },
        //   { image: require('@/assets/images/menus/gid01/sort03/04_2.jpg') },
        //   { image: require('@/assets/images/menus/gid01/sort03/05.jpg') },
        //   { image: require('@/assets/images/menus/gid01/sort03/05_1.jpg') },
        //   { image: require('@/assets/images/menus/gid01/sort03/05_2.jpg') },
        //   { image: require('@/assets/images/menus/gid01/sort03/06.jpg') },
        //   { image: require('@/assets/images/menus/gid01/sort03/06_1.jpg') },
        //   { image: require('@/assets/images/menus/gid01/sort03/06_2.jpg') },
        //   { image: require('@/assets/images/menus/gid01/sort03/07.jpg') },
        //   { image: require('@/assets/images/menus/gid01/sort03/07_1.jpg') },
        //   { image: require('@/assets/images/menus/gid01/sort03/07_2.jpg') },
        //   { image: require('@/assets/images/menus/gid01/sort03/08.jpg') },
        //   { image: require('@/assets/images/menus/gid01/sort03/08_1.jpg') },
        //   { image: require('@/assets/images/menus/gid01/sort03/08_2.jpg') },
        //   { image: require('@/assets/images/menus/gid01/sort03/09.jpg') },
        //   { image: require('@/assets/images/menus/gid01/sort03/09_1.jpg') },
        //   { image: require('@/assets/images/menus/gid01/sort03/09_2.jpg') },
        // ],
        // PEPPR LUNCH胡椒廚房
        gid2: [
          { image: require('@/assets/images/menus/gid02/01.jpg') },
          { image: require('@/assets/images/menus/gid02/02.jpg') },
          { image: require('@/assets/images/menus/gid02/03.jpg') },
          { image: require('@/assets/images/menus/gid02/04.jpg') },
          { image: require('@/assets/images/menus/gid02/05.jpg') },
          { image: require('@/assets/images/menus/gid02/06.jpg') },
          { image: require('@/assets/images/menus/gid02/07.jpg') },
        ],
        // SHABUSATO涮鍋里
        gid3: [
          { image: require('@/assets/images/menus/gid03/01.jpg') },
          { image: require('@/assets/images/menus/gid03/02.jpg') },
          { image: require('@/assets/images/menus/gid03/03.jpg') },
          { image: require('@/assets/images/menus/gid03/04.jpg') },
          { image: require('@/assets/images/menus/gid03/05.jpg') },
        ],
        // MAiSEN邁泉
        gid4: [
          // { image: require('@/assets/images/menus/gid04/01.jpg') },
          // { image: require('@/assets/images/menus/gid04/02.jpg') },
          // { image: require('@/assets/images/menus/gid04/03.jpg') },
          // { image: require('@/assets/images/menus/gid04/04.jpg') },
          // { image: require('@/assets/images/menus/gid04/05.jpg') },
          // { image: require('@/assets/images/menus/gid04/06.jpg') },
          // { image: require('@/assets/images/menus/gid04/07.jpg') },
          // { image: require('@/assets/images/menus/gid04/08.jpg') },
          // { image: require('@/assets/images/menus/gid04/09.jpg') },
          // { image: require('@/assets/images/menus/gid04/10.jpg') },
          { image: require('@/assets/images/menus/gid04/11.jpg') },
          { image: require('@/assets/images/menus/gid04/12.jpg') },
        ],
        // 捷記小麵館
        gid5: [
          { image: require('@/assets/images/menus/gid05/01.jpg') },
          { image: require('@/assets/images/menus/gid05/02.jpg') },
        ],
        // 品三杯
        gid6: [
          { image: require('@/assets/images/menus/gid06/01.jpg') },
        ],
        // 元町家
        gid7: [
          // { image: require('@/assets/images/menus/gid07/01.jpg') },
          { image: require('@/assets/images/menus/gid07/02.jpg') },
        ],
        // 捷茶JAE CHA
        gid8: [
          { image: require('@/assets/images/menus/gid08/01.jpg') },
          { image: require('@/assets/images/menus/gid08/02.jpg') },
        ],
        // 丸米
        gid12: [
          { image: require('@/assets/images/menus/gid09/01.jpg') },
          { image: require('@/assets/images/menus/gid09/02.jpg') },
        ],
        // 椿涮
        gid14: [
          // 高雄店-常態菜單
          { image: require('@/assets/images/menus/gid14/01.jpg') },
          { image: require('@/assets/images/menus/gid14/02.jpg') },
          { image: require('@/assets/images/menus/gid14/03.jpg') },
          { image: require('@/assets/images/menus/gid14/04.jpg') },
          { image: require('@/assets/images/menus/gid14/05.jpg') },
          { image: require('@/assets/images/menus/gid14/06.jpg') },
          { image: require('@/assets/images/menus/gid14/07.jpg') },
          // 台中店-常態菜單
          { image: require('@/assets/images/menus/gid14/08.jpg') },
          { image: require('@/assets/images/menus/gid14/09.jpg') },
        ],
        // 捷果咖啡
        gid15: [
          { image: require('@/assets/images/menus/gid15/01.jpg') },
        ],
      }
    }
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    isbrand1() { return this.isMode !='news' && this.nowGID },
    currentApp() { return this.state.currentAppUser.EnterPriseID },
    srcUrl() { return this.getters.srcUrl },
    newsData() { return this.publicData.news.data.filter(item => item.KindID !== "_INFO_") },
		/* 下拉-品牌清單 */
    listBrands() {
			const companyData = this.publicData.companyData
			let brandList = companyData.length ? companyData.filter((item) => {
          return item.isBrand == true
        }) : []
      // console.log('品牌詳情-brandList: ', brandList);	// @@
      // return [{Text:'全部品牌'}].concat(brandList);
      return brandList;
    },
    brandsItem() {
      return this.publicData.brandList
    },
    findBrands() {
			let them = this.brandsItem
				.filter((item) => {return item.KindID == this.nowKindID})
				.sort(function (a, b) {return parseInt(a.No) > parseInt(b.No) ? 1 : -1;});
			const _find = this.localSearchKeyWord;
      // console.log("findBrands-orig:"+_find, them.length);	// @@
			if (_find) {
				them = them.filter((item) => {return RegExp(_find).test(item.DetailName)});
			}
      // console.log("brandsItem-them:", them);	// @@
      return them;
    },

		/* 品牌詳情 */
    brandOnly() {	// 目前品牌(單隻)
      let brandArr 	= []
				,q_gid 				= this.nowGID
      brandArr = this.listBrands.filter((item) => {
        return item.ID == q_gid
      })
			// console.log('brandOnly-brandArr: ', brandArr);	// @@
      return brandArr.length ? brandArr[0]:{Text:'全部品牌', SaleTime:''};
    },
    linkList(){
			const brandLink = this.publicData.brandLink
			let arr1 = brandLink.length ? brandLink.filter((item) => {
          return item.BrandID == this.brandOnly.ID
				}) : []
      return arr1;
    },
		/* 下拉-消息清單 */
    listNews() {
			let group_arr = GroupBy(this.epNewsList, "KindID");
			let gp_list = [];
			let str1 = '';
			group_arr.map(gp => {
				if (gp.length) {
					const gp1 	= gp[0]
						,KindID 	= gp1.KindID
						,KindName = gp1.KindName

					// 秀過不再秀
					if (!RegExp(KindName).test(str1)) {
						gp_list.push({
							KindID: KindID,
							KindName: KindName
						});
						str1 += KindName;
					}
				}
			});
			gp_list = [{KindName:'全部消息'}].concat(gp_list)
			return gp_list;
    },
		/* 顯示-消息清單 */
    chNewsList() {
			const them 		= this.epNewsList
				,q_gid			= this.nowGID
				,q_KindName	= this.nowKindName
			let brandArr = [];

			if (them.length) {
				brandArr = them.filter((item) => {
					const hasGID	 	= q_gid ? item.BrandID == q_gid : true
						,hasKindName 	= q_KindName != '全部消息' ? item.KindName == q_KindName : true
					// const tt1 = item.SubText1 && item.SubText1.substr(0,16);	// @@
					// console.log('chNewsList-item: '+q_KindName, tt1);	// @@
					return hasGID && hasKindName;
				})
			}
			// console.log('chNewsList-length: ', brandArr.length);	// @@
			return brandArr;
    },
    epNewsList() {
			const brandNews = this.publicData.brandNews
			let brandArr = brandNews.length ? brandNews.filter((item) => {
				const hasBrandID = this.nowGID ? item.BrandID == this.brandOnly.ID : true
				return hasBrandID;
				// return item.BrandID == this.brandOnly.ID;
			}) : [];
			// console.log('epNewsList-brandArr: ', brandArr);	// @@
			return brandArr;
		},

    findNewsKindID(){
			const brandNews = this.publicData.brandNews
			let arr1 = brandNews.length ? brandNews.filter((item) => {
          return item.KindID == this.$route.query.msgKindID;
				}) : {}
			// console.log('findNewsKindID-arr1: ', arr1);	// @@
			return arr1.length ? arr1[0] : arr1;
    },
    findFoodKindID(){
			const brandListKind = this.publicData.brandListKind;
			return brandListKind.length ? brandListKind[0] : {};
    },
    cloudKeys() {
			const cloudsearch = this.publicData.cloudsearch;
			let arr1 = cloudsearch.length ? cloudsearch.filter((item) => {
					return item.isFullText && item.LinkPosition == "餐點查詢";
				}) : []
      return arr1;
		},
		searchNote(){
			const cloudsearch = this.publicData.cloudsearch;
			let arr1 = cloudsearch.length ? cloudsearch.filter((item) => {
					return item.isText && item.LinkPosition == "餐點查詢"
				}) : []
			// console.log('findNewsKindID-arr1: ', arr1);	// @@
			return arr1.length ? arr1[0]["Text"] : '';
    },
    menuList () {
      if( this.nowGID == '2' ) return this.menus[this.menuSortList].slice(this.sortBegin, this.sortEnd)
      if( this.nowGID == '14' ) return this.menus[this.menuSortList].slice(this.sortBegin, this.sortEnd)
      else return this.menus['gid' + this.nowGID]
    }
  },
  beforeRouteEnter: function(to, from, next){
    //store.dispatch('fetchCompanyData')
    store.dispatch('fetchAppBrandData')//統一到fetchAppBrandData刷新

    next( vm => {
			const v_query 	= vm.$route.query
				// ,nowGID				= vm.nowGID
				,q_gid				= v_query.gid
				,q_msgKindID	= v_query.msgKindID		// 消息類別
				,q_foodKindID	= v_query.foodKindID	// 商品類別
			// console.log('beforeRouteEnter-query: ', v_query);	// @@

			/** @Fix: 統一由setModeType去做更新了 */
			// // 從首頁來,且有帶gid時,更新gid
			// if (from.path == '/card' && (nowGID && nowGID !== q_gid)) {
				// vm.nowGID = q_gid;
			// }

      const isFromMsgKind = q_msgKindID && !q_gid
				,isFromfoodKind 	= q_foodKindID && !q_gid
      if (isFromMsgKind) {
        const brand_arr = vm.listBrands.filter((item) => {
          return item.ID == vm.findNewsKindID.BrandID
        })

        if (brand_arr.length) {
          // vm.$router.push({ path: S_CurPAGE, query: {gid: brand_arr[0]["GID"], msgKindID:q_msgKindID} });
					const _page = `#/${S_CurPAGE}?isMode=brand&isType=news&gid=${q_msgKindID}`;
					SetURLPara(_page);
        }else{
          showAlert('找不到消息類別')
        }

      }else if (isFromfoodKind) {
        const brand_arr = vm.listBrands.filter((item) => {
          return item.ID == vm.findFoodKindID.BrandID
        })
        if (brand_arr.length) {
          // vm.$router.push({ path: S_CurPAGE, query: {gid: brand_arr[0]["GID"], foodKindID:q_foodKindID} });
					const _page = `#/${S_CurPAGE}?isMode=brand&isType=brand&gid=${q_foodKindID}`;
					SetURLPara(_page);
        }else{
          showAlert('找不到商品類別')
        }

      }else{
				q_gid && vm.selectBrand(q_gid);
      }

			vm.setModeType();
			vm.setPageName();
      vm.menuText = "菜單";

    });
  },
  beforeRouteUpdate: function(to, from, next){
		this.setModeType();
		this.setPageName();

    next();
  },

	/* 建立頁面後 */
  // created: function () {
  // },

  /* 頁面模組 */
  methods: {
    showImage,
    //showImageWuhu,
    showImageWuhuPage(p_url){
      const pic = showImageWuhu(p_url);
      return pic.indexOf('/assets/images/img_init.png') > -1 ?require('../../../assets/images/img_init.png'):pic;
    },
		/* 頁面名稱 */
    setPageName() {
			store.state.isPageName = this.isMode == 'brand' ? '品牌專區' : '好康專區';
    },
		/* 頁面模式 */
    setModeType() {
			this.isMode = GetURLPara('isMode');
			this.isType = GetURLPara('isType');
			this.nowGID = GetURLPara('gid');
			// console.log('頁面模式-isType,isMode,nowGID : ',this.isType ,this.isMode ,this.nowGID);	// @@
    },
		/* 下拉選-消息查詢 */
		selectNews(p_name) {
      this.menuText = '菜單'
			this.isType = 'news';
			this.nowKindName = this.newsText = p_name;
			this.onCloseNews()
		},
    showNewspage(p_news){
			// console.log('showNewspage-p_news: ', p_news);	// @@
			const _mode = this.isMode == 'brand' ? 'brand' : 'news'
				,v1 = `#/cardBrand?isMode=${_mode}&isType=${_mode}&gid=${p_news.BrandID}`
			// console.log('showNewspage-v1: ', v1);	// @@
			// 返回要用,先更新記錄目前網址
			SetURLPara(v1);
      this.$router.push({ path: `/cardNewspage/${p_news.DetailID}` });
    },

		/* 下拉選-餐點 */
/*
    selectKind(p_kind){
			const fullPath = this.$route.fullPath
					,txt1			 = p_kind.KindName
			// console.log('selectNews-fullPath: '+txt1, fullPath);	// @@

			const param1 = {
				path: fullPath,
				query: {
					food: txt1,
					news: ''
				}
			}

			if (fullPath.includes('food')) {
				// 與目前網址同有錯
				this.newsText != txt1 && this.$router.replace(param1)
			} else {
				this.$router.push(param1)
			}

      this.kindText = txt1;
      this.isType = 'food';
      this.nowKindID = p_kind.KindID;
      this.onCloseFood()
    },
 */
		selectMenu(gid, begin, end) {
      if(gid == 'gid1_sort01') this.menuText = '單點'
      else if(gid == 'gid1_sort02') this.menuText = '套餐'
      else if(gid == 'gid1_sort03') this.menuText = '任您吃'
      else if(this.currentSort == '餐廳') this.menuText = '餐廳'
      else if(this.currentSort == '美食街') this.menuText = '美食街'
      else if(this.currentSort == '高雄店-常態菜單') this.menuText = '高雄店-常態菜單'
      else if(this.currentSort == '台中店-常態菜單') this.menuText = '台中店-常態菜單'
      else if(this.currentSort == '高雄店-新春限定') this.menuText = '高雄店-新春限定'
      else if(this.currentSort == '台中店-新春限定') this.menuText = '台中店-新春限定'
			this.isType = 'menus'
      this.onCloseFood()
      this.menuSortList = gid
      this.sortBegin = begin
      this.sortEnd = end
		},
		/* 下拉選-品牌 */
		selectBrand(p_gid) {
      this.menuText = '菜單'
      this.nowGID = p_gid;
			const _mode = this.isMode == 'brand' ? 'brand' : 'news';
			this.isType = _mode;

      // if (!(this.localSearchKeyWord && this.isType === 'food')) this.isType='brand';
      this.onCloseBrand()
    },
		/* 顯示商品頁的連結 */
    async showProductUrl(product) {
      const path = `/cardProducts/${product.DetailID}`
      await store.dispatch('fetchBrandData', {GID: this.nowGID})
      this.$router.push({ path: path });
    },
		// Drop Menu Click Outside to Close
		onCloseLink () {
			this.isLinkBtns = false
		},
		onCloseBrand () {
			this.isDropBrand = false
		},
		onCloseFood () {
      this.isDropFood = false
      if(this.isType != 'menus') this.currentSort = ''
		},
		onCloseNews () {
			this.isDropNews = false
		},
		deviseUrl(url){
			return deviseFunction('openWeburl', url, '')
		},
		// (殼專屬) 另開瀏覽器app，開啟連結
		deviseToLink(Url) {
			return deviseFunction('openWeburl', Url, '')
		},
		deviceShare(pageData) {
			// console.log('deviceShare ===> start', pageData)
			let url = 'https://web.jh8.tw/home/Q/wuhu.html?t=b&id='
				+ pageData.ID

			let msg = '嗨!跟你分享一個好的品牌「'
				+ pageData.Text + '」，希望你會喜歡。'
				+ ' ' + url

			let shareObj = {
				subject: '',
				body: msg,
				chooserTitle: ''
			}
			let shareObjString = JSON.stringify(shareObj)
			console.log('deviceShare ===> shareObjString =>' + shareObjString)
			return deviseFunction('shareTo', shareObjString, '')
		},

    zoomTouch() {
      setTimeout(() => {
          let el = document.querySelector(".swiper-zoom-container img")
          let elStyle = el.style.transform
          let newElStyle = elStyle.replace(/translate3d\(0px, 0px, 0px\)/i, 'translate(0px, 0px)')
          el.style.transform = newElStyle
      }, 200)
    }
  },
  watch: {
		/** @Fix: 修正:nowKindID勿清空,下次進來會搜不到!! */
    // nowGID() {
      // this.nowKindID = ''
    // },
    brandOnly(){
			const nLen_News = this.chNewsList.length
			if (!nLen_News) {
				this.nowKindName = this.newsText = '全部消息';
			}
    },

  },
}
</script>
