<template>
  <!-- GPU加速style會影響modal層級表現 :style="{'transform':(isDemo=='mbrSearch'||isDemo=='couponCode') ? '':'translateZ(0)' }" -->
  <div class="h-100 overflow-auto bg-white">
    <div>
      <!-- {{(!ticketData) ? '我的優惠券':'詳細內容'}} -->
      <div class="text-center bg-white is-size-5 sticky-top pb-0">
        <!-- Tabs  -->
        <div class="tabs is-centered bg-white" v-if="!ticketData">
          <ul>
            <li :class="{'is-active':isActiveTab==1}" @click="isActiveTab=1">
              <a class="position-relative px-4 text-decoration-none" :data-badge="ticketList.length">
                可使用
              </a>
            </li>
            <li class="badge-gray" :class="{'is-active':isActiveTab==2}" @click="isActiveTab=2" :data-badge="notAvailableTickets.length">
              <a class="px-4 text-decoration-none">未生效</a>
            </li>
            <li class="badge-gray" :class="{'is-active':isActiveTab==3}" @click="isActiveTab=3">
              <a class="position-relative px-4 text-decoration-none" :data-badge="gaveTicketList.length">
                已轉贈
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div v-if="!ticketData">
        <!-- 可使用 -->
        <div v-if="isActiveTab==1 && !ticketData">
          <p class="text-center has-text-grey-lighter my-5 py-5" v-if="!ticketList.length">-- 無優惠券 --</p>
          <!-- 券 -->
          <div v-if="!ticketData">
            <div class="card overflow-hidden shadow-sm rounded-lg mx-3 my-3 coupon-style" v-for="item in ticketList" :key="item.GID" @click="showTicketData(item)">
              <div class="card-content p-3 pb-0">
                <div class="media mb-3">
                  <div class="media-left">
                    <figure class="image has-background-white-ter is-96x96 overflow-hidden">
                      <img :src="(item.ImageUrl !== '/images/noPic.jpg' && item.ImageUrl !== '/imagesPic.jpg') ? showImageWuhu(item.ImageUrl) : require('../../../assets/images/img_init.png')" :alt="item.TicketTypeName">
                    </figure>
                    <div class="position-relative icon-cut">
                      <i class="fas fa-cut fa-rotate-270 fa-xs"></i>
                    </div>
                  </div>
                  <div class="media-content">
                    <p class="title is-6 text-info">{{item.TicketTypeName}}</p>
                    <p class="subtitle is-6 mt-0">
                      有效期限：{{/9999-12-31/.test(item.TicketExpiredDate) ? '不限' : item.TicketExpiredDate.substring(0, 10)}}<br>
                      張數：{{item.TicketCount}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 未生效 -->
        <div v-if="isActiveTab==2 && !ticketData">
          <p class="text-center has-text-grey-lighter my-5 py-5" v-if="!notAvailableTickets.length">-- 無優惠券 --</p>
          <div v-if="!ticketData">
            <!-- 券 -->
            <div class="card border overflow-hidden shadow-sm rounded-lg mx-3 my-3 coupon-style" v-for="item in notAvailableTickets" :key="item.GID" @click="showTicketData(item)">
              <div class="card-content p-3 pb-0">
                <div class="media mb-3">
                  <div class="media-left">
                    <figure class="image has-background-white-ter is-96x96 overflow-hidden">
                      <img :src="(item.ImageUrl !== '/images/noPic.jpg' && item.ImageUrl !== '/imagesPic.jpg') ? showImageWuhu(item.ImageUrl) : require('../../../assets/images/img_init.png')" :alt="item.TicketTypeName">
                    </figure>
                    <div class="position-relative icon-cut">
                      <i class="fas fa-cut fa-rotate-270 fa-xs"></i>
                    </div>
                  </div>
                  <div class="media-content">
                    <p class="title is-6 text-info">{{item.TicketTypeName}}</p>
                    <p class="subtitle is-7 mt-0">
                      有效期限：{{/9999-12-31/.test(item.TicketExpiredDate) ? '不限' : item.TicketExpiredDate.substring(0, 10)}}<br>
                      張數：{{item.TicketCount}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 已轉贈 -->
        <div v-if="isActiveTab==3 && !ticketData">
          <p class="text-center has-text-grey-lighter my-5 py-5" v-if="!gaveTicketList.length">-- 無優惠券 --</p>
          <!-- 券 -->
          <div v-if="!ticketData">
            <div class="card overflow-hidden has-background-white-bis shadow-sm rounded-lg mx-3 my-3 coupon-style grayscale-100 opacity-75" v-for="item in gaveTicketList" :key="item.GID">
              <div class="card-content p-3 pb-0">
                <div class="media mb-3">
                  <div class="media-left">
                    <figure class="image has-background-white-ter is-96x96 overflow-hidden">
                      <img :src="(item.ImageUrl !== '/images/noPic.jpg' && item.ImageUrl !== '/imagesPic.jpg') ? showImageWuhu(item.ImageUrl) : require('../../../assets/images/img_init.png')" :alt="item.TicketTypeName">
                    </figure>
                    <div class="position-relative icon-cut">
                      <i class="fas fa-cut fa-rotate-270 fa-xs"></i>
                    </div>
                  </div>
                  <div class="media-content">
                    <p class="title is-6 text-info">{{item.TicketTypeName}}</p>
                    <p class="subtitle is-6 mt-0 text-info">
                      轉贈日期： {{ item.TradeTime.substring(0, 10)}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 券詳細頁 -->
      <div v-if="ticketData">
        <div class="card border overflow-hidden rounded-lg mx-3 my-3 coupon-style">
          <div class="card-content p-3 pb-0">
            <div class="media mb-3">
              <div class="media-left">
                <figure class="image has-background-white-ter is-96x96">
                  <img :src="(ticketData.ImageUrl !== '/images/noPic.jpg' && ticketData.ImageUrl !== '/imagesPic.jpg') ? showImageWuhu(ticketData.ImageUrl) : require('../../../assets/images/img_init.png')" :alt="ticketData.TicketTypeName">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-6 text-info">{{ticketData.TicketTypeName}}</p>
                <p class="subtitle is-6 mt-0">
                  期限(起)：{{ /0001-01-01/.test(ticketData.TicketBeginDate) ? ticketData.GenTradetime.substring(0, 10) : ticketData.TicketBeginDate.substring(0, 10)}}<br>
                  期限(訖)：{{/9999-12-31/.test(ticketData.TicketExpiredDate) ? '不限' : ticketData.TicketExpiredDate.substring(0, 10)}}<br>
                  張數：{{ticketData.TicketCount}}
                </p>
              </div>
            </div>
            <div class="content border-top py-3 white-space-wrap line-height-150" style="min-height: 240px">
              <b>券別：</b>{{ticketType}}
              <br>
              <!-- <b>限制：</b>每次消費限用1張
              <br> -->
              <!-- 2020-03-17 家妃說先隱藏
              限定使用商品：{{ticketUsageFoods}}
              <br>
              -->
              <b>活動說明：</b>{{ticketInfo.ruleData.Remark}}
              <br>
              <b>適用門店：</b>{{ticketUsageShops}}
              <br>
              <!-- 2020-03-27 家妃說先隱藏
              <b>適用期間：</b>{{ticketUsagePeriod}}
              <br>
              -->
            </div>
          </div>
          <footer class="card-footer bg-white">
            <a class="card-footer-item text-decoration-none text-dark text-wide" @click="$router.go(-1)">取消</a>
            <!-- 不可轉贈的優惠券,不可出現[轉贈]按鈕 -->
            <a v-if="!ticketData.IsStopGive" class="card-footer-item text-decoration-none text-dark text-wide" @click="toTrans()">贈送</a>
            <a class="card-footer-item bg-lichen-primary text-decoration-none text-dark text-wide" @click="showCouponCode" v-if="!isNotAvailable(ticketData)">使用</a>
          </footer>
        </div>

        <div class="notification p-2 my-3 shadow-sm coupon-style" v-if="false">
          <article class="media flex-wrap">
            <figure class="media-left m-2">
              <p class="image is-96x96 mr-1">
                <img :src="(ticketData.ImageUrl !== '/images/noPic.jpg' && ticketData.ImageUrl !== '/imagesPic.jpg') ? srcUrl + ticketData.ImageUrl : 'https://dev-service.jinher.com.tw/projectFeature/APP_KK/Kakar/images/default-coupon.png'" :alt="ticketData.TicketTypeName">
              </p>
            </figure>
            <div class="media-content mb-1" style="flex: 0 0 calc(100% - 120px)">
              <div class="content h-auto">
                <p class="mt-2" style="min-height:44px"><b>{{ticketData.TicketTypeName}}</b></p>
              </div>
              <nav class="level">
                <div class="level-left">
                  <!-- 顯示票券期限開始日期：如果 TicketBeginDate 是西元 0001 年開頭，則取 GenTradetime -->
                  <div>期限(起)：{{ /0001-01-01/.test(ticketData.TicketBeginDate) ? ticketData.GenTradetime.substring(0, 10) : ticketData.TicketBeginDate.substring(0, 10)}}</div>
                  <div>期限(訖)：{{/9999-12-31/.test(ticketData.TicketExpiredDate) ? '不限' : ticketData.TicketExpiredDate.substring(0, 10)}}</div>
                  <div>張數：{{ticketData.TicketCount}}</div>
                </div>
              </nav>
            </div>
            <div class="border-top border-warning m-2 pt-3 w-100" style="min-height:260px;line-height:1.5">
              <b>券別：</b>{{ticketType}}
              <br>
              <b>限制：</b>每次消費限用1張
              <br>
              <b>適用門店：</b>{{ticketUsageShops}}
              <br>
              <b>備註：</b>{{ticketInfo.ruleData.Remark}}
            </div>
          </article>
        </div>
      </div>

      <!-- 顯示券 QRcode -->
      <transition name="slide-top">
        <div class="modal mbr-qrcode is-active" v-if="isDemo=='mbrSearch'||isDemo=='couponCode'">
          <div class="modal-background"></div>
          <div class="modal-content">
            <div>
              <figure class="image mx-auto overflow-hidden" style="width:160px;height:64px">
                <img  src="../../../assets/images/nav_ic_member.svg">
              </figure>
            </div>
            <!-- 券code -->
            <div class="box m-auto text-center text-white bg-lichen-secondary" style="max-width: 300px" v-if="isDemo=='couponCode'">
              <header>
                <h3 class="title is-3">{{ticketData.TicketTypeName}}</h3>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
                  <path d="M0,0 Q50,50 100,0"></path>
                </svg>
              </header>
              <article>
                <div class="bg-white p-2 m-auto" style="max-width:200px">
                  <figure class="image bg-white is-1by1">
                    <small class="qrcode-rendering has-text-grey-light text-nowrap"><i class="fas fa-spinner fa-pulse fa-fw fa-lg"></i> 條碼生成中...</small>
                    <img :src="ticketInfo.currentTicketQRcode">
                  </figure>
                </div>
                <p class="m-3 is-size-7">{{ticketInfo.currentTicketGID}}</p>
              </article>
            </div>
            <div class="m-auto pt-3" style="max-width: 300px" v-if="isDemo=='couponCode'">
              <button class="button is-danger flex-column h-auto is-fullwidth rounded-pill" @click="toSelectStore = true">
                <h4 class="title is-4 text-wide text-white mb-1">我 要 兌 換</h4>
                <small>(點擊後本券即使用，無法再次兌換。)</small>
              </button>
            </div>
            <!-- 轉贈 -->
            <div class="box m-auto p-3" style="max-width: 320px" v-if="isDemo=='mbrSearch'">
              <h5 class="title text-center is-6 mb-3">優惠券轉贈</h5>
              <div class="field has-addons pb-2">
                <p class="control has-icons-left w-100">
                  <input class="input" type="text" placeholder="請輸入轉贈的手機號碼" v-model="ToAccount" @blur="fixScroll">
                  <span class="icon is-small is-left">
                    <i class="fas fa-search fa-fw"></i>
                  </span>
                </p>
                <div class="control" @click="confirmTicketTrans">
                  <a class="button bg-lichen-primary">
                    贈送
                  </a>
                </div>
              </div>
              <article class="is-size-7">
                <p>
                  可以讓你將優惠券贈送給指定好友，讓你輕鬆揪朋友一同分享。
                  <span class="d-block px-3 py-2 my-2 rounded has-background-white-ter">
                  <b>贈送流程：</b><br>
                  1.  請輸入轉贈的手機號碼 (僅限轉贈已註冊會員)<br>
                  2.  確認會員帳號後按下【贈送】，於跳出提示窗再次按下【確認】，優惠券將立即轉贈給指定好友<br>
                  3.  若您輸入的帳號錯誤，提示窗則會跳出「會員帳號」錯誤<br>
                  </span>
                  註：優惠券一經贈送即無法單向取回，請於送出前再次確認會員帳號
                </p>
              </article>
            </div>
          </div>
          <button class="modal-close is-large" aria-label="close" @click="hideCouponCode"></button>
        </div>
      </transition>
      <!-- 券核銷選擇門市 -->
      <transition name="slide-top">
        <div class="modal mbr-qrcode is-active" v-if="toSelectStore">
          <div class="modal-background"></div>
          <div class="modal-content">
            <div class="box text-center m-3 p-3">
              <p class="is-size-5 mb-3" style="line-height:1.5">請選擇兌換門市</p>
                <div class="field is-horizontal is-flex align-items-center">
                  <div class="field-body" v-if="ticketUsageShops=='不限'">
                    <div class="field">
                      <div class="control">
                        <div class="select is-fullwidth">
													<select v-model="selectedShopCounty" @blur.prevent="fixScroll">
														<option value="縣市">縣市</option>
														<option v-for="county in Object.keys(storeGroup)" :key="county" :value="county">{{county}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="field">
                      <div class="control">
                        <div class="select is-fullwidth">
													<select v-model="selectedShop" @blur.prevent="fixScroll">
														<!-- <option value="" selected>門市</option> -->
														<option v-for="mStore in storeGroup[selectedShopCounty]" :key="mStore.OrgCode" :value="mStore.OrgCode">{{mStore.OrgName}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="field-body" v-if="ticketUsageShops!='不限'">
                    <div class="field">
                      <div class="control">
                        <div class="select is-fullwidth">
													<select v-model="selectedShop" @blur.prevent="fixScroll">
														<!-- <option value="" selected>門市</option> -->
														<option v-for="one in ticketInfo.usageShops" :key="one.ShopID" :value="one.ShopID">{{one.ShopName}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <!-- 按鈕 -->
              <div class="columns is-mobile is-variable is-1 mt-n1">
                <div class="column">
                  <button class="button is-fullwidth text-wide is-light border mr-2" @click="toSelectStore=false">取消</button>
                </div>
                <div class="column">
                  <button class="button is-fullwidth text-wide bg-lichen-primary border-0" @click="doTicketExchange()">確認</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.qrcode-rendering {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.select:not(.is-multiple):not(.is-loading)::after,
.select:not(.is-multiple):not(.is-loading):hover::after {
  right: .5em;
}
@media screen and (min-width: 1px) {
  .field.is-horizontal {
    display: flex;
    .field-label {
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 0;
      margin-right: 1rem;
      text-align: right;
      line-height: 40px;
      @media screen and (min-width: 768px) { line-height: normal; }
      min-width: 48px;
      .is-medium {
        padding-top: 0;
      }
    }
    .field-body {
      display: flex;
      flex-basis: 0;
      flex-grow: 5;
      flex-shrink: 1;
      .field {
        margin-bottom: 0;
      }
      > .field {
        flex-shrink: 1;
        &:not(.is-narrow) {
          flex-grow: 1;
        }
        &:not(:last-child) {
          margin-right: .75rem;
        }
      }
    }
  }
}
</style>

<script>
import store from 'src/store'
import { setLoading } from 'src/libs/appHelper.js'
import { deviseFunction } from 'src/libs/deviseHelper.js'
import { StoreGroup, GUID, SetLastPage } from 'src/fun1.js'	// 共用fun在此!
import { isLogin, fixScroll, showAlert, showConfirm, showImageWuhu } from 'src/libs/appHelper.js'

export default {
  // 頁面資料: 請使用function return
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      state: this.$store.state,
      isActiveTab: 1,
      isShow: true,
      isRuned: false,						// 正在執行 券兌換
      isDemo: '',
      toSelectStore: false,
      // toSelectStore: true,	// @@test
      // hasEdit: false,				// 有無執行 券兌換 或什麼的修改...
      ToAccount: '',
			selectedShopCounty: '縣市',
      selectedShop: '',	// 門市,勿給預設,判斷用
      ShopID: '',	// 存目前門市代號
    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
		// 按縣市選門店
		storeGroup: StoreGroup,
    srcUrl()   { return this.state.srcUrl },
    ticketList() { return this.state.baseInfo.memberData.ticketList },
    gaveTicketList() { return this.state.baseInfo.memberData.gaveTicketList },
    notAvailableTickets() { return this.state.baseInfo.memberData.notAvailableTickets },
    totalTicket() {return this.ticketList.concat(this.notAvailableTickets)},
    // --- 單一筆優惠卷的資訊 ---
    ticketID() { return this.$route.query.code },
    ticketInfo() { return this.state.baseInfo.memberData.ticketInfo },
    ticketData() { return this.totalTicket.filter(item => {return item.GID == this.ticketID})[0] },
    // 使用期限
    ticketExpiredAt() { return this.ticketData.TicketExpiredDate.substring(0, 10) },
    // 限定使用商品
    ticketUsageFoods() {
      const foods = this.ticketInfo.usageFoods
				,hasVal		= !!foods.length
			if (hasVal) {
				return foods.map(item => item.FoodName).join(', ')
			} else {
				return '不限'
			}
    },
    // 適用門店
    ticketUsageShops() {
      const shops = this.ticketInfo.usageShops
				,nMax 		= shops.length
				,str1			= nMax ? shops.map(item => item.ShopName).join(', ') : '不限'
			// console.log('適用門店-shops: ', shops);	// @@
			// console.log('適用門店-str1: '+nMax, str1);	// @@
      return str1;
    },
    // 適用期間 (timePeriod, weekDay)
    ticketUsagePeriod() {
      const rule = this.ticketInfo.ruleData
      // 設定使用時間
      const beginTime = rule.BeginDate2 || rule.BeginTime
      const endTime   = rule.EndDate2 || rule.EndTime

      let timePeriod = ''
      if (beginTime !== "" && endTime !== "") timePeriod = beginTime + "-" + endTime
      if (beginTime === "" && endTime !== "") timePeriod = "截止" + endTime;
      if (beginTime !== "" && endTime === "") timePeriod = beginTime + "起 - 不限";
      if (beginTime === "" && endTime === "") timePeriod = '不限'
      if (beginTime === undefined && endTime === undefined) timePeriod = 'loading...'

      // 設定使用日 (星期一 ~ 星期日)
      let weekDay = ''
      if (rule.Week1 === "True") weekDay += " 星期一";
      if (rule.Week2 === "True") weekDay += " 星期二";
      if (rule.Week3 === "True") weekDay += " 星期三";
      if (rule.Week4 === "True") weekDay += " 星期四";
      if (rule.Week5 === "True") weekDay += " 星期五";
      if (rule.Week6 === "True") weekDay += " 星期六";
      if (rule.Week7 === "True") weekDay += " 星期天";

      return `${timePeriod} [${weekDay} ]`
    },
    // 優惠卷類別
    ticketType() {
      const item = this.ticketData
      if (parseInt(item.TicketFlag) === 1) return '現金劵'
      if (parseInt(item.TicketFlag) === 2) return '商品抵用劵'
      if (parseInt(item.TicketFlag) === 3) return '商品折扣劵'
      if (parseInt(item.TicketFlag) === 4) return '現金折扣劵'
      return ''
    },
  },
  beforeRouteEnter: function(to, from, next){
    // 如果取不到 Vue instance (e.g. 直接 F5 刷新時), 導回首頁重取預設資料
    if (!isLogin.value) return next('/')

    setLoading(true, 4)
    store.dispatch('fetchStoreListDataWuhu')	// 取得門店
    store.dispatch('fetchAppPublicDataCouponWuhu')	//  currentApp 的公開資料

    // 頁面名稱
    store.state.isPageName = '我的優惠券'

		SetLastPage(from.path);	// 記錄上一頁
		// next()
		next(vm => {
			vm.aa = 1;	// @@
			setLoading(false)
		});
  },
  beforeRouteUpdate: function(to, from, next){
    // 頁面名稱
		const _page = this.ticketData ? '我的優惠券' : '詳細內容'
    this.$store.state.isPageName = _page

		// const _from = from.path
		// console.log('beforeRouteUpdate-form: ', _from);	// @@
		// SetLastPage(_from);
		SetLastPage(from.path);	// 記錄上一頁

    next();
  },
  watch: {
    selectedShop(_new){
			// console.log('selectedShop: ', _new);	// @@
			this.ShopID = _new;
    },

  },
  // 頁面模組
  methods: {
    fixScroll,
    showImageWuhu,
    // 判斷此卷能否使用
    isNotAvailable(ticket) {
      return this.notAvailableTickets.filter(item => {return item.GID == ticket.GID}).length
    },
		/* 重整-優惠卷列表 */	// 為了使用後更新列表...
    refreshTicList() {
			this.$store.dispatch('fetchMemberTicketListDataWuhu')
    },
    // 顯示優惠卷細節資訊
    showTicketData(item) {
			// console.log('顯示優惠卷-item: ', item);	// @@

      // 取優惠卷的使用規則、條款資料，QRcode
      this.$store.dispatch('fetchMemberTicketInfoData', item)
      // 導向優惠卷資訊頁
      this.$router.push(`/cardCoupon?code=${item.GID}`)
    },
    // 開啟-優惠卷的 QRcode
    showCouponCode() {
      this.isDemo = 'couponCode'
      this.$store.commit('setCssTouch', false)
      // 進入時將殼的螢幕調到最亮
      deviseFunction('setBrightness', '255', '')
    },
    // 關閉-優惠卷的 QRcode
    hideCouponCode() {
      // 將殼的螢幕恢復原本亮度
      deviseFunction('setBrightness', this.$store.getters.deviseBrightness, '')
      this.$store.dispatch('fetchAppUserData')
      this.$store.commit('setCssTouch', true)

			// this.hasEdit && this.refreshTicList();
      this.isDemo = ''
      //this.$router.go(-1)
    },
    // 贈送優惠券
    toTrans() {
      this.ToAccount = ''
      this.isDemo='mbrSearch'
    },
    // 確認是否贈卷
    confirmTicketTrans() {
      const mobilePhoneRegxp = /^09[0-9]{2}[0-9]{6}$/; // 格式需為09XXXXXXX
      if (this.ToAccount === '') return showAlert('請輸入會員電話號碼')
      if (mobilePhoneRegxp.test(this.ToAccount) != true) return showAlert('會員電話號碼錯誤')

      showConfirm("一經贈送即無法更改<br>您確定要贈送嗎?")
        // 點擊確認執行贈卷
        .then(() => this.doTicketTrans() )
        // 點擊取消執行關閉 confirmn 視窗
        .catch(() => store.commit('setCustomModal', { type: '', text: '' }) )
    },
    // 執行-贈卷
    async doTicketTrans() {
      if (this.isRuned)		return
			this.isRuned = true;

			const param1 = {
				ToAccount: this.ToAccount,
				TicketInfoID: this.ticketData.TicketInfoID
			}
      const data = await this.$store.dispatch('ensureMemberTicketTrans', param1)
			// console.log('執行贈卷-data: ', data);	// @@
      showAlert(data.ErrorMsg)	// 成功失敗都要顯示 api 訊息
			this.isRuned = false;
      if (data.ErrorCode !== '0') return

      // 刷新-優惠券清單
      await this.$store.dispatch('fetchAppPublicDataCouponWuhu')
      this.hideCouponCode()
      this.isActiveTab = 3
    },
    // 執行-優惠券兌換
    async doTicketExchange() {
      if (this.isRuned)		return
			this.isRuned = true;
			const t1 = this.ticketData;
			// console.log('優惠券兌換-t1: ', t1);	// @@
			const param1 = {
				ShopID: this.ShopID,
				Ticket: {
					MemberNo: 			t1.CardNO,
					TradeNum: 			GUID(),								// 新GID new GID
					TicketTypeCode: t1.TicketTypeCode,
					TicketEndNO: 		t1.TicketEndNO,
					TicketBgnNO: 		t1.TicketBgnNO,
					TicketInfoID: 	t1.TicketInfoID,
					TicketPrice: 		t1.TicketPrice,
					TicketTotal: 		t1.TicketTotal,
					TicketCount: 		t1.TicketCount,
					TradeAmount: 		0 		 		 		 		 		// 一律給0
				}
			}
			// console.log('優惠券兌換-param1: ', param1);	// @@
      const data = await this.$store.dispatch('ensureTicketExchange', param1)
			// console.log('執行doTicketExchange-data: ', data);	// @@
      showAlert(data.ErrorMsg)	// 成功失敗都要顯示 api 訊息
			this.isRuned = false;
      if (data.ErrorCode != 0) return

			// this.hasEdit = true
			this.refreshTicList();
      this.hideCouponCode()
      this.isActiveTab = 1
      this.toSelectStore = false
    },

  },
}
</script>
