<template>
  <div class="h-100 bg-white overflow-auto">
    <!-- 常見問題頁面-->
    <div class="content line-height-150 p-3">
      <div class="columns is-gapless is-mobile is-multiline" v-for="item in rawFaqData" :key="item.code">
        <div class="column is-narrow">
          <i class="fas fa-question-circle fa-fw has-text-orange mr-2"></i>
        </div>
        <div class="column" @click="item.open=!item.open" v-html="item.title"></div>
        <div class="column text-right pl-2 is-narrow" @click="item.open=!item.open">
          <div key="arowRight" v-if="item.open==false"><i class="fa fa-chevron-right ml-2"></i></div>
          <div key="arrowDown" v-else><i class="fa fa-chevron-down ml-2"></i></div>
        </div>
        <div class="column is-12">
          <p class="box is-shadowless p-3 mt-2 border border-orange has-background-lightorange"
            @click="dataToEmail(item, 'lichenserve@gmail.com')" v-if="item.open" v-html="item.content"
          ></p>
        </div>
      </div>
      <!-- 客服信箱 static -->
      <div class="columns is-gapless is-mobile is-multiline">
        <div class="column is-narrow">
          <i class="fas fa-info-circle fa-fw has-text-orange mr-2"></i>
        </div>
        <div class="column">客服信箱</div>
        <div class="column is-12">
          <p class="box is-shadowless p-3 mt-2 border border-orange has-background-lightorange" @click="deviseMailTo('lichenserve@gmail.com')">
            若有其他問題：請於週一~週五-非國定例假日 09:00-17:00來信：<br><u><b>lichenserve@gmail.com</b></u><br>將由專人為您服務
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

// 常見問題的資料
const rawFaqData = [
  {
    id: 1,
    title: '成為會員有什麼好處？',
    content: '完成註冊成為會員，除了可即時搜尋【饗樂捷利2.0 APP】內各品牌門市資訊、菜單，還可進行消費累點，使用點數兌換更多品牌專屬優惠。會員升等更可獲得不定期的會員專屬優惠票券，生日更可享壽星當月餐飲優惠。',
    open: false
  },
  {
    id: 2,
    title: '要怎麼成為會員？',
    content: '點選首頁下方的【捷利熊】，輸入手機號碼，並收取簡訊驗證，即可註冊成為會員。',
    open: false
  },
  {
    id: 3,
    title: '註冊時，系統顯示該手機號碼已註冊，該怎麼辦？',
    content: '請先確定是否有親友使用您的手機號碼進行註冊。若確認未曾註冊過，請寄信至客服信箱:<br><u><b>lichenserve@gmail.com</b></u><br>詢問。',
    open: false,
    hasEmail: true
  },
  {
    id: 4,
    title: '已輸入會員資料，但收不到驗證碼？',
    content: '請確認手機收訊是否正常，且您的手機號碼未設定拒收簡訊。若曾申請拒收簡訊功能，請先行聯絡您的電信業者開通，以收取簡訊。請注意點擊【重新寄驗證碼】需間隔五分鐘以上。',
    open: false
  },
  {
    id: 5,
    title: '忘記密碼該如何查詢？',
    content: '進入登入頁面，點選左欄的【忘記密碼】，依頁面指示輸入手機號碼，領取簡訊密碼登入。成功登入後可進入【設定】>【修改密碼】，重新設定。',
    open: false
  },
  {
    id: 6,
    title: '如何修改會員基本資料？生日輸入錯誤該如何修正？',
    content: '進入【會員等級】> 【會員資料】。會員生日無法自行更改，若需修正，請洽客服信箱:<br><u><b>lichenserve@gmail.com</b></u><br>每會員帳號僅可修改一次生日資料。',
    open: false,
    hasEmail: true
  },
  {
    id: 7,
    title: '一個人可以註冊幾個帳號？',
    content: '一個帳號對應一支手機號碼。',
    open: false
  },
  {
    id: 8,
    title: '會員升等機制及優惠為何？',
    content: '目前會員等級分為普卡、銀卡、金卡及黑鑽卡四種。升級至不同等級可享該等級專屬優惠。【饗樂捷利2.0 APP】會根據您的消費累積金額，決定會員等級。<br>您一完成註冊【饗樂捷利2.0 APP】即成為「普卡會員」，從您成為普卡會員的當天往後推365天內，累積消費8,888元，在消費滿額當日您即可升等為「銀卡會員」，在您成為「銀卡會員」的當天往後推365天內，您若累積消費18,888元，在當日您即可升等為「金卡會員」。<br>例如：您於 2020年7月2日 註冊加入【饗樂捷利2.0 APP】，您於2020年7月2日當天立即成為「普卡會員」，而您於 2021年7月2日23:59前消費累積滿7,500元，則在2021年7月2日成為「銀卡會員」，不同等級的會員我們將會提供不同的優惠活動。<br>但，若您未於365天內消費達該會員等級之金額，您的會員等級將會下降一等，例如：您於2020年7月2日成為「銀卡會員」，但於2021年7月2日23:59前消費累積未滿7,500元，您的會員等級則於2021年7月3日降為「普卡會員」。<br>● 各等級門檻升降等規則如下：<br><table class="table is-fullwidth my-2 bg-transparent"><thead><tr><th>等級</th><th>升等門檻</th><th>到期日</th></tr></thead><tbody><tr><td>普卡</td><td>註冊即可</td><td></td></tr><tr><td>銀卡</td><td>消費滿7,500元</td><td>升等後有效期為365天</td></tr><tr><td>金卡</td><td>升級銀卡365天內消費滿15,000元</td><td>升等後有效期為365天</td></tr><tr><td class="text-nowrap">黑鑽卡</td><td>升級金卡365天內消費滿50,000元</td><td>升等後有效期為365天</td></tr></tbody></table>● 會員升降等時機說明：<br>升等時機為累積消費滿額後，系統立即升級，有效期為升級後的365天。<br>• 消費金額累積顯示說明：<br>會員消費累積金額可於首頁【會員專區】進入查詢，目前累積金額以橫條方式呈現。',
    open: false
  },
  {
    id: 9,
    title: '生日禮是什麼？為什麼我註冊了卻沒有收到生日禮？',
    content: '【饗樂捷利2.0】只要您在生日當月份註冊或是登入，都會發送專屬生日禮給當月壽星，生日禮包含商品或折扣等不定期優惠，該優惠券的使用期限為當月一整個月。如：您生日為8/8，生日禮有效期限為8/1-8/31。<br>● 生日禮每年僅發送一次，生日禮詳細使用規定，請至【我的優惠券】內查看。',
    open: false
  },
  {
    id: 10,
    title: '我的集點及商品券或折價券等可以轉贈他人嗎？',
    content: '可以的，只要您欲轉贈行動電話已經綁定【饗樂捷利2.0 APP】即可將您手機內的【饗樂捷利2.0 APP】點數以及商品券、折價券等轉贈朋友。但唯獨生日券為會員專屬優惠故無法轉贈。',
    open: false
  },
  {
    id: 11,
    title: '我要如何進行累點？',
    content: '於結帳時出示手機【饗樂捷利2.0 APP】畫面中的會員QR CODE頁面，提供給門市人員，掃描並確認會員資格，即可進行累點。',
    open: false
  },
  {
    id: 12,
    title: '消費累點有甚麼好處？',
    content: '【饗樂捷利2.0 APP】會於【會員專區】內不定期的推出各品牌的折扣券或商品兌換券，當中除免費的票券外，更包含需以點數兌換之折扣較大、商品更優惠的票券。平時消費累積的點數即可於這時候拿來兌換您喜歡的票券做使用。',
    open: false
  },
  {
    id: 13,
    title: '累點回饋金額是多少？點數是否有期限？',
    content: '於【饗樂捷利2.0 APP】內特定品牌門市（牛角日本燒肉專賣店特定門市、MAiSEN 邁泉豬排、PEPPER LUNCH 胡椒廚房、樁涮 HOT POT、元町家 橫濱家系拉麵、捷記小麵館、品三杯、丸米 RIZO、捷果咖啡）消費，消費每滿50元，即累積一點。該年度累積點數，將於隔年12月31日到期。【參加累點活動之品牌門市，依現場公告為主】<br>例如：<br>● 2017/1/1～2017/12/31消費累積之點數，將於2018/12/31到期。<br>● 2018/1/1～2018/12/31消費累積之點數，將於2019/12/31到期。',
    open: false
  },
  {
    id: 14,
    title: '是否可憑非當日發票進行補登？',
    content: '若未能於當日結帳時進行累點，僅提供當日回到原消費店補登，過該日營業時間，即不再提供補登服務，補登點數入帳作業期為14天內入帳，敬請見諒。',
    open: false
  },
  {
    id: 15,
    title: '如何兌換票券？',
    content: '進入【集點換好康】選擇您要兌換的票券，點擊進入、閱讀詳細票券內容，確認無誤後點擊【兌換/限時搶優惠】，即可於【我的優惠券】內查閱及取用。<br>● 提醒您：所有優惠票券皆有使用期限，為確保您的消費權益，請確實於票券到期前，前往門市進行兌換。兌換券一旦過期，不再做補發。',
    open: false
  },
  {
    id: 16,
    title: '兌換了錯誤的票券，是否可取消並取回點數？',
    content: '一旦確認並兌換票券即無法取消，使用的點數不再歸還，還請務必詳閱票券內容，以確保您的權益。',
    open: false
  },
  {
    id: 17,
    title: '轉贈點數時，手機號碼輸入錯誤怎麼辦？',
    content: '轉贈點數前請先確認受贈者手機號碼以及欲轉贈之點數，點數一旦轉贈，即無法收回與追回，還請務必詳閱轉贈內容，以確保您的權益。',
    open: false
  },
  {
    id: 18,
    title: '若我沒有帶手機或結帳時無法出示我的APP條碼，可以累積會員積點嗎？',
    content: '您可以與門店人員告知您【饗樂捷利2.0 APP】綁定的行動電話號碼，這樣就可以將您當下的消費金額累積到您的【饗樂捷利2.0 APP】內。但若您要兌換商品，則必須要攜帶手機並出示APP QR CODE。',
    open: false
  },
]

import store from "src/store";
import { SetLastPage } from 'src/fun1.js'	// 共用fun在此!
import { deviseFunction } from 'src/libs/deviseHelper.js'

export default {
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      state: this.$store.state,
      rawFaqData: JSON.parse(JSON.stringify(rawFaqData)), // 常見問題列表
      isActiveTab: 1,
      isQuestion: true,
    };
  },
  computed: {
    srcUrl() { return this.state.srcUrl },
  },
  // 頁面模組
  methods: {
    // (殼專屬) 寄 email
    deviseMailTo(email){
      deviseFunction('mailto', `{"mailsubject":"您的問題", "mailbody":"問題內容", "chooserTitle":"寄信給客服信箱", "mailreceiver":"${email}"}`, '')
    },
    dataToEmail(i, email) {
      if(i.hasEmail == true) deviseFunction('mailto', `{"mailsubject":"您的問題", "mailbody":"問題內容", "chooserTitle":"寄信給客服信箱", "mailreceiver":"${email}"}`, '')
    }
  },
  // 在路由刷新前
  beforeRouteEnter: function(to, from, next){
    store.state.isPageName = '常見問題'
		SetLastPage(from.path);	// 記錄上一頁
    next(vm => {
      vm.rawFaqData.map( i => i.open=false )
    });
  },
  beforeRouteUpdate: function(to, from, next){
    this.rawFaqData = JSON.parse(JSON.stringify(rawFaqData))
		SetLastPage(from.path);	// 記錄上一頁
    next();
  },
  // 建立頁面後
  created: function(){

  }
}
</script>
<style lang="scss" scoped>
.has-text-orange {
  color: var(--lichen-orange);
}
.border-orange {
  border-color: var(--lichen-orange) !important;
}
.has-background-lightorange {
  background-color: lighten(#FFC400, 45%);
}
</style>
