<template>
  <div class="h-100 bg-white overflow-auto">
    <div v-if="hasTicket">
      <!-- 數量為0 class加上 grayscale-100 opacity-75 -->
      <div v-for="(item, index) in ticketList" :key="index" :class="['card overflow-hidden rounded-lg mx-3 my-3 coupon-style',{'grayscale-100 opacity-75':(item.isDraw === 1 || item.RemainQut <= 0)}]">
        <div class="card-content p-3 pb-0">
          <div class="media mb-3">
            <div class="media-left">
              <figure class="image is-96x96 overflow-hidden">
                <img :src="(item.PicUrl !== '' && item.PicUrl !== '/images/noPic.jpg' && item.PicUrl !== '/imagesPic.jpg') ? showImageWuhu(item.PicUrl) : require('../../../assets/images/img_init.png')" :alt="item.TicketTypeName">
              </figure>
              <div class="position-relative icon-cut">
                <i class="fas fa-cut fa-rotate-270 fa-xs"></i>
              </div>
            </div>
            <div class="media-content">
              <p class="title is-6">{{item.TicketTypeName}}</p>
              <p class="subtitle is-6 mt-0">
                剩餘：{{ item.RemainQut >= 0 ? item.RemainQut:0}} 張<br>
                期限：{{ item.begin_date.substring(0, 10) }}~{{ item.end_date.substring(0, 10) }}
              </p>
            </div>
          </div>
        </div>
        <footer class="card-footer">
          <!-- 領用 -->
          <a class="card-footer-item has-background-success text-decoration-none text-white text-wide" v-if="item.isDraw === 0 && item.RemainQut > 0 && item.isAuto === 2" @click="confirmDrawTicket(item.DrawGID)">領用</a>
          <a class="card-footer-item has-background-success text-decoration-none text-white text-wide" v-if="item.isDraw === 0 && item.RemainQut > 0 && item.isAuto === 3" @click="showDrawTicketQRcode(item.DrawGID)">店領</a>
          <!-- 已領 -->
          <a class="card-footer-item has-background-grey-light text-decoration-none text-white text-wide" v-if="item.isDraw === 1 && item.RemainQut > 0">已領</a>
          <!-- 數量為0 -->
          <a class="card-footer-item has-background-grey-light text-decoration-none text-white text-wide" v-if="item.RemainQut <= 0">索取一空</a>
        </footer>
      </div>
    </div>

    <!-- 無優惠券 -->
    <template v-if="!hasTicket">
      <div class="card overflow-hidden rounded-lg mx-3 my-3 coupon-style is-shadowless" style="border-style:dashed">
        <div class="card-content py-5">
          <div class="media py-3">
            <div class="media-content text-center text-lichen-orange">-- 無限時搶券活動 --</div>
          </div>
        </div>
      </div>
    </template>

    <!-- 說明 -->
    <div class="notification rounded-lg border m-3 py-3 pl-1 pr-2">
      <div class="content">
        <ul class="mt-0">
          <li class="mb-2 ml-n4" style="list-style-type:none"><b>活動說明：</b></li>
          <li>搶券活動不定期開放，限量搶完即結束。</li>
          <li>每個會員帳號，每次搶券活動限搶乙張。</li>
          <li>搶到的優惠券，使用方式以券內說明與店內公告為準。</li>
        </ul>
      </div>
    </div>

    <!-- 贈送對象搜尋 -->
  <transition name="slide-top">
    <div class="w3-stretch funcLayer" :class="[(isDemo==='showQRcode')?'couponCodeBg':'w3-white']" v-if="isDemo=='showQRcode'">
      <header class="w3-container w3-white primary-red" style="height:3rem">
        <span class="w3-button w3-padding-small w3-display-topright w3-xxlarge w3-hover-text-white w3-hover-none" style="line-height:1" @click="hideTicketCode">&times;</span>
      </header>
      <div v-if="isDemo=='showQRcode'" class="w3-container w3-padding-large w3-padding-32 w3-center">
        <div class="w3-white w3-card">
          <h4 class="w3-light-gray w3-padding" style="margin:0">限時搶卷！</h4>
          <img :src="qrcode" class="w3-image w3-padding-64" alt="" style="width: 75%">
          <p class="w3-light-gray w3-padding" style="margin:0">
            請將 QRcode 秀給門店 POS 刷條碼
          </p>
        </div>
      </div>
    </div>
  </transition>

  </div>
</template>

<script>
import store from 'src/store'
import { SetLastPage } from 'src/fun1.js'	// 共用fun在此!
import { isLogin, setLoading, Closable, showImageWuhu, showAlert, showConfirm } from 'src/libs/appHelper.js'

export default {
  directives: {
    Closable
  },
  // 頁面資料: 請使用function return
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      state: this.$store.state,
      isBrand: false,
      isDemo: '',
      qrcode: '',
    };
  },
  async beforeRouteEnter(to, from, next) {
    // 如果取不到 Vue instance (e.g. 直接 F5 刷新時), 導回首頁重取預設資料
    if (!isLogin.value) return next('/')

    setLoading(true, 4)
    // [自動領優惠券]做在這裡 -> 這個要在最一開始做,後面優惠券數量才會對
		await store.dispatch('fetchMemberDrawTicketListDataWuhu')

    store.state.isPageName = '限時搶券'	// 頁面名稱
		SetLastPage(from.path);	// 記錄上一頁

		// next()
		next(vm => {
			vm.aa = 1;	// @@
			setLoading(false)
		});
  },
  beforeRouteUpdate: function(to, from, next){
		SetLastPage(from.path);	// 記錄上一頁
    next();
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    ticketList() { return this.state.baseInfo.memberData.drawTicketList },
    hasTicket() { return !!this.ticketList.length },
  },
  methods: {
    showImageWuhu,
    onClose() {
      this.isBrand = false
    },
    // 打領卷的接口
    async doFetchDrawTicket(DrawGID) {
			setLoading(true)	// 為了不讓感覺還可以按...

      const res = await store.dispatch('ensureFetchDrawTicket', DrawGID)
			//let res={}; res.ErrorCode = 0;	// @@Test:測領用成功
      // 如果領用成功, 刷新會員資料，並導向優惠卷列表
      if (res.ErrorCode == 0) {
				this.$store.commit('setMemberDrawTicketListData', []);	// 清除可領用的優惠卷列表-
        showAlert('優惠券領用成功')
        this.$router.push({ path: '/cardCoupon' })

      } else {
        showAlert(res.ErrorMsg)
        store.dispatch('fetchMemberDrawTicketListDataWuhu')
      }
			setLoading(false)

    },
    // 顯示 confirm: 是否將卷領用
    confirmDrawTicket(DrawGID) {
      showConfirm("確認領用此優惠卷嗎?")
        // 點擊確認執行
        .then(() => {
          this.doFetchDrawTicket(DrawGID)
        })
        // 點擊取消執行 => 關閉 confirmn 視窗
        .catch(() => { store.commit('setCustomModal', { type: '', text: '' }) })
    },
    // 顯示到店領卷的 QRcode
    async showDrawTicketQRcode(DrawGID) {
      setLoading(true)
      let data = await store.dispatch('fetchDrawTicketQRCode', DrawGID)

      console.log('===> data =>', data)
      // this.qrcode = data.QrCodeImg
      this.qrcode = 'https://dev-service.jinher.com.tw/projectFeature/APP_JG_SSG/JH_APP/images/noPic.jpg'
      setLoading(false)
      store.commit('setCssTouch', false)
      this.isDemo = 'showQRcode'
    },
    // 關閉 QRcode 顯示, 並且重整會員資料
    hideTicketCode() {
      store.commit('setCssTouch', true)
      store.dispatch('fetchMemberDrawTicketListDataWuhu')
      this.isDemo = ''
      this.qrcode = ''
    },
  }
}
</script>
