<template>
  <div class="h-ios-hack overflow-auto" style="transform: translateZ(0)">

    <!-- 輪播 Banner -->
    <swiper class="swiper has-background-white-bis" ref="awesomeSwiperA" :options="swiperOptionA" v-if="pageData.slideBanners.length">
      <swiper-slide v-for="banner in pageData.slideBanners" :key="banner.GID">
        <figure class="image is-1by1">
          <img :data-src="showImageWuhu(banner.PicURL)" :key="banner.LastModify" @click="redirectToLink(banner)" class="swiper-lazy">
        </figure>
        <div class="swiper-lazy-preloader"></div>
      </swiper-slide>
      <!-- Optional controls -->
      <div class="swiper-pagination"  slot="pagination"></div>
    </swiper>
    <!-- 沒有設定任何資料跑這裡 -->
    <div class="no-data has-background-white-bis text-center" v-if="!pageData.slideBanners.length">
      <figure class="image is-1by1">
        <img src="../../../assets/images/img_init.png">
      </figure>
    </div>
    <!-- 露出資訊 -->
    <div class="notification bg-lichen-secondary mx-2 my-3 p-3 rounded-lg" v-if="isLogin">
      <div class="level is-mobile">
        <div class="level-item m-0 justify-content-start" @click="$router.push('/cardMember')">
          <figure class="image is-24x24 p-1 rounded-circle bg-white">
            <img v-if="memberData.card_info.CardTypeCode == 'A'" src="../../../assets/images/card_normal.svg">
            <img v-if="memberData.card_info.CardTypeCode == 'B'" src="../../../assets/images/card_silver.svg">
            <img v-if="memberData.card_info.CardTypeCode == 'C'" src="../../../assets/images/card_gold.svg">
            <img v-if="memberData.card_info.CardTypeCode == 'D'" src="../../../assets/images/card_black.svg">
          </figure>
          <span class="d-inline-block text-lichen-primary is-size-6 mx-1">
            {{ memberData.vip_info.MemberTypeName }}會員
          </span>
        </div>
        <div class="level-item m-0 has-text-centered" @click="$router.push('/cardCoupon')">
          <img src="../../../assets/images/nav_ic_coupon_white.svg" width="20" alt="">
          <span class="d-inline-block text-lichen-primary is-size-4 mx-2">{{ ticketListLength }}</span>
          <small class="text-muted">張</small>
        </div>
        <div class="level-item m-0 justify-content-end" @click="$router.push('/cardPoint')">
          <i class="fab fa-product-hunt fa-fw" style="font-size:20px"></i>
          <span class="d-inline-block text-lichen-primary is-size-4 mx-2">{{ isNaN(points) ? '--' : points }}</span>
          <small class="text-muted">點</small>
        </div>
      </div>
    </div>
    <!-- 推薦 hardcode -->
    <p class="mx-2 mt-3 mb-n3"><i class="fas fa-heart fa-fw fa-lg mr-1 has-text-danger"></i>誠摯為您推薦</p>
    <swiper class="swiper swiper-feat mx-2 my-4" :options="swiperOptionB">
      <swiper-slide v-for="(one, index) in arrRFM" :key="'one'+index">
        <figure class="image is-1by1 rounded-lg overflow-hidden" @click="showProductUrl(one)">
          <img :src="one.PicURL" :key="one.LastModify">
          <div class="w-100 p-2 bg-lichen-secondary position-absolute text-nowrap" style="bottom: 0">
            <figure class="image is-24x24 d-inline-block mr-1 align-middle">
              <img class="is-rounded" :src="one.BrandLogo" :key="one.LastModify">
            </figure>
            <span class="d-inline-block align-middle text-elps" style="width: calc(100% - 32px)">
						{{one.DetailName}}
            </span>
          </div>
        </figure>
      </swiper-slide>

    </swiper>
    <!-- 副 Banner -->
    <template v-if="pageData.subBanner.length">
      <div class="mx-2 my-3" v-for="banner in pageData.subBanner" :key="banner.GID">
        <figure class="image is-5by2 has-background-white-ter rounded-lg overflow-hidden">
          <img :src="showImageWuhu(banner.PicURL)" :key="banner.LastModify" @click="redirectToLink(banner)">
        </figure>
      </div>
    </template>
  </div>
</template>

<style lang="scss" scoped>
@mixin image-img {
  img {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}
.image.is-5by2 {
  padding-top: 40%;
  @include image-img
}
.swiper-feat {
  .swiper-slide {
    width: 38% !important;
  }
}
.h-ios-hack {
  height: calc(100vh - env(safe-area-inset-bottom) - var(--bottom-nav-height));
}
</style>

<script>
import store from 'src/store'
import { deviseFunction } from 'src/libs/deviseHelper.js'
import { showImageWuhu, setLoading } from 'src/libs/appHelper.js'
import { formatTime } from 'src/libs/timeHelper.js'
import VueAwesomeSwiper from 'vue-awesome-swiper'
import 'swiper/dist/css/swiper.min.css'
// import { L_Obj, ReadJsonS, IsMobile } from 'src/fun1.js'	// 共用fun在此!
import { ReadJsonS, S_Obj } from 'src/fun1.js'	// 共用fun在此!

const IsDev = S_Obj.isDebug 	//開發debug

export default {
  name: 'CardIndex',
  // BANNER輪播
  components: {
    Swiper: VueAwesomeSwiper.swiper,
    SwiperSlide: VueAwesomeSwiper.swiperSlide
  },
  data() {
    return {
      state: this.$store.state,
      isLogin: this.$store.getters.isLogin,
      memberData: this.$store.state.baseInfo.memberData,

      // BANNER輪播
      swiperOptionA: {
        observer:true,
        lazy: {
          loadPrevNext: true,
        },
        pagination: {
          el: '.swiper-pagination'
        },
        autoplay: {
          disableOnInteraction: false
        },
      },
      swiperOptionB: {
        slidesPerView: 'auto',
        spaceBetween: 8,
        observer:true,
      },
      isSideMenu: false,
      arrRFM: [],					// 存放推薦產品
      jsonRFM: [],				// 暫放過濾前-推薦產品
    };
  },
  async beforeRouteEnter(to, from, next) {
    store.dispatch('fetchData4CardIndex')
    setLoading(true)

		let data1 = await ReadJsonS('GetRFMProduct')
		// console.log('beforeRouteEnter_RFMProduct: ', data1);	// @@

	// next()
		next( vm => {
			vm.jsonRFM = data1;
			const uData = vm.state.userData
			let them 	= []
				,v1	 		= vm.filterRFMRule('R', uData.RFM_R_TypeCode)
				,v2	 		= vm.filterRFMRule('S', uData.RFM_S_TypeCode)
				,v3	 		= vm.filterRFMRule('B', uData.RFM_B_TypeCode)
				,v4	 		= vm.filterRFMRule('F', uData.RFM_F_TypeCode)
				,v5	 		= vm.filterRFMRule('M', uData.RFM_M_TypeCode)

			v1 && them.push(v1);
			v2 && them.push(v2);
			v3 && them.push(v3);
			v4 && them.push(v4);
			v5 && them.push(v5);

			const data2 =	them.sort(function (a, b) {return a.Sn > b.Sn ? 1 : -1;})
			// console.log('beforeRouteEnter-them: ', data2);	// @@
			vm.arrRFM = data2;
			setLoading(false)
		});
  },

  computed: {
    currentApp() { return this.state.currentAppUser.EnterPriseID },
    mainEnterpriseID() { return this.state.publicData.MainEnterPriseID },
    srcUrl() { return this.$store.getters.currentApp.apiip.replace('/public/AppVIP.ashx', '') },
    pageData() {
      return this.state.baseInfo.publicData.index
    },
    points() { return Math.floor(this.memberData.card_info.Points) },
    ticketListLength() { return this.memberData.ticketList.length },
    stores() { return this.pageData.store },
    brands() {
      let companyData = this.state.baseInfo.publicData.companyData
      let brandList = []
      if (companyData) {
        // 品牌
        brandList = companyData.filter((item) => {
          return item.isBrand == true
        })
      }
      return brandList
    },
    // 即時更新橫幅的圖片
    mainBannerUpdate() { return this.pageData.slideBannersUpdate },
  },
  methods: {
    showImageWuhu,
    /* 顯示商品頁的連結 */
    showProductUrl(product) {
			// console.log('顯示商品頁的連結-product: ', product);	// @@
      if (product.LinkType == 'FoodDetail') this.$router.push({ path: `/cardProducts/${product.LinkPostion}` });
    },
    filterRFMRule(s1, _code) {
			// console.log('filterRFMRule-s1,_code: '+s1, _code);	// @@
			const data1 = this.jsonRFM
			const arr1 = data1.filter((item) => {
				return item.RFMRuleTypeCode.substr(0,1) == s1
			});
			// console.log('filterRFMRule-arr1: ', arr1);	// @@

			const arr2 = arr1.filter((item) => {
				return item.RFMRuleTypeCode == _code;
			});
			// console.log('filterRFMRule-arr2: ', arr2);	// @@

			const hasFind = arr2.length
				,one = hasFind ? arr2[0] : (arr1.length ? arr1[0] : null)
			if (one) {
				IsDev && console.warn((hasFind ? '有' : '無')+'找到: '+one.RFMRuleTypeCode, one.DetailName);	// @@
			}
			return one;
    },
    formatTime(timeStr, formatStr) {
      return formatTime(timeStr, formatStr)
    },
    redirectToLink(banner) {
console.log('click彈跳廣告-banner: ', banner);	// @@

			const LType = banner.LinkType
					,LPos 	= banner.LinkPostion || ''
					,isTrue	= !!LPos.trim()

      if (LType == 'InnerURL') {
        isTrue && this.$router.push({path: '/' + LPos})

      } else if (LType == 'OuterURL') {
        let url = banner.OuterURL
        if (url) {
          // 在殼裡面 => 開啟瀏覽器
          if (typeof(JSInterface) !== 'undefined') {
            deviseFunction('openWeburl', url, '')
          // 在瀏覽器 => 瀏覽器新開一個tab
          } else {
            window.open(url, '_blank')
          }
        }
      }else if (LType == 'MessageDetail') {
				isTrue && this.loadMsg(LPos);
      }else if (LType == 'MessageKind') {
				isTrue && this.loadMsgKind(LPos);
      }else if (LType == 'FoodKind') {
        isTrue && this.loadFoodKind(LPos);
      }else if (LType == 'FoodDetail') {
        isTrue && this.loadFood(LPos);
      }
    },
    async loadMsg(p_value) {
      //訊息
      //await store.dispatch('fetchCompanyData')
      await store.dispatch('fetchBrandNews')
      const path = `/cardNewspage/${p_value}`
      this.$router.push({ path: path });
    },
    async loadMsgKind(p_value) {
      //訊息類別
      await store.dispatch('fetchAppBrandData')
      this.$router.push({ path: '/cardBrand', query: { msgKindID:p_value} });
    },
    async loadFoodKind(p_value) {
      //商品類別
      await store.dispatch('fetchAppBrandData')
      await store.dispatch('fetchBrandDataKind', {KindID: p_value})
      this.$router.push({ path: '/cardBrand', query: { foodKindID:p_value} });
    },
    async loadFood(p_value) {
      //商品
      if (this.brands && this.brands.length == 0) await store.dispatch('fetchCompanyData')
      await store.dispatch('fetchBrandDataFood', {DetailID: p_value})
      let brandArr=[];
      if (Array.isArray(store.state.baseInfo.publicData.brandListDetail) && store.state.baseInfo.publicData.brandListDetail.length > 0){
        const foodObj = store.state.baseInfo.publicData.brandListDetail[0];
        brandArr = this.brands.filter((item) => {
          return item.ID == foodObj.BrandID
        })

        if (Array.isArray(brandArr) && brandArr.length > 0){
          await store.dispatch('fetchBrandData', {GID: brandArr[0]["GID"]})
          const path = `/cardProducts/${foodObj.DetailID}?mainName=${foodObj.KindName}&subCode=${foodObj.KindID}&gid=${brandArr[0]["GID"]}`;
          this.$router.push({ path: path });
        }
      }
    },

    // 主橫幅圖片即時更新
    refreshImage() {
      let imageObjs = document.getElementsByClassName('swiper-slide')
      imageObjs.forEach((item)=>{
        let imgStyle = item.style
        let imgUrl = imgStyle.backgroundImage

        // 如果已經load好圖片
        if (imgUrl) {
          // 把圖片後面的版號更新到最新現在
          let newImgUrl = imgUrl.substring(0, imgUrl.indexOf('?v='))
            + '?v='
            + (new Date()).getTime()
            + '")'
          // console.log('===> newImgUrl =>' + newImgUrl)

          // 把圖片重新set,就會重load圖片了
          item.style.backgroundImage = newImgUrl
        }
      })
    }
  },
  watch: {
    mainBannerUpdate: function(val) {
      // 如果pull request主橫幅
      if (val) {
        this.refreshImage() // 即時更新主橫幅的圖片
        store.commit('setMainBannerUpdate', false) // 清空flag
      }
    }
  },
/*
  beforeMount() {
    console.log('beforeMount 被執行');	// @@
		// 未登入 => 導回首頁
		// const isLogin = store.getters.isLogin
		// if (!isLogin) context.root.$router.push('/')
		// setLoading(true)
		// store.dispatch('fetchAppPublicData')
		// setTimeout(() => setLoading(false), 300)
  },
 */
}
</script>

