<template>
  <div class="h-100 overflow-auto">
    <div class="h-100 d-flex flex-column bg-lichen-primary">

      <!-- 點數資訊 -->
      <div class="px-4" style="height: 210px">

        <div class="columns is-mobile is-gapless is-multiline is-vcentered">
          <div class="column is-12">
            <div class="level py-2 is-mobile">
              <div class="level-item has-text-centered" @click="$router.push('/cardPoint')">
                <div v-if="memberData.vip_info.MemberTypeName">
                  <p class="title is-size-4">
                    {{ memberData.vip_info.MemberTypeName }}
                  </p>
                  <p class="heading is-size-7 mt-2" :class="{ 'is-invisible' : getTypeC == 'A'}">{{memberData.card_info.ExpiredDate}} 到期</p>
                </div>
              </div>
              <div class="level-item has-text-centered">
                <figure class="image is-128x128 p-4 rounded-circle vip-avatar bg-white">
                  <img v-if="getTypeC == 'A'" src="../../../assets/images/card_normal.svg">
                  <img v-if="getTypeC == 'B'" src="../../../assets/images/card_silver.svg">
                  <img v-if="getTypeC == 'C'" src="../../../assets/images/card_gold.svg">
                  <img v-if="getTypeC == 'D'" src="../../../assets/images/card_black.svg">
                </figure>
              </div>
              <div class="level-item has-text-centered" @click="$router.push('/cardPoint')">
                <div>
                  <p class="title is-size-4">{{ isNaN(points) ? '讀取中..' : points }}</p>
                  <p class="heading is-size-6 mt-2">紅利點數 <i class="fas fa-chevron-circle-right text-lichen-secondary"></i></p>
                </div>
              </div>
              <!-- <div class="level-item has-text-centered" @click="$router.push('/cardPrepay')">
                <div>
                  <p class="heading is-size-6 has-text-grey-light">儲值金 <i class="fas fa-caret-square-right has-text-success"></i></p>
                  <p class="title">{{balance}}<sub class="is-size-6 ml-1 has-text-grey-light font-weight-normal">元</sub></p>
                </div>
              </div> -->
            </div>
          </div>
          <div class="column is-1">
            <figure class="image is-16x16">
              <img v-if="getTypeC == 'A'" src="../../../assets/images/card_normal.svg">
              <img v-if="getTypeC == 'B'" src="../../../assets/images/card_silver.svg">
              <img v-if="getTypeC == 'C'" src="../../../assets/images/card_gold.svg">
              <img v-if="getTypeC == 'D'" src="../../../assets/images/card_black.svg">
            </figure>
          </div>
          <div class="column is-10">
            <progress class="progress is-small" :value="showCardProgress" max="100" style="height: 8px"></progress>
          </div>
          <div class="column is-1">
            <figure class="image is-16x16 ml-auto">
              <img v-if="getTypeC == 'A'" src="../../../assets/images/card_silver.svg">
              <img v-if="getTypeC == 'B'" src="../../../assets/images/card_gold.svg">
              <img v-if="getTypeC == 'C'" src="../../../assets/images/card_black.svg">
            </figure>
          </div>
          <!-- <div v-if="getTypeC != 'A'" class="column is-narrow">
            <i class="fas fa-crown fa-fw text-warning"></i>
          </div> -->
          <div class="column mt-2 is-12 is-size-7">
            <b class="is-pulled-right has-text-dark"><!--TODO:晉級訊息-->
              <div class="text-right" v-html="getTypeC ? txtLevel1 : '讀取中..'"></div>
            </b>
          </div>

        </div>
      </div>

      <!-- 功能選單 -->
      <div class="pt-5 flex-fill bg-white service-items rounded-top-mbr overflow-hidden">
        <div class="columns is-mobile is-gapless is-multiline mx-3">
          <div class="column mb-3 is-4">
            <div class="text-center" :data-badge="ticketListLength" @click="$router.push('/cardCoupon')">
              <figure class="image m-auto is-64x64">
                <img src="../../../assets/images/mbr_coupon.svg">
              </figure>
              <p class="heading is-size-6 mt-2">我的優惠券</p>
            </div>
          </div>
          <div class="column mb-3 is-4">
            <div class="text-center" @click="$router.push('/getCoupon')">
              <figure class="image m-auto is-64x64">
                <img src="../../../assets/images/mbr_limit.svg">
              </figure>
              <p class="heading is-size-6 mt-2">搶券專區</p>
            </div>
          </div>
          <div class="column mb-3 is-4">
            <div class="text-center" @click="$router.push('/pointExg')">
              <figure class="image m-auto is-64x64">
                <img src="../../../assets/images/mbr_exchange.svg">
              </figure>
              <p class="heading is-size-6 mt-2">集點換好康</p>
            </div>
          </div>
          <div class="column mb-3 is-4">
            <div class="text-center" @click="$router.push('/pointGive')">
              <figure class="image m-auto is-64x64">
                <img src="../../../assets/images/mbr_pointgive.svg">
              </figure>
              <p class="heading is-size-6 mt-2">點數轉贈</p>
            </div>
          </div>
          <div v-if="isLogin" class="column mb-3 is-4">
            <div class="text-center" @click="goOldCard">
              <figure class="image m-auto is-64x64">
                <img src="../../../assets/images/mbr_backhome.svg">
              </figure>
              <p class="heading is-size-6 mt-2">
                <span>領取回家禮</span>
                <small class="d-block is-size-7">(原APP會員適用)</small>
              </p>
            </div>
          </div>
          <div class="column mb-3 is-4">
            <div class="text-center" @click="$router.push('/cardPay')">
              <figure class="image m-auto is-64x64">
                <img src="../../../assets/images/mbr_rec.svg">
              </figure>
              <p class="heading is-size-6 mt-2">消費紀錄</p>
            </div>
          </div>
          <div class="column mb-3 is-4">
            <div class="text-center" @click="$router.push('/setting')">
              <figure class="image m-auto is-64x64">
                <img src="../../../assets/images/mbr_profile.svg">
              </figure>
              <p class="heading is-size-6 mt-2">會員資訊</p>
            </div>
          </div>
          <!-- <div class="column mb-3 is-4">
            <div class="text-center" @click="showMOrder()">
              <figure class="image m-auto is-64x64">
                <img src="../../../assets/images/nav_ic_store.png">
              </figure>
              <p class="heading is-size-6 mt-2">我的點餐</p>
            </div>
          </div> -->
        </div>
        <!-- 置底回首頁 -->
        <div class="position-fixed m-3" style="bottom:0; right:0">
          <a @click="$router.push('/card')">
            <figure class="image is-24x24">
              <img src="@/assets/images/nav-ic-home.svg">
            </figure>
          </a>
        </div>
      </div>
    </div>

  </div>
</template>

<style lang="scss" scoped>
  .vip-avatar {
    transform: scale(.8);
    margin: 0 -16px;
  }
  progress[value]::-webkit-progress-value {
    background-image: linear-gradient(to right, #FFFFFF, hsl(141, 71%, 48%));
    border-radius: 6px;
  }
  .service-items {
    .heading {
      letter-spacing: 0;
    }
  }
  .rounded-top-mbr {
    border-top-left-radius: 40px!important;
    border-top-right-radius: 40px!important;
  }
  [data-badge]::after {
    top: 6px;
    right: 28px;
}
</style>

<script>
import store from 'src/store'
// import { S_Obj, SetLastPage } from 'src/fun1.js'	// 共用fun在此!
// import { deviseFunction } from 'src/libs/deviseHelper.js'
import { isLogin, setLoading, showAlert } from 'src/libs/appHelper.js'


export default {
  // 頁面資料: 請使用function return
  data: function(){
    return {
      state: this.$store.state,
      isLogin: this.$store.getters.isLogin,
      memberData: this.$store.state.baseInfo.memberData,
      currentCardCode: false,
      isSideMenu: false,
      isLink: false,
      srcLink: ''
    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    userName()   { return this.state.userData.Name },
    cardQrCode() { return this.state.cardQRCode },
    card_info() { return this.memberData.card_info },
    getTypeC() { return this.card_info.CardTypeCode },
    points() { return parseInt(this.card_info.Points) },
    balance() { return parseInt(this.card_info.Balance) || 0 },
    diffSale() { return parseInt(this.card_info.DifferenceCumulativeSales) || 0 },
    txtLevel1() {
			let txtCard = '黑鑽'
				,oCard1		= this.card_info
				,nPayed		= parseInt(oCard1.CumulativeSales) || 0
				// ,nDiffer	= parseInt(oCard1.DifferenceCumulativeSales) || 0
				,nDiffer		= this.diffSale
				,expDay		= oCard1.ExpiredDate
				,curCard	= this.getTypeC
				// ,curCard	= 'B'	// @@test
				,pay1 			= `已累積消費 ${nPayed} 元<br>`
				,memo1 		= `在 ${expDay} 前，累積消費滿5萬元，即可延續一年黑鑽卡`

			if (curCard != 'D') {
				switch (curCard) {
				case "A":
					txtCard = '銀';
					break;
				case "B":
					txtCard = '金';
					break;
				}
				memo1 = `再累積消費 <span>${nDiffer}</span> 元 即可升級 ${txtCard}卡`;
			}

			return pay1 + memo1;
    },

    // 2020-06-09: 沒有用到了,改成直接用memberData.card_info.ExpiredDate
    // 會員卡累積消費升級期限
    // upgradeExpiredDate() {
    //   if (this.card_info.UpgradeDate == undefined) return ''

    //   const upgradeDate = new Date(this.card_info.UpgradeDate)
    //   const expiredDate = new Date(upgradeDate.setDate(upgradeDate.getDate() + parseInt(this.card_info.UpgradeDateDays)))
    //   const d = expiredDate
    //   return `${d.getFullYear()}/${d.getMonth()+1}/${d.getDate()}`
    // },
    showCardProgress() {
      if (this.isProgress === false) return 0
      // vip消費門檻
      let until = parseInt(this.card_info.CardTypeCumulativeSales) || 0
				,c_latSales = parseInt(this.card_info.CumulativeSales) || 0
      if (until == 0) {
        // 秋林:
        // if CardTypeCumulativeSales  = 0   then  CardTypeCumulativeSales  = CumulativeSales + DifferenceCumulativeSales
        until = c_latSales + this.diffSale
      }
      let value = parseInt(c_latSales/until*100) || 0
      value = (value > 100) ? 100 : value
      // value = 50// only for test
      // console.log(c_latSales
      //   + ' / '
      //   + until
      //   + ' = '
      //   + value
      //   + '%')
      return value
    },
    ticketListLength() {
      let ticketLength = 0
      let ticketList = this.memberData.ticketList
      if (ticketList) {
        ticketLength = ticketList.length
      }
      return ticketLength
    },
  },
  // 頁面模組
  methods: {
    openLink(src) {
      this.isLink= true
      this.srcLink= src
      this.$store.commit('setCssTouch', false)
    },
		/* 領取回家禮 */
		async goOldCard() {
			if (this.isLogin) {
				setLoading(true)

				const userData = this.state.userData
				const p1 = {
					cardNO: userData.CardNO,
					Account: userData.Account
				}
				const res = await this.$store.dispatch("ensureJgssgMemberCardCheck", p1);
				// console.log('領取回家禮-res: ', res); // @@

				if (res.error) {
					showAlert(res.msg)	// 顯示結果
				} else {
					this.$router.push({path: '/oldCard'})
				}
				setLoading(false)

			} else {
				this.$router.push({path: '/login'})
			}
		},
  },
  // 每次進入此頁面會執行的設定
  beforeRouteEnter(to, from, next) {
		if (!isLogin.value) return next('/')
    // for 點數 + QR Code
    // 取優惠卷列表資訊
    store.dispatch('fetchAppPublicDataDetailMemberWuhu')

    // 頁面名稱
    store.state.isPageName = '會員專區'
		// SetLastPage(from.path);	// 記錄上一頁	// nono!

		next()
  },
  // 建立頁面後
  created: function(){
    // 顯示會員的 progress bar
    setTimeout(() => {
      this.isProgress = true;
    }, 1500)
  },
}
</script>