<template>
  <div class="h-100 bg-image overflow-auto">
    <p class="text-white text-center my-5 line-height-200 drop-shadow">
      感謝您的支持與愛護，<br>
      饗樂捷利APP2.0<br>
      提供您更豐富更多好康!!<br>
      點擊確認之後，將可取回舊點數、會員等級<br>
      並得到為您精心準備的回家禮喔！
    </p>
    <article class="message drop-shadow mx-4 mt-n2">
      <div class="message-header bg-lichen-secondary justify-content-center">
        <p>原饗樂捷利APP相關資料</p>
      </div>
      <div class="message-body text-center">
        <p class="mb-2"><b>{{vip1.m_phone}}，您好，歡迎回來！</b></p>
        <p class="line-height-150">
          會員等級：{{vip1.cardtypename}}<br>
          累積消費：{{parseInt(vip1.consuamount || 0).toLocaleString("en-US")}} 元<br>
          累積點數：{{parseInt(vip1.d_sum || 0)}} 點
        </p>
        <!-- 無資料文字 -->
        <p v-if="false">無相關資料！</p>
      </div>
    </article>
    <div v-if="!hasBind" class="mx-4">
      <button class="button is-fullwidth bg-lichen-primary border-0 h-auto py-3" style="opacity:1" @click="cardBindSubmit" :disabled="hasBind">
        <svg class="mr-1" width="28" height="28" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path d="M8.707 7.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l2-2a1 1 0 00-1.414-1.414L11 7.586V3a1 1 0 10-2 0v4.586l-.293-.293z" />
          <path d="M3 5a2 2 0 012-2h1a1 1 0 010 2H5v7h2l1 2h4l1-2h2V5h-1a1 1 0 110-2h1a2 2 0 012 2v10a2 2 0 01-2 2H5a2 2 0 01-2-2V5z" />
        </svg>
        點此領取回家禮並取回點數/等級
      </button>
    </div>
    <p class="text-white-50 mx-4 mt-3 is-size-7">
      備註：<br>
      若2.0等級高於1.0卡片等級，將保留較高卡片高級，僅將累積消費金額與點數重新匯入。
    </p>
  </div>
</template>

<script>
import store from "src/store";
import { SetLastPage } from 'src/fun1.js'	// 共用fun在此!
import { isLogin, showAlert, setLoading } from 'src/libs/appHelper.js'

export default {
  // 頁面資料: 請使用function return
  data: function() {
    return {
      title: "<%- @_SelfCode %>",
      state: this.$store.state,
			hasBind: false,
			p1_bind: {},
			vip1: {
				m_phone: '',
				cardtypename: '',
				consuamount: 0,
				d_sum: 0,
			},

    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    registeredCards() {
      return this.state.baseInfo.memberData.registeredCards
    }
  },
  // 頁面模組
  methods: {
		async cardBindSubmit() {
			setLoading(true)

			const res = await store.dispatch("ensureJgssgMemberCardBind", this.p1_bind);
			this.hasBind = res.ErrorCode == 0;
			showAlert(res.ErrorMsg);	// 顯示結果
			if (this.hasBind) {
				// 更新-取優惠卷列表資訊
				store.dispatch('fetchAppPublicDataDetailMemberWuhu')
				this.$router.push({path: '/cardMember'})

				setLoading(false)
			}
		}
  },

  // 在路由進入時執行
  async beforeRouteEnter(to, from, next) {
		if (!isLogin.value) return next('/')

    // 頁面名稱
    store.state.isPageName = '回家禮'
		SetLastPage(from.path);	// 記錄上一頁
		setLoading(true, 2)

		const userData = store.state.userData;
		const para1 = {
			cardNO: userData.CardNO,
			Account: userData.Account
		}
		const res = await store.dispatch("ensureJgssgMemberCardCheck", para1);
		// console.log('beforeRouteEnter-res: ', res); // @@

		// next()
		next(vm => {
			if (res.length) {
				vm.p1_bind = para1;
				vm.vip1 = res[0];
			}
			setLoading(false)
		});
  },
  beforeRouteUpdate: function(to, from, next){
		SetLastPage(from.path);	// 記錄上一頁
    next();
  },
};
</script>
<style lang="scss" scoped>
.bg-image {
  background-image: linear-gradient( to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9) 90% ), url('../../../assets/images/login_bg.png');
  background-position: bottom;
  background-size: cover;
}
.line-height-200 {
  line-height: 200%;;
}
.drop-shadow {
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,.75));
}
</style>
