<template>
  <div class="h-100 bg-white overflow-auto">
    <div>

      <!-- <p class="text-center is-size-5 sticky-top bg-white reg-title">消費紀錄</p> -->
      <div class="has-background-dark has-text-grey px-3 py-2 text-center">
        近十筆消費紀錄
      </div>

      <template v-if="hasPRecord">
        <div class="m-3 p-3 border rounded-lg shadow-sm" v-for="(data, index) in purchaseRecord" :key="index">
          <article class="media flex-column align-items-stretch is-size-6 line-height-150">
            <p class="has-text-grey-light">
              <b class="is-size-4 is-pulled-right bg-lichen-primary rounded-pill text-dark px-2 py-1 mt-n2 mr-n2">{{data.PayTotal}}</b>
              {{data.LastModify}}
              <br>
              交易門店：<b class="text-dark">{{data.ShopName}}</b>
              <br>
              訂單編號：<b class="text-dark">{{data.OrderNO}}</b>
            </p>
            <p class="p-2 mt-2 has-background-white-ter rounded-lg">
              <b class="d-block" v-for="(item,index) in data.FoodName.split(',')" :key="'detail_'+index">{{item}}</b>
            </p>
          </article>
        </div>
      </template>
      
      <!-- 無資料 -->
      <p class="text-center has-text-grey-lighter my-5 py-5" v-if="!hasPRecord">-- 無紀錄 --</p>

    </div>
  </div>
</template>

<script>
import store from 'src/store'  
import { SetLastPage } from 'src/fun1.js'	// 共用fun在此!
import { isLogin, setLoading } from 'src/libs/appHelper.js'

export default {
  // 頁面資料: 請使用function return
  data: function(){
    return {
      state: this.$store.state,
      memberData: this.$store.state.baseInfo.memberData,

    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    purchaseRecord() { return this.memberData.purchaseRecord },
    hasPRecord() { return !!this.purchaseRecord.length },
  },
  // 在路由刷新前
  beforeRouteEnter: function(to, from, next){
    if (!isLogin.value) return next('/')

    setLoading(true, 2)
    store.dispatch('fetchMemberPurchaseRecordData') // for 點數
    store.state.isPageName = '消費紀錄'		// 頁面名稱
		SetLastPage(from.path);	// 記錄上一頁

		// next()
		next(vm => {
			vm.aa = 1;	// @@
			setLoading(false)
		});
  },
  beforeRouteUpdate: function(to, from, next){
		SetLastPage(from.path);	// 記錄上一頁
    next();
  },

}
</script>
