<template>
	<!-- 點數轉贈 -->
  <div class="h-100 bg-white overflow-auto">
	<div class="px-3 py-2">
		<div class="text-center">
			<sub class="has-text-grey">目前總共</sub>
			<b class="title mx-2 my-0 is-4 d-inline-block align-sub">{{totalPoints}}</b>
			<sub class="has-text-grey">點</sub>
		</div>
		<div class="columns is-mobile is-multiline is-variable is-1 py-3">
			<div class="column py-1" v-for="(item, ii) in expiredPointsList" :key="item.ExpiredDate">
				<button class="button is-outlined is-fullwidth flex-column py-3 h-auto isPoint" :class="activeIndex === ii ? 'is-active lichen-border bg-lichen-light shadow-sm':''" @click="setItemActive(item, ii)">
					<div>
						<b class="title mx-2 my-0 is-4 d-inline-block text-lichen-orange align-sub" >{{parseInt(item.Points)}}</b>
						<sub class="has-text-grey">點</sub>
					</div>
					<div class="is-size-7 text-dark mt-1">期限 {{item.ExpiredDate}}</div>
					<div class="position-absolute text-lichen-orange" style="right:2px;top:1px" v-if="activeIndex === ii"><i class="fas fa-check-circle fa-lg"></i></div>
				</button>
			</div>
		</div>
	</div>
	<span v-if="totalPoints">
		<div class="field is-grouped px-3 my-2">
			<p class="control is-expanded">
				<input ref="inpAccount" class="input" type="number" placeholder="請輸入轉贈的手機號碼" v-model="ToAccount" @blur="fixScroll(),validAccount()" />
			</p>
		</div>
		<div class="field is-grouped px-3 my-2">
			<p class="control">
				<input class="input" type="number" placeholder="請輸入轉贈的點數" v-model.number="ToPoint" @blur="fixScroll(),validPoint()">
			</p>
			<p class="control is-expanded">
				<a class="button w-100 bg-lichen-secondary" :disabled="!ToAccount.length || !isCheckOK" @click="confirmTransPoint"> 轉贈 </a>
			</p>
		</div>
	</span>

	<article class="is-size-7 p-4" style="line-height:1.75">
		<h5 class="title is-6 border-bottom pb-2 mb-2">可以讓你將點數贈送給指定好友，讓你輕鬆揪朋友一同分享。</h5>
		<p>
			贈送流程：
			<ol class="circle">
				<li>選擇轉贈點數 ( 如點數有不同期限 )</li>
				<li>請輸入好友會員手機號碼 ( 僅限轉贈已註冊會員 )</li>
				<li>確認手機號碼及輸入點數後按下【贈轉】，於跳出提示窗再次按下【確認】，點數將立即轉贈給指定好友</li>
			</ol>
			註：點數一經贈送即無法單向取回，請於送出前再次確認會員電話號碼。
		</p>
	</article>
  </div>
</template>

<style lang="scss" scoped>
.button.isPoint {	
	&:hover {
		background-color: white !important;
	}
}
ol.circle {
		list-style: none;
		counter-reset: li;
		> li {
			counter-increment: item;
			margin-bottom: 5px;
			position: relative;
			padding-left: 20px;
			&::before {
				content: counter(li);
				counter-increment: li;
				position: absolute;
				top: 4px;
				left: 0;
				background: black;
				color: white;
				height: 1.2em;
				width: 1.2em;
				line-height: 1.2em;
				border-radius: 1.2em;
				text-align: center;
				font-weight: bold;
			}
		}
 }
</style>

<script>
import store from "src/store";
import { SetLastPage, FilterExpiredDay } from 'src/fun1.js'	// 共用fun在此!
import { fixScroll, isLogin, showAlert, showConfirm, setLoading } from 'src/libs/appHelper.js'

export default {
  data: function() {
    return {
      title: '<%- @_SelfCode %>',
			// state: this.$store.state,
			memberData: this.$store.state.baseInfo.memberData,
			/* 點數轉贈項目 */
			activeIndex: 0,
			itemData: null,
      ToAccount: '',
			ToPoint: 1,
      errMsg: '',
			isCheckOK: false,
    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
		// 總剩餘點數清單
    // expiredPointsList() { return this.memberData.expiredPoints_section },
    expiredPointsList() {
			let arr1 = FilterExpiredDay.call(this.memberData.expiredPoints_section, 'ExpiredDate') // 過濾過期的
			// console.warn('過濾過期的: ', arr1);	// @@
			return arr1;
    },
    totalPoints() { return this.memberData.card_info.Points ? parseInt(this.memberData.card_info.Points) : 0 },
  },
  // 頁面模組
  methods: {
		fixScroll, showAlert,

    // 設準備要丟的項目
    setItemActive(item, ii) {
			this.itemData = item;
			this.activeIndex = ii;
    },
		/* 驗證表單 */
    validPoint() {
			const nMax = parseInt(this.itemData.Points)
				,nPoint	 = this.ToPoint;
			var _err = nPoint > 0 ? '' : '轉贈點數必需大於0';
			if (!_err) {
				_err = nPoint <= nMax ? '' : '轉贈點數必需小於目前選擇的點數記錄';
			}
			// console.log('驗證表單-nMax,nPoint: '+nMax, nPoint);	// @@
			// console.log('驗證表單_err: ', _err);	// @@

			this.errMsg = _err;
			_err && event.target.focus();
    },
    validAccount() {
			var _err = this.ToAccount.length ? '' : '請輸入會員電話號碼';
			const mobilePhoneRegxp = /^09[0-9]{2}[0-9]{6}$/; // 格式需為09XXXXXXX
			if (!mobilePhoneRegxp.test(this.ToAccount)) {
				_err = '會員電話號碼錯誤';
			}

			this.errMsg = _err;
			_err && event.target.focus();
    },
    // 確認是否贈點
    confirmTransPoint() {
			if (this.isCheckOK) {
				const _msg = `一經贈送即無法更改<br>您確定要贈送給${this.ToAccount}嗎?`;
				showConfirm(_msg)
				// 點擊確認執行轉贈-點數
				.then(() => this.doTransPoint() )
				// 點擊取消執行關閉 confirmn 視窗
				.catch(() => store.commit('setCustomModal', { type: '', text: '' }) )

			}
    },
    // 執行贈點數
    async doTransPoint() {
			const PointExpiredDate = this.itemData.ExpiredDate;
      const data = await this.$store.dispatch('ensureMemberTransPoint', { ToAccount: this.ToAccount, PointExpiredDate: PointExpiredDate, Point: this.ToPoint });
      // 無論成功失敗都要顯示 api 訊息
      showAlert(data.ErrorMsg);

      // 成功 => 刷新已轉贈的卷資訊, 前往已轉贈 list
      if (data.ErrorCode !== '0') return
      await this.$store.dispatch('fetchAppPublicDataDetailPointWuhu')
    },
  },
  // 在路由進入時執行
  beforeRouteEnter: function(to, from, next){
    if (!isLogin.value) return next('/');

    setLoading(true, 4)
    // for 點數紀錄
    store.dispatch('fetchAppPublicDataDetailPointWuhu')

    store.state.isPageName = '點數轉贈'	// 頁面名稱
		SetLastPage(from.path);	// 記錄上一頁

		// next()
		next(vm => {
			vm.aa = 1;	// @@
			setLoading(false)
		});
  },
  beforeRouteUpdate: function(to, from, next){
		SetLastPage(from.path);	// 記錄上一頁

    next();
  },
  // 建立頁面後
  created: function(){
    setTimeout(() => {
			/* 預設抓第1張點數 */
			const items = this.expiredPointsList
				,nMax			= items.length
			// console.log('數據更新後-items: '+nMax, items);	// @@
			if (nMax) {
				/// console.log('itemsitems: ', items[0]);	// @@
				this.setItemActive(items[0], 0);

				this.isCheckOK = true;
				// this.$refs.inpAccount.focus();
			}
    }, 1000)
  },
	watch: {
		errMsg: function (v1) {
			this.isCheckOK = !(v1.length);
			// console.log('watch-errMsg: '+this.isCheckOK, v1);	// @@
			v1 && showAlert(v1);
		}
	}
};
</script>