<template>
  <div class="h-100 overflow-auto bg-white">
    <div>
      <div class="text-center is-size-5 sticky-top bg-white border-bottom border-light">
        <div class="p-2 text-left">
          <div class="columns is-mobile is-variable is-1">
            <div class="column py-0">
              <div class="dropdown w-100 is-active">
                <div class="dropdown-trigger w-100" ref="isBrand" @click="isBrand=!isBrand">
                  <button class="button border-0 rounded-0 w-100">
                    <span>{{searchBrand}}<!-- 全部品牌 --></span>
                    <span class="icon is-small">
                      <i class="fas fa-angle-down fa-fw" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu w-100" @click="onCloseBrand" v-show="isBrand" v-closable="{exclude: ['isBrand'], handler: 'onCloseBrand'}">
                  <div class="dropdown-content border lichen-border p-1">
                    <a class="dropdown-item is-size-6 text-decoration-none rounded p-2 text-center" v-for="(item, index) in searchBrands" @click="clickSearchBrand(item.Text)" :key="index">{{item.Text}}</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="column py-0">
              <div class="dropdown w-100 is-active">
                <div class="dropdown-trigger w-100" ref="isArea" @click="isArea=!isArea">
                  <button class="button border-0 rounded-0 w-100">
                    <span>{{searchZoneDisplay}}</span>
                    <span class="icon is-small">
                      <i class="fas fa-angle-down fa-fw" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu dropdown-menu-area" @click="onCloseArea" v-show="isArea" v-closable="{exclude: ['isArea'], handler: 'onCloseArea'}">
                  <div class="dropdown-content dropdown-content-area border lichen-border">
                    <div class="is-size-6 text-center p-1 rounded mx-2" @click="setSearchZone('')">全部地區</div>
                    <div class="columns is-mobile is-gapless mb-0 mx-1" v-for="(city, index) in handZoneData" :key="index">
                      <div class="column is-narrow" style="width:92px" @click="setSearchZone('city', city.city)">
                        <a class="dropdown-item is-size-6 text-decoration-none rounded city">{{city.city}}</a>
                      </div>
                      <div class="column">
                        <a class="dropdown-item is-size-6 text-decoration-none rounded text-nowrap" v-for="(item, index) in getArea(city)" :key="index" @click="setSearchZone('area', city.city, item)">{{item}}</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 關鍵字搜尋 -->
      <div class="field py-2 px-3">
        <p class="control has-icons-left">
          <input class="input w-100" type="text" :placeholder="searchNote" v-model="localSearchKeyWord">
          <span class="icon is-small is-left">
            <i class="fas fa-search fa-fw"></i>
          </span>
        </p>
        <div class="tags are-small pt-2 mb-n2">
          <span class="tag bg-lichen-secondary text-white" v-for="(c_key, index) in cloudKeys" :key="'c_key'+index" @click="clickTag(c_key)">{{c_key.Text}}</span>
        </div>
      </div>
      <article class="message is-warning" v-if="!myLoc || myLoc==''">
        <div class="message-body border-0 rounded-0 text-center p-2">定位中,請稍候...</div>
      </article>
      <!-- 門店內容 -->
      <div class="px-3 mt-n2">
        <!-- 無門店資料 -->
        <p class="text-center has-text-grey-lighter my-5 py-5" v-if="isLoaded && (!filterStores || !filterStores.length)">-- 無門店資料 --</p>
        <template v-if="filterStores.length">
          <div class="card rounded-lg shadow-sm overflow-hidden border my-3"
            v-for="(item, index) in filterStores" :key="index">
            <div class="card-content px-3">
              <!-- <div class="card-image mx-n4 mt-n4 mb-3">
                <figure class="image has-background-white-ter is-1by1">
                  <img :src="showImageWuhu(item.AppShopImage)" alt="">
                </figure>
              </div> -->
              <div class="content">
                <div class="is-size-5 mb-3">
                  <!-- Brand icon -->
                  <figure class="image is-32x32 d-inline-block m-0 mr-1">
                    <img class="is-rounded h-100 object-fit-cover" :src="getIconByBrand(item.Brand)">
                  </figure>
                  <b>{{item.OrgName}}</b>
                  <!-- share location -->
                  <span class="is-pulled-right mt-n1" @click="deviseShare(item)">
                    <span class="fa-stack align-middle text-lichen-secondary mr-n1" style="font-size: 0.75em">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fas fa-share-alt fa-stack-1x fa-inverse"></i>
                    </span>
                  </span>
                </div>
                <p class="text-lichen-secondary" @click="toGoogleMap(item)"><i class="fas fa-map-marker-alt mr-1"></i>{{item.Addr}}</p>
                <p class="text-lichen-secondary" v-if="inDeviseApp" @click="deviseMakePhoneCall(item)"><i class="fas fa-phone-alt mr-1"></i>{{item.Tel}}</p>
                <p class="text-lichen-secondary" v-if="!inDeviseApp" :href="'tel:'+ item.Tel"><i class="fas fa-phone-alt mr-1"></i>{{item.Tel}}</p>
                <p class="mb-n2"><b>營業時間：</b><br>
                  {{item.Open}}
                </p>
                <div v-if="item.Mode" class="buttons mt-3">
                  <button v-if="item.Mode.takeout" class="button is-info" @click="showMOrder(item.ShopID, 'takeout')">
                    <img class="mr-1" src="@/assets/images/shopping-bag.svg">
                    自取
                  </button>
                  <button v-if="item.Mode.delivery" class="button is-info" @click="openUrl(item, 'delivery')">
                    <img class="mr-1" width="18" src="@/assets/images/moto.svg">
                    外送點我
                  </button>
                  <button v-if="item.Mode.DeskPay" class="button is-info" @click="showMOrder(item.ShopID, 'DeskPay')">
                    <i class="fas fa-utensils fa-fw mr-1"></i> 掃碼點餐
                  </button>
                  <button v-if="item.Mode.resdelivery" class="button is-info" @click="showMOrder(item.ShopID, 'resdelivery')">
                    <img class="mr-1" width="18" src="@/assets/images/moto.svg">
                    預定外送
                  </button>
                  <button v-if="item.Mode.restakeout" class="button is-info" @click="showMOrder(item.ShopID, 'restakeout')">
                    <img class="mr-1" src="@/assets/images/shopping-bag.svg">
                    預定外帶
                  </button>
                  <button v-if="item.Mode.homedelivery" class="button is-info" @click="showMOrder(item.ShopID, 'homedelivery')">
                    <i class="fas fa-utensils fa-fw mr-1"></i> 宅配
                  </button>
                 </div>
              </div>
            </div>
          </div>
        </template>
      </div>
    </div>

  </div>

</template>

<script>
import { getDistance } from 'geolib'
import store from 'src/store'
import { S_Obj } from 'src/fun1.js'	// 共用fun在此!
import { showImageWuhu, Closable } from 'src/libs/appHelper.js'
import { deviseFunction } from 'src/libs/deviseHelper.js'

export default {
  directives: {
    Closable
  },
  // 頁面資料: 請使用function return
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      state: this.$store.state,
			isLogin: this.$store.getters.isLogin,
      publicData: this.$store.state.baseInfo.publicData,
      isLoaded: this.$store.state.baseInfo.publicData.storeIsLoaded,
      isBrand: false,
      isArea: false,
      localSearchKeyWord: '',
      handZoneData: []
    };
  },
  computed: {
    mainEnterpriseID() { return this.state.publicData.MainEnterPriseID },
    inDeviseApp() { return (typeof(JSInterface) === 'object') },
    currentApp() { return this.state.currentAppUser.EnterPriseID },
    pageData() { return this.publicData.storeList },
    zoneData() { return this.pageData.countys },
    myLoc() {
      const gps = this.state.baseInfo.gps
			return (gps.lat && gps.lng) ? {latitude: gps.lat, longitude: gps.lng} : ''
			/* 公司座標: 22.612880, 120.319661 */
			// return {latitude: 22.612880, longitude: 120.319661} // @@Debug
    },
    stores() {
      let list = this.pageData.store
      let endList = list
      // console.log('stores ===> myLoc =>', this.myLoc)	// @@
      if (list) {
				const myLoc = this.myLoc;
				/* 算距離 */
				[].slice.call(list).forEach((item)=>{
					const lat = item.google_lat
						,lng 		= item.google_lng

          item.distance = null // 預設放null
          const hasLoc = lat.length && lng.length
          if (hasLoc && myLoc) {
            const itemLoc = {latitude: lat, longitude: lng}
							,nDist 			= getDistance(myLoc, itemLoc)
            item.distance = nDist
            // console.log('算距離-distance: '+item.County, item.OrgName, nDist)	// @@
          }
        });

        /* 排序-由近而遠 */
        endList = [].slice.call(list).sort((a, b) => {
					const aa 	= myLoc ? a.distance : a.OrgCode
						,bb 		= myLoc ? b.distance : b.OrgCode
          if (aa === null || aa > bb) {
            return 1
          } else if (bb === null || a.distance < bb) {
            return -1
          }
          return 0;
        })
      }
/** @Debug */
/* 
			var nLen = endList.length
				,i	 = 0, str1 = '';
			while (i<nLen) {
				const item=endList[i]
				str1 = item.County+' - '+item.OrgName+' : '
				// console.log('由近而遠_stores'+str1, item.distance)	// @@
				i++;
			}
 */
      return endList
    },
    storeSearch() { return this.publicData.storeSearch },
    searchBrand() { return this.storeSearch.searchBrand },
    searchZoneDisplay() { return this.storeSearch.searchZoneDisplay },
    searchZoneType() { return this.storeSearch.searchZoneType },
    searchCity() { return this.storeSearch.searchCity },
    searchArea() { return this.storeSearch.searchArea },
    searchKeyWord() { return this.storeSearch.searchKeyWord },
    store2Store() { return this.storeSearch.store2Store },
    filterStores() {
			const s_Brand 	= this.searchBrand.trim()
				,s_ZoneType 	= this.searchZoneType.trim()
				,s_KeyWord 		= this.searchKeyWord.trim()
      // console.log('filterStores-searchBrand, searchZoneType, searchKeyWord: ',s_Brand, s_ZoneType, s_KeyWord) // @@

      let endList = this.stores
      // 品牌
			if (s_Brand && s_Brand != '全部品牌') {
				endList = endList.filter((item)=>{ return item.Brand == s_Brand })
			}

      // 地區
      if (s_ZoneType) {
        endList = endList.filter((item)=>{
          if (s_ZoneType == 'city') {
            return item.City == this.searchCity
          } else if (s_ZoneType == 'area') {
            return (item.City == this.searchCity
              && item.County == this.searchArea)
          }
        })
      }

      // 關鍵字
      //if (this.localSearchKeyWord != s_KeyWord) store.commit('setStoreQueryKeyWord', this.localSearchKeyWord) //不明原因search key不同?
      if (s_KeyWord) {
        endList = endList.filter((item)=>{
          let brand 	= item.Brand
						,orgName 	= item.OrgName
						,addr 		= item.Addr
						,brandTest 		= RegExp(this.localSearchKeyWord).test(brand)
						,orgNameTest	= RegExp(this.localSearchKeyWord).test(orgName)
						,addrTest 		= RegExp(this.localSearchKeyWord).test(addr)

          return (brandTest || orgNameTest || addrTest)
        })
      }

			/** @Debug: 只秀有交易的 */	// @@
/*
			endList = endList.filter((item)=>{return !!item.Mode})	// @@
			// endList = endList.filter((item)=>{return item.OrgCode == 'BP001'})	// @@
			console.log('filterStores-有交易的: ', endList);	// @@
 */
      return endList
    },


    brands() {
      let companyData = this.publicData.companyData
      // console.log('brands ===> companyData =>', companyData)
      let brandList = []

      if (companyData) {
        // 是品牌
        brandList = companyData.filter((item) => {
          return item.isBrand == true
        })
      }
      return brandList
    },
    searchBrands() {
      return [{Text:'全部品牌'}].concat(this.brands)
    },
    cloudKeys(){
      if (!(this.publicData.cloudsearch && Array.isArray(this.publicData.cloudsearch))) return [];
      let brandArr= []
      brandArr = this.publicData.cloudsearch.filter((item) => {
        return item.isFullText && item.LinkPosition == "門店搜尋"
      })
      return brandArr;
    },
    searchNote(){
      if (!(this.publicData.cloudsearch && Array.isArray(this.publicData.cloudsearch))) return [];
      let brandArr= []
      brandArr = this.publicData.cloudsearch.filter((item) => {
        return item.isText && item.LinkPosition == "門店搜尋"
      })
      let p_text = "關鍵字";
      if (Array.isArray(brandArr) && brandArr.length>0) p_text = brandArr[0]["Text"];
      return p_text;
    },
  },

  methods: {
    showImageWuhu,
    // (殼專屬) 打電話
    deviseMakePhoneCall(store) {
     return deviseFunction('Tel', store.Tel, '')
    },
    // (殼專屬) 另開瀏覽器 app，開啟 Google map 連結
    deviseToGoogleMapsLink(store) {
      const gmapUrl = `http://maps.google.com/?q=${store.Brand},${store.Addr}`
     return deviseFunction('openWeburl', gmapUrl, '')
    },
    toGoogleMap(item) {
      if (this.inDeviseApp) {
        this.deviseToGoogleMapsLink(item)
      } else {
        let mapUrl = `http://maps.google.com/?q=${item.Brand},${item.Addr}`
        window.open(mapUrl, "_blank")
      }
    },
    // (殼專屬) 點擊分享按鈕
    deviseShare(store){
      const gmapUrl = `http://maps.google.com/?q=${store.Brand},${store.Addr}`
      return deviseFunction('shareTo', `{"subject":"", "body":"嗨!跟你分享一個美食好所在!! ${gmapUrl}", "chooserTitle":""}`, '')
    },
    openUrl(obj1,	ShopType){
      // console.log('openUrl-ShopType: '+ShopType, obj1.ExtenUrl);	// @@
			const url1 = obj1.ExtenUrl;

      // let p_setting = {};
			switch(ShopType){
			case 'delivery':
				// p_setting = obj1.deliverySetting;
				url1 && deviseFunction('openWeburl', url1, '');
				break;
			case 'takeout':
				// p_setting = obj1.takeoutSetting;
				break;
		//			default:	// Input
			}
    },
    showMOrder(ShopID, ShopType) {
      //到點餐頁
      if (!this.isLogin){
        this.$router.push({path: '/login'})
      }else{
        const isDev = S_Obj.isDebug 	//開發debug
					,isWebProd	= S_Obj.isWebProd
					// ,hostName	= (isWebProd ? 'web' : 'staging')+'.jh8.tw'
					,hostName	= location.host
					,enterpriseID = this.mainEnterpriseID

        let backUrl = `https://${hostName}/LICHENapp/index.html#/cardStore`
					,url			= ''
				if (isWebProd) {
					// isCover=1 來自meta[viewport-fit=cover]的版
					url = `https://${hostName}/morder/index.html?EnterpriseID=${enterpriseID}&ShopID=${ShopID}&isCover=1`
				} else {
					if (isDev) {
						url = "https://dev-service.jinher.com.tw/projectFeature/APP_MOrder/MOrder/index.html";
					} else {
						url = `https://${hostName}/morder/index.html?EnterpriseID=${enterpriseID}&ShopID=${ShopID}`
					}
				}

        // 預設值
        const data = {
          // 會員門店號
          "ShopID": ShopID,
          // 主企業號的 ID
          "mainEnterpriseID": enterpriseID,
          // 主企業號的 connect
          "mainConnect": this.state.publicData.MainConnect,
          // Mode選的type, (ex:takeout)
          "ShopType": ShopType,
          // Mode選的type, (ex:takeout)
          "Mobile": this.state.userData.Account,
          // 登入者姓名
          "Username": this.state.userData.Name,
          // 登入者地址
          "Address": this.state.userData.Address,
          "kakarUrlPath": backUrl,
          "isFrom":this.state.baseInfo.isFrom, //卡包都在卡+,線上點餐推播用
          "sBrand":this.state.baseInfo.publicData.storeSearch.searchBrand, //當下的品牌名稱
        }
        //console.log(location.href,"isDev",isDev,/^192.168/ig.test("192.168.1.90"),location.href,this.isLogin,"data>>",data,url);
        // 寫入要存的 key 設定
        data['_KEY'] = "ShopID,mainEnterpriseID,ShopType,Mobile,Username,Address,mainConnect,kakarUrlPath,isFrom,sBrand"

        // 執行存入殼裡
        deviseFunction('SetSPS', JSON.stringify(data), '')
        this.$store.commit('setLoading', true);
        
        return window.location.href = url
      }
    },
    getArea(currentCity) {
      let returnData = currentCity.county.split(",")
      return returnData
    },
    filterZoneByBrand() {
      // === filter zone by brand === start
      this.handZoneData = this.zoneData	// storeList

      // 品牌
      if (!this.searchBrand || this.searchBrand == '全部品牌') {
        // this.handZoneData = this.zoneData

      } else {
        let zoneEndList = []
        let endStoreList = this.stores.filter((item)=>{
          return item.Brand == this.searchBrand
        })
        // console.log('filterZoneByBrand-endStoreList: ', endStoreList)	// @@
        this.handZoneData.forEach((o1) => {
          // console.log('===> city: ' + o1.city)
          let countyStr = o1.county
          let counties = countyStr.split(",")
          let matchCounties = []

          counties.forEach((_county)=>{
            // console.log('===> currentCounty: ' + _county)
            let findList = endStoreList.filter((st1)=>{
              if (st1.City == o1.city && st1.County == _county) {
                return true
              }
            })

            if (findList && findList.length>0) {
              matchCounties.push(_county)
            }
          }) // end of counties

          if (matchCounties.length) {
            let _match = ''
            matchCounties.forEach((_county)=>{
              if (_match) {
                _match += ',' + _county
              } else {
                _match = _county
              }
            })

            let resultCityObj = {
              province: o1.province,
              city: o1.city,
              county: _match
            }

            zoneEndList.push(resultCityObj)
          }
        })
        // console.log('filterZoneByBrand-zoneEndList: ', zoneEndList)	// @@
        this.handZoneData = zoneEndList
      }
      // === filter zone by brand === end
    },
    clickSearchBrand(brandStr) {
      // console.log('clickSearchBrand ===> start')
      // this.searchBrand = brandStr
      store.commit('setStoreQueryBrand', brandStr)
      this.isBrand = false

      this.filterZoneByBrand()
    },
    setSearchZone(zoneType, q_searchCity, q_searchArea) {
      let searchZoneDisplay = '全部地區'
      let searchCity = ''
      let searchArea = ''
      if (zoneType == '') {
        searchZoneDisplay = '全部地區'
        searchCity = ''
        searchArea = ''
      } else if (zoneType == 'city') {
        searchZoneDisplay = q_searchCity
        searchCity = q_searchCity
        searchArea = ''
      } else if (zoneType == 'area') {
        searchZoneDisplay = q_searchArea
        searchCity = q_searchCity
        searchArea = q_searchArea
      }
      store.commit('setStoreQueryZone', {
        searchZoneDisplay: searchZoneDisplay,
        searchZoneType: zoneType,
        searchCity: searchCity,
        searchArea: searchArea,
      })
      this.isArea=false
    },
    getIconByBrand(_txt) {
			// console.log('getIconByBrand-brand: ', _txt);	// @@
      if (_txt) {
        let currentBrand = this.brands.find((item)=>{
					!item.Text && console.error('Text為空??: ', item);	// @@
          return item.Text == _txt
        })
        return currentBrand ? this.showImageWuhu(currentBrand.PicURL) : ''
      }
      return ''
    },
    onCloseBrand() {
      this.isBrand = false
    },
    onCloseArea() {
      this.isArea= false
    },
    clickTag(item) {
      this.localSearchKeyWord = item.Text
    }
  },
  watch: {
    localSearchKeyWord: function(val) {
      // console.log('watch localSearchKeyWord ===>' + val )
      store.commit('setStoreQueryKeyWord', val)
    },
    store2Store: function(val) {
      // 如果在門店頁,透過footer再度進到門店頁
      if (val) {
        this.localSearchKeyWord = this.searchKeyWord
        store.commit('setStore2Store', false) // 清空flag
      }
    }
  },
  async beforeRouteEnter(to, from, next) {
    // 頁面名稱
    store.state.isPageName = '店鋪據點'

    if (!store.state.member.mac) {
      console.log('Store.vue - no mac')
      // 未登入狀態先撈好mac
      await store.dispatch('getMacNoLogin')
    }

    store.dispatch('fetchCompanyData')
    // store.dispatch('fetchStoreData')	// nono!(要同步
    store.dispatch('fetchCloudsearch')
    await store.dispatch('fetchStoreListDataWuhu')	// 取門店資訊的資料
    await store.dispatch('ensureGetDeviseGPS')

    next(vm => {
      vm.filterZoneByBrand()
      vm.localSearchKeyWord = vm.publicData.storeSearch.searchKeyWord
    })
  },
}
</script>
<style lang="scss" scoped>
.dropdown-menu-area {
  min-width: 100%;
  max-width: 200%;
  width: max-content;
  left: auto;
  right: 0;
  .dropdown-item {
    white-space: nowrap;
    width: auto;
    padding-right: 1rem;
    display: inline-block;
    &.city {
      position: relative;
      &::after {
        position: absolute;
        content: '/';
        color: hsl(0, 0%, 90%);
        right: -8px;
      }
    }
  }
}
.card-content {
  .content p:not(:last-child) {
    margin-bottom: 12px;
  }
}
.border-info {
  border-color: #4ba6f5 !important;
}
</style>
