<template>
  <div>
    <!-- 讀取中效果 -->
    <div class="modal is-active" style="z-index: 9999;" v-show="isLoading" v-cloak>
      <div class="modal-background" style="background-color: rgba(0,0,0,0.4);"></div>
      <div class="modal-content has-text-centered py-4">
        <div class="d-inline-block float">
          <figure class="image is-128x128">
            <img src="./assets/images/bearApron.svg">
          </figure>
        </div>
				<p class="text-white mt-2">{{loadingMsg}}</p>
      </div>
    </div>

    <!-- Alert 彈窗 -->
    <div class="modal is-active" v-if="customModal.type == 'alert'" style="z-index: 9999;">
      <div class="modal-background"></div>
      <div class="modal-content">
        <article class="message is-dark m-3">
          <div class="message-body border-0">
            <p class="is-size-5 text-center my-3" v-html="customModal.text"></p>
            <div class="columns is-mobile is-variable is-1 mt-n1">
              <div class="column">
                <button class="button is-fullwidth text-wide bg-lichen-primary border-0" @click="hideModal">
                  <b>確定</b>
                </button>
              </div>
            </div>
          </div>
        </article>
      </div>
      <!-- <button class="modal-close is-large" aria-label="close" @click="hideModal"></button> -->
    </div>

    <!-- Confirm 彈窗 -->
    <div class="modal is-active" v-show="customModal.type == 'confirm'" style="z-index: 99999;">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="box text-center m-3">
          <p class="is-size-5 mb-3" style="line-height:1.5" v-html="customModal.text"></p>
          <div v-if="customModal.confirmNoteTitle && customModal.confirmNoteTitle.trim()!=''" class="text-left mb-4">
            <p class="mb-2">{{customModal.confirmNoteTitle}}：</p>
            <span class="ck-box" v-for="(item, index) in customModal.confirmNoteChoice" :key="index">
              <input :id="index" type="radio" :value="item.code" name="reason" class="ck-button w3-hide" v-model="customModal.confirmNoteChoosed">
              <label :for="index">
                {{item.text}}
              </label>
            </span>
            <input type="text" :placeholder="customModal.confirmNoteRemarkPlaceHolder" v-model="customModal.confirmNoteRemark" class="w3-input w3-show-inline-block w3-border-0 has-background-white-ter mt-3">
            <!-- 提示文字 -->
            <div class="has-text-danger d-block pt-2" style="margin-bottom:-10px">{{customModal.confirmNoteWarnMsg}}</div>
          </div>
          <!-- 按鈕 -->
          <div class="columns is-mobile is-variable is-1 mt-n1">
            <div class="column" v-if="$store.state.customModal.cancelText!='noCancel'">
              <button class="button is-fullwidth text-wide is-light border mr-2" @click="$store.state.promise.reject()">{{$store.state.customModal.cancelText}}</button>
            </div>
            <div class="column">
              <button class="button is-fullwidth text-wide bg-lichen-primary border-0" @click="$store.state.promise.resolve(), hideModal()">{{$store.state.customModal.confirmText}}</button>
            </div>
          </div>
        </div>
      </div>
      <button v-if="$store.state.customModal.cancelText!='noCancel'" class="modal-close is-large" aria-label="close" @click="hideModal"></button>
    </div>

    <component :is="layout">
      <transition name="slide-fade" mode="out-in">
        <keep-alive :max="6">
          <!-- 路由頁面檢視 -->
          <router-view></router-view>
        </keep-alive >
      </transition>
    </component>
  </div>
</template>

<script>
import store from 'src/store'
import Default from 'src/appLichen/layout/Kakar.vue'
import Card from 'src/appLichen/layout/CardKakar.vue'
import { computed } from '@vue/composition-api'
import { hideModal, isLogin } from 'src/libs/appHelper.js'

export default {
  name: 'appLichen',
  components: { Default, Card },
  setup(props, context) {
    // 主畫面 layout (預設為 Default)
    const layout = computed(() => context.root.$route.meta.layout || 'Default' )

    const isLoading = computed(() => store.state.isLoading )
    const loadingMsg = computed(() => store.state.loadingMsg )
    const customModal = computed(() => store.state.customModal )

    return { isLoading, loadingMsg, isLogin, customModal, hideModal, layout }
  },
}
</script>
<style lang="scss" scoped>
.float {
  transform: translatey(0);
  animation: float 1.8s ease-in-out infinite
}
@keyframes float {
  0%,100% {
      transform: translatey(0)
  }
  45% {
      transform: translatey(-15px)
  }
}
</style>
