<template>
  <!--  :style="{'transform':(selectedContract)?'none':'translateZ(0)'}" ios gpu render issue -->
  <div class="vh-100 overflow-auto">
    <template v-if="$route.query.type == null">
      <template v-if="isConfirmed == false">
        <!-- lichen logo -->
        <div class="text-center text-white" style="padding-top:48px">
          <figure class="image is-64x64 mx-auto my-3">
            <img src="@/assets/images/appLogo.svg">
          </figure>
          <p class="text-wide">捷利國際餐飲</p>
          <p>LICHEN INTERNATIONAL B&F</p>
        </div>
        <!-- 驗證碼表單 -->
        <article class="shadow message mx-3" style="margin-top:96px">
          <div class="message-header bg-lichen-secondary justify-content-center">
            <p class="text-wide"><i class="fas fa-user-plus fa-fw"></i> 會員註冊</p>
          </div>
          <div class="message-body p-3 pb-3 bg-white">
            <div class="field">
              <div class="control has-icons-left">
                <input class="input rounded-0 border-0 border-bottom shadow-none" @blur.prevent="fixScroll(),validAccount()" v-model="registerForm.memberphone" type="number" pattern="[0-9]*" placeholder="手機號碼(必填)" ref="inpAccount" name="usrname" required>
                <span class="icon is-left">
                  <i class="fas fa-mobile-alt"></i>
                </span>
              </div>
            </div>
            <div class="field is-grouped">
              <p class="control has-icons-left is-expanded">
                <input class="input rounded-0 border-0 border-bottom shadow-none" ref="smsCodeInput" @blur.prevent="fixScroll(),validSMS()" type="number" pattern="[0-9]*" v-model="SMSValidateCode" placeholder="驗證碼" name="pscode" maxlength="4" required>
                <span class="icon is-left">
                  <i class="fas fa-key"></i>
                </span>
              </p>
              <p class="control">
                <button class="w-100 button is-danger" :disabled="countNum > 0" @click="getSMSValidateCode">
                  <b>{{ (countNum) ? `${countNum} 秒後可重發驗證碼` : '取得驗證碼' }}</b>
                </button>
              </p>
            </div>
            <button class="button is-fullwidth text-wide bg-lichen-secondary mt-3" @click="confirmSmsCode('generic')">
              <b>下一步</b>
            </button>
            <!-- <button class="button is-fullwidth is-facebook border-0 text-wide mt-3" @click="$router.push('/register')">
              <b>FACEBOOK註冊</b>
            </button> -->
          </div>
        </article>
        <p class="mx-3">
          <button class="shadow w-100 button is-text text-wide text-white border-bottom text-decoration-none rounded-0 bg-transparent" @click="$router.push('/login')">
            <i class="fas fa-user fa-fw mr-2"></i>
            <b>會員登入</b>
          </button>
        </p>
      </template>
    </template>
      <!-- 資料填寫 -->
      <div v-if="$route.query.type == 'fillout'">
        <p class="text-center bg-white is-size-5 sticky-top reg-title">會員註冊</p>
        <!-- Steps -->
        <ul class="steps has-content-centered is-horizontal my-3">
          <li class="steps-segment is-active">
            <span class="steps-marker bg-lichen-secondary">1</span>
            <div class="steps-content">
              <p class="is-size-5">填寫會員資訊</p>
            </div>
          </li>
          <li class="steps-segment">
            <span class="steps-marker">
              <span class="icon text-dark">
                <i class="fa fa-check"></i>
              </span>
            </span>
            <div class="steps-content">
              <p class="is-size-5">完成</p>
            </div>
          </li>
        </ul>
        <p class="has-text-grey mx-3 mb-n2">會員資訊</p>
        <!-- start 為了 skip chrome 的自動填入 -->
        <input type="text" name="prevent_autofill" id="prevent_autofill" value="" class="d-none" />
        <input type="password" name="password_fake" id="password_fake" value="" class="d-none" />
        <!-- end 為了 skip chrome 的自動填入 -->
        <div class="box is-shadowless mx-2 my-3 py-2">
          <div class="field is-horizontal border-bottom is-flex">
            <div class="field-label is-medium">
              <label class="label">姓名</label>
            </div>
            <div class="field-body is-flex">
              <div class="field mb-1">
                <div class="control">
                  <input class="input rounded-0 border-0 shadow-none" type="text" @blur.prevent="fixScroll" v-model="registerForm.membername" placeholder="姓名" name="usrname" required>
                </div>
              </div>
            </div>
          </div>
          <div class="field is-horizontal is-flex">
            <div class="field-label is-medium">
              <label class="label">性別</label>
            </div>
            <div class="field-body is-flex">
              <div class="field">
                <div class="control pl-2">
                  <label class="radio" for="male">
                    <input type="radio"  name="gender" id="male" v-model="registerForm.memberSex" value="男" class="input-radio">
                    先生
                  </label>
                  <label class="radio" for="female">
                    <input type="radio" name="gender" id="female" v-model="registerForm.memberSex" value="女" class="input-radio">
                    小姐
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 生日 -->
        <div class="box is-shadowless mx-2 my-3 py-2">
          <div class="field is-horizontal is-flex">
            <div class="field-label is-medium">
              <label class="label text-nowrap">生日</label>
            </div>
            <div class="field-body is-flex">
              <div class="field">
                <div class="control">
                  <datepicker
                    name="birth"
                    placeholder="請選擇日期 (必填)"
                    v-model="registerForm.memberBirthday"
                    :language="zh"
                    :clear-button="true"
                    :format="'yyyy-MM-dd'"
                    :initial-view="'year'"
                    :input-class="'input border-0 shadow-none'"
                    @blur.prevent="fixScroll"
                  />
                  <p class="help is-danger">* 填寫生日可獲得專屬優惠，送出即無法修改喔！</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 重要的日子
        <div class="box is-shadowless mx-2 my-3 py-2">
          <div class="field is-horizontal is-flex">
            <div class="field-label is-medium">
              <label class="label text-nowrap">重要的日子</label>
            </div>
            <div class="field-body is-flex">
              <div class="field">
                <div class="control">
                  <div class="select is-fullwidth">
                    <template v-if="rememberKind">
                      <select class="border-0 is-shadowless" @blur.prevent="fixScroll"
                        v-model="registerForm.RD_DateTypeNo">
                        <option value="none" selected style="color:#363636">請選擇類別</option>
                        <option>紀念日</option>
                        <option>家人生日</option>
                        <option v-for="(item, index) in rememberKind" :key="'kind_'+index" :value="item.id">{{item.text}}</option>
                      </select>
                    </template>
                  </div>
                  <datepicker
                    class="border-top iDay-datepicker"
                    name="importantDay"
                    placeholder="請選擇日期"
                    v-model="registerForm.RemberDate"
                    :language="zh"
                    :clear-button="true"
                    :format="'MM-dd'"
                    :initial-view="'month'"
                    :input-class="'input border-0 shadow-none'"
                    @blur.prevent="fixScroll"
                  />
                  <p class="help has-text-grey-light">(非必填) 重要的日子與類別兩個欄位同時填寫，送出即無法修改喔！</p>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <div class="box is-shadowless mx-2 my-3 py-2">
          <div class="field is-horizontal border-bottom is-flex">
            <div class="field-label is-medium">
              <label class="label text-nowrap">密碼</label>
            </div>
            <div class="field-body is-flex">
              <div class="field">
                <div class="control">
                  <input class="input border-0 shadow-none" type="password" @blur.prevent="fixScroll" v-model="registerForm.memberPwd" placeholder="請輸入 (必填)" name="pw" required>
                </div>
              </div>
            </div>
          </div>
          <div class="field is-horizontal is-flex">
            <div class="field-label is-medium">
              <label class="label text-nowrap">確認密碼</label>
            </div>
            <div class="field-body is-flex">
              <div class="field">
                <div class="control">
                  <input class="input border-0 shadow-none" type="password" @blur.prevent="fixScroll" v-model="memberPwdConfirm" placeholder="請輸入 (必填)" name="pw2" required>
                  <p class="help is-danger">* 密碼為6-20字，並包含英文與數字</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--TODO：門店 -->
        <div class="box is-shadowless mx-2 my-3 py-2">
          <div class="field is-horizontal is-flex align-items-center">
            <div class="field-label is-medium">
              <label class="label text-nowrap">門店</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <div class="select is-fullwidth">
                    <select v-model="selectedShopCounty" @blur.prevent="fixScroll">
                      <option value="縣市">縣市</option>
                      <option v-for="county in Object.keys(storeGroup)" :key="county" :value="county">{{county}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <div class="select is-fullwidth">
                    <select v-model="selectedShop" @blur.prevent="fixScroll">
                      <!-- <option value="門市">門市</option> -->
                      <option v-for="mStore in storeGroup[selectedShopCounty]" :key="mStore.OrgCode" :value="mStore.OrgCode">{{mStore.OrgName}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 條款 -->
        <div class="box is-shadowless mx-2 my-3 py-2">
          <div class="field is-horizontal border-bottom" @click="selectedContract='contract01'">
            <div class="field-label is-medium text-left">
              <div class="columns is-gapless is-mobile is-vcentered">
                <div class="column">
                  <span :class="[formIsChecked01 ? 'has-text-success' : 'has-text-grey-lighter']">
                    <i class="fas fa-check-circle fa-fw"></i>
                  </span>
                  我同意隱私權保護條款
                </div>
                <div class="column is-narrow">
                  <i class="fas fa-angle-right fa-fw mr-n4"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="field is-horizontal" @click="selectedContract='contract02'">
            <div class="field-label mb-0 is-medium text-left">
              <div class="columns is-gapless is-mobile is-vcentered">
                <div class="column">
                  <span :class="[formIsChecked02 ? 'has-text-success' : 'has-text-grey-lighter']">
                    <i class="fas fa-check-circle fa-fw"></i>
                  </span>
                  我同意會員服務條款
                </div>
                <div class="column is-narrow">
                  <i class="fas fa-angle-right fa-fw mr-n4"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="my-3 mx-2">
          <button class="button bg-lichen-secondary text-wide is-fullwidth" style="margin-bottom: env(safe-area-inset-bottom)" @click="submitForm()">加入會員</button>
        </p>
      </div>

    <!-- 聲明條款滑出圖層 -->
    <transition name="slide-top">
      <div class="modal is-active bg-white slide-layer" v-if="selectedContract">
        <div class="modal-content">
          <h4 class="title is-4 p-4 mb-0 pb-0 text-center">
            {{currentContract.title}}
          </h4>
          <p class="white-space-wrap is-size-6 p-4 text-break" v-html="currentContract.content"></p>
          <!-- 我同意 -->
          <p class="bg-white w-100 p-2" style="margin-bottom: env(safe-area-inset-bottom)">
            <button class="button bg-lichen-primary border-0 is-fullwidth text-wide" @click="iagree()">我同意</button>
          </p>
        </div>
        <button class="modal-close is-large" aria-label="close" @click="selectedContract=''"></button>
      </div>
    </transition>
  </div>
</template>

<style lang="scss" scoped>
.select:not(.is-multiple):not(.is-loading)::after,
.select:not(.is-multiple):not(.is-loading):hover::after {
  right: .5em;
}
@media screen and (min-width: 1px) {
  .field.is-horizontal {
    display: flex;
    .field-label {
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 0;
      margin-right: 1rem;
      text-align: right;
      line-height: 40px;
      @media screen and (min-width: 768px) { line-height: normal; }
      min-width: 48px;
      .is-medium {
        padding-top: 0;
      }
    }
    .field-body {
      display: flex;
      flex-basis: 0;
      flex-grow: 5;
      flex-shrink: 1;
      .field {
        margin-bottom: 0;
      }
      > .field {
        flex-shrink: 1;
        &:not(.is-narrow) {
          flex-grow: 1;
        }
        &:not(:last-child) {
          margin-right: .75rem;
        }
      }
    }
  }
}
</style>

<script>
import moment from 'moment'
import store from 'src/store'
import { showAlert, fixScroll, showImageWuhu } from 'src/libs/appHelper.js'
import { deviseFunction, sendDeviseSMSreCode } from 'src/libs/deviseHelper.js'
// import fetchData from 'src/libs/fetchData.js'
import { StoreGroup, IsMobile } from 'src/fun1.js'	// 共用fun在此!
import datepicker from 'vuejs-datepicker'
import { zh } from 'vuejs-datepicker/dist/locale'
// import 'swiper/css/swiper.css'

export default {
  components: {
    datepicker,
  },
  data: function(){
    return {
      zh: zh,
      title: '<%- @_SelfCode %>',
      state: this.$store.state,
      pageData: this.$store.state.baseInfo.publicData.index,
      SMSValidateCode: '',
      SMSCurrentQuota: 0,
      countNum: 0,
      counter: '',
      isConfirmed: false,
      isDisabled: false,
      isRuned: false,						// 正在執行 會員註冊(防止連按

      // isTerms: '',
      selectedContract: '', // 正在看的合約內容, ex: contract01
      // termsData: termsData,
      formIsChecked01: false, // 隱私條款
      formIsChecked02: false, // 會員服務條款
      memberPwdConfirm: '',
      errMsg: '',
			isCheckOK: true,
			isSendSMS: false,
      registerForm: {
        member_country: '886',
        membername: '',
        memberphone: '',
        memberPwd: '',
        memberEmail: '',
        memberBirthday: '',
        memberSex: '',
        memberAddr: '',
        isFromTD: '',
        MT_NickName: '',
        FromTDEmail: '',
        RemberDate: '',
        RD_DateTypeNo: 'none',
        RD_DateTypeNanme: '',

      },
      selectedCounty: '選縣市',
      selectedArea: '選區域',
      addrStreet: '',
      rememberKind: [], // 重要日子類別
      rememberKindStr: '', // 重要日子類別字串
			selectedShopCounty: '縣市',
      selectedShop: '',	// 門市,勿給預設,判斷用
    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    isLogin() { return this.$store.getters.isLogin },
		// 按縣市選門店
		storeGroup: StoreGroup,
    // 簡訊發送間隔的最低時間 (預設： 50 秒)
    AppSMSIntervalMin() { return parseInt(this.state.SMS_Config.AppSMSIntervalMin) },
    // 簡訊每日發送上限 (預設： 5 封)
    APPSMSDayTimes()    { return parseInt(this.state.SMS_Config.APPSMSDayTimes) },
    // 取簡訊的發送扣打紀錄
    SMSSendQuota()      { return this.state.SMS_Config.SMSSendQuota },
    // 取簡訊驗證碼
    SMSreCode()         { return this.state.SMS_Config.reCode },
    // 取今天日期 (格式： yyyymmdd => e.g. 20190514)
    currentDay()        { return new Date().toISOString().slice(0,10).replace(/-/g,"") },
    contractData() {
      let companyData = store.state.baseInfo.publicData.companyData.filter((item) => {return !item.isBrand})
      let arrRes1 = [];
      if (companyData.length) {
        // 隱私權
        let one = companyData.find((item) => {
          return /隱私權/.test(item.Text)
        })

        // 會員服務條款
        let two = companyData.find((item) => {
          return /條款/.test(item.Text)
        })
				arrRes1 = [{
					id: 'contract01',
					title: one.DetailName,//'隱私權政策',
					content: one.SubText1, // 內容
				}, {
					id: 'contract02',
					title: two.DetailName, // 會員服務條款
					content: two.SubText1 // 內容
				}]
				// console.log('contractData-arrRes1: ', arrRes1);	// @@
      }
      return arrRes1
    },
    currentContract() {
      let find1 = {}
      if (this.selectedContract) {
        find1 = this.contractData.find((item)=>{
          return item.id == this.selectedContract
        })
      }
      return find1
    },
    hasSubBanner() { return !!this.pageData.subBanner.length },
    // 即時更新橫幅的圖片
    subBannerUpdate() { return this.pageData.subBannersUpdate },

  },
  // 在路由-第1次進入
  beforeRouteEnter: async function(to, from, next){
    if (!store.state.member.mac) {
      // 未登入狀態先撈好mac
      await store.dispatch('getMacNoLogin')
    }
    store.dispatch('fetchCompanyData')
    store.dispatch('fetchStoreListDataWuhu')	// 取得門店

		next()
    // next((vm) => {
      // vm.setRememberKind() // 取得重要日子類別
    // });
  },
  // 在 router 離開此 component 時觸發 (可以用 this )
  beforeRouteLeave: function(to, from, next) {
		/* 有取得驗證碼,倒數完前不能離開 */
		const bOn = this.isSendSMS;
		if (bOn) {
			next(false);

		} else {
			// 清空簡訊驗證碼 & 清空所有表單內容
			this.SMSValidateCode = ''
			this.countNum = 0
			this.counter = ''
			this.isConfirmed = false			// 回到手機號碼表單畫面
			this.isDisabled =  false
			this.formIsChecked01 =  false // 隱私條款
			this.formIsChecked02 =  false // 會員條款
			this.memberPwdConfirm =  ''
			this.registerForm = {
				member_country: '886',
				membername: '',
				memberphone: '',
				memberPwd: '',
				memberEmail: '',
				memberBirthday: '',
				memberSex: '',
				memberAddr: '',
				isFromTD: '',
				MT_NickName: '',
				FromTDEmail: '',
				RemberDate: '',
				RD_DateTypeNo: 'none',
				RD_DateTypeNanme: '',
			};

			next();
		}
  },
  beforeRouteUpdate: function(to, from, next){
    document.querySelector(".overflow-auto").scrollTop = 0 // 置頂
    next();
  },
  watch: {
    // 如果 data 有變化，會觸發指定的 function
    'registerForm.memberphone': 'setCounty',
    subBannerUpdate: function(val) {
      // 如果pull request副橫幅
      if (val) {
        this.refreshImage() // 即時更新副橫幅的圖片
        store.commit('setSubBannerUpdate', false) // 清空flag
      }
    },
		/** @Maybe: 未來再改-畫面加 :disabled="isDisabled" */
		/* 監聽-按鋌"加入會員"可否按 */
		// isDisabled: function (v1) {
			// console.warn('加入會員_isDisabled: ', v1);	// @@
    // },
		/* 監控錯誤訊息,有變動就showAlert */
		errMsg: function (v1) {
			this.isCheckOK = !(v1.length);	// falg-on/off by err有無值
			v1 && showAlert(v1);
		}
  },
  setup() {
    return { fixScroll }
  },
  // 頁面模組
  methods: {
    showImageWuhu,
    // 設定帳號所在的地區
    setCounty() {
      // 預設： 設為 886 (台灣)
      this.registerForm.member_country = '886'
      // 如果是中國的手機號碼格式, member_country 設定為 86
      if ( /^(1)\d*/.test(this.registerForm.memberphone) ) this.registerForm.member_country = '86'
    },
    // 選日期元件
    datePicker: function() {
      // var self = this;
      // this.$nextTick(function () {
      //   var options = {
      //     language: 'zh',
      //     autoClose: true,
      //     clearButton: true,
      //     view: 'years',
      //     position: 'bottom left',
      //     onSelect: function () {
      //       self.registerForm.memberBirthday = $("#dp").datepicker('getDate')[0].value;
      //     }
      //   };
      //   $("#dp").datepicker(options);
      // })
    },
    // 取得重要日子類別
    // async setRememberKind() {
			// // const url = "https://fig.jh8.tw/Public/AppDataVIP.ashx";
      // // https://wuhu.jh8.tw/Public/AppDataVIP.ashx	// NG!
      // const url = this.$store.state.api.consumerUrl
      // const body = {
        // EnterpriseID: this.$store.state.baseInfo.EnterpriseID,
        // act: 'GetData',
        // DataName: 'RememberKind'
      // }
      // const data = await fetchData({url, body})
      // // console.log('===> data =>', data)
      // this.rememberKind = data
      // this.rememberKindStr = JSON.stringify(data)
    // },
		/* 驗證-手機號碼 */
    validAccount() {
			const v_inp1						= this.registerForm.memberphone
				,twMobilePhoneRegxp = /^09[0-9]{2}[0-9]{6}$/ // 台灣手機號碼格式需為09XXXXXXXX
				,cnMobilePhoneRegxp = /^1[0-9]{2}[0-9]{8}$/  // 中國手機號碼格式需為1XXXXXXXXXX

			var _err = v_inp1.length ? '' : '請輸入手機號碼';
			if (!twMobilePhoneRegxp.test(v_inp1) && !cnMobilePhoneRegxp.test(v_inp1)) {
				_err = '手機號碼格式錯誤';
			}
			// console.error('驗證表單_err: ', _err);	// @@

			this.errMsg = _err;
			_err && event.target.focus();
    },
		/* 驗證簡訊 */
    validSMS() {
			if (!this.registerForm.memberphone.length) {
				this.$refs.inpAccount.focus();
				return;
			}

			// 有取得驗證碼,驗證
			if (this.isSendSMS) {
				var _err = this.SMSValidateCode.length > 0 ? '' : '請輸入簡訊驗證碼';
				this.errMsg = _err;
				_err && event.target.focus();
			}
    },
		/* 取得驗證碼 */
    getSMSValidateCode(){
			const isNG = this.isSendSMS && !this.countNum
			if (isNG) { return; }	// 卡發過未歸0時,不得再發

			// 跟殼取簡訊已發送扣打資料
			deviseFunction('GetSP', 'SMSSendQuota', '"cbFnSetSMSSendQuota"');
			// 檢測此手機號碼是否已註冊
			this.$store
				.dispatch('ensureMemberCodeNotRegistered', this.registerForm.memberphone)
				.then(res => {
					if (res.ErrorCode == '0') return showAlert('此手機號碼已註冊')
					if (this.validateSMSSendQuota() == false) return showAlert(`已超過本日簡訊發送上限！ <br> (最多 ${this.APPSMSDayTimes} 封簡訊)`)

					// 設置倒數計時器 ( countNum > 0 時, 發送驗證碼按鈕為 disabled ), 倒數時間從 state.setSMS_Config.AppSMSIntervalMin 取得
					this.countNum = this.AppSMSIntervalMin
					// 啟動倒數計時
					this.counter = setInterval(() => {
						// 到 0 時清除倒數計時
						if (this.countNum <= 0) { clearInterval(this.counter) }
						// 每一秒 - 1
						this.countNum = this.countNum - 1;
					}, 1000);

					// 聚焦輸入框
					this.$refs.smsCodeInput.focus()

					// sample: '20190514-3'
					const SMSSendQuota = `${this.currentDay}-${this.SMSCurrentQuota + 1}`

					// 發送簡訊認證碼
					sendDeviseSMSreCode({ phone: `${this.registerForm.memberphone};;${this.registerForm.member_country}`, SMSSendQuota: SMSSendQuota } )
				})
				this.isSendSMS = true;
    },
    // 驗證是否還有扣打能發送簡訊
    validateSMSSendQuota() {
      const it1 = this.SMSSendQuota
				// 扣打紀錄是空的/扣打紀錄跟今日日期不同 皆NG
				,isNG		= !it1 || it1.substring(0, 8) !== this.currentDay
			if (isNG) { return true; }
      // console.warn('驗證扣打是否用完: '+this.APPSMSDayTimes, it1);	// @@

      // 更新今日扣打數量
      const currentQouta = parseInt(it1.substring(9));
      this.SMSCurrentQuota = currentQouta;

      // 驗證扣打是否用完 (超過上限 => false, 還沒用完 => true )
			return currentQouta <  this.APPSMSDayTimes;
    },
    // 確認驗證碼(下一步
    confirmSmsCode(fromCode) {
      // 判斷是否在殼裡面
      const inDeviseApp = typeof(JSInterface) == 'object'
			if (!inDeviseApp || !this.isCheckOK || !this.isSendSMS) { return; }

      if ((this.SMSreCode != this.SMSValidateCode) ) return showAlert('簡訊驗證碼錯誤！')

			// 清除 SMSreCode
			this.$store.commit('setSMSreCode', '')
			// 進入註冊表單頁面
			// if (fromCode == 'generic') { this.isConfirmed = true; this.datePicker() }
			if (fromCode == 'generic') { this.$router.push('/register?type=fillout'); this.datePicker() }
			// 如果是點選 Facebook 註冊 -> 觸發 Facebook SDK login -> 回傳沒問題再進入註冊表單
			if (fromCode == 'fb') this.$store.dispatch('deviseFacebookSignup').then(() => {
				// 二秒後再開啟註冊表單頁面
				setTimeout(()=>{ this.isConfirmed = true; this.datePicker() }, 2000)
			});

			this.isSendSMS = false;
    },
    checkNull(str) {
			return str && str.trim();
    },
    checkDate(str) {
			const date1	= moment(str).format('YYYY-MM-DD')
				,today 		= moment(new Date()).format('YYYY-MM-DD')
			return date1 > '1900-01-01' && date1 < today;
    },
    // 送出註冊表單
    submitForm() {
      if (this.isRuned)		return	// 防止連按

      this.isDisabled = true
      const formData 	= this.registerForm
				,memberPwd 		= formData.memberPwd
				,birthday 		= formData.memberBirthday
				,remberDate 	= formData.RemberDate
				,rdDateTypeNo	= formData.RD_DateTypeNo
				,hasRemType		= rdDateTypeNo && rdDateTypeNo != 'none'

      // email 驗證
      // eslint-disable-next-line
      // const emailRegex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      // if (formData.memberEmail != '' && emailRegex.test(formData.memberEmail) != true) { this.isDisabled = false ; return showAlert('email 格式錯誤') }

      // 密碼 驗證
      const pwdRegex = /^(?=.*[0-9])(?=.*[a-zA-Z])[0-9a-zA-Z]{6,20}$/
      if (this.checkNull(memberPwd) && pwdRegex.test(memberPwd) != true) { this.isDisabled = false ; return showAlert('密碼為6-20字，並包含英文與數字') }

      // 條款確認
      if (this.formIsChecked01 == false) { this.isDisabled = false ; return showAlert('隱私權政策未確認') }
      if (this.formIsChecked02 == false) { this.isDisabled = false ; return showAlert('會員服務條款未確認') }
      // 密碼確認
      if (this.memberPwdConfirm != memberPwd) { this.isDisabled = false ; return showAlert('密碼與確認密碼不一致') }
      if (!this.checkNull(memberPwd)) { this.isDisabled = false ; return showAlert('密碼未填') }
      // 姓名確認
      if (!this.checkNull(formData.membername)) { this.isDisabled = false ; return showAlert('姓名未填') }
      // 生日確認
      if (!birthday) { this.isDisabled = false ; return showAlert('生日未填') }
      // 性別確認
      if (formData.memberSex == '')  { this.isDisabled = false ; return showAlert('請選擇性別') }
      // 重要日子類別確認
      if (remberDate && !hasRemType) { this.isDisabled = false ; return showAlert('請選擇重要的日子類別') }
      // 重要日子確認
      if (hasRemType && !remberDate) { this.isDisabled = false; return showAlert('請選擇重要的日子') }
      // 日期格式確認
      if (!this.checkDate(birthday)) { return showAlert('生日日期超過範圍!請重新輸入!') }
      // 地址確認
      if (this.addrStreet != '') formData.memberAddr = this.selectedCounty + this.selectedArea + this.addrStreet
      // 將第三方資訊塞入
      formData.isFromTD = this.state.member.isFromTD
      formData.FromTDID = this.state.member.FromTDID
      formData.MT_NickName = this.state.member.MT_NickName
      formData.FromTDEmail = this.state.member.FromTDEmail

      // 生日加上最後面的'T00:00:00.000Z'
      formData.memberBirthday = moment(birthday).format('YYYY-MM-DD') + 'T00:00:00.000Z'

/* 

      // === 重要的日子 === start
      if (!this.checkNull(rdDateTypeNo) || rdDateTypeNo == 'none') {
        // console.log('===> rdDateTypeNo is null')
        // 若沒填就清空
        delete formData.RemberDate
        delete formData.RD_DateTypeNo
        delete formData.RD_DateTypeNanme
      } else {
        // console.log('===> rdDateTypeNo not null')
        // 若有填就處理
        // 重要的日子加上最後面的'T00:00:00.000Z'
        // 畫面沒有寫年,預設會是今年
        formData.RemberDate = moment(remberDate).format('YYYY-MM-DD') + 'T00:00:00.000Z'

        // 重要的日子類別找出label
        let originalRememberKind = JSON.parse(this.rememberKindStr)
        originalRememberKind.forEach((item) => {
          if(item.id == rdDateTypeNo) {
            formData.RD_DateTypeNanme=item.text
          }
        })
      }
      // === 重要的日子 === end
 */

      formData.ShopID = this.selectedShop;
			console.log('submitForm-formData: ', formData);	// @@

			this.isRuned = true;
      this.$store.dispatch('ensureMemberRegister', formData).then(res => {
				this.isRuned = false;

        // 顯示結果
        showAlert(res.ErrorMsg)
        // 如果註冊失敗 => 解除 disabled
        if (res.ErrorCode != '0') this.isDisabled = false
        // 如果註冊成功 => 導向登入頁
        if (res.ErrorCode == '0') {
          // 表單資料初始化
          this.resetForm()
          this.$router.push('/login')
        }
      })

    },
    // 表單資料初始化
    resetForm() {
      this.isConfirmed = false
      this.isDisabled = false
      this.formIsChecked01 = false // 隱私條款
      this.formIsChecked02 = false // 會員條款
      this.registerForm = {
        member_country: '886',
        membername: '',
        memberPwd: '',
        memberEmail: '',
        memberBirthday: '',
        memberSex: '',
        isFromTD: '',
        MT_NickName: '',
        FromTDEmail: '',
      }
    },

    iagree() {
      let selectedContract = this.selectedContract
      if (selectedContract == 'contract01') {
        this.formIsChecked01 = true
      } else if (selectedContract == 'contract02') {
        this.formIsChecked02 = true
      }
      this.selectedContract = ''
      this.isDisabled = !(this.formIsChecked01 && this.formIsChecked02);
    },

    redirectToLink(banner) {
      let url = banner.OuterURL
      if (url && (url.trim())) {
        // 在殼裡面 => 開啟瀏覽器
        if (IsMobile()) {
          deviseFunction('openWeburl', url, '')
        // 在瀏覽器 => 瀏覽器新開一個tab
        } else {
          window.open(url, '_blank')
        }
      }
    },

    // 副橫幅圖片即時更新
    refreshImage() {
      let imageObjs = document.getElementsByClassName('swiper-lazy')
      // console.log('===> imageObjs =>', imageObjs)
      imageObjs.forEach((item)=>{
        let imgUrl = item.currentSrc
        // console.log('===> imgUrl =>' + imgUrl)

        // 如果已經load好圖片
        if (imgUrl && imgUrl!='') {
          // 把圖片後面的版號更新到最新現在
          let newImgUrl = imgUrl.substring(0, imgUrl.indexOf('?v='))
            + '?v='
            + (new Date()).getTime()
            + '")'
          // console.log('===> newImgUrl =>' + newImgUrl)

          // 把圖片重新set,就會重load圖片了
          item.src = newImgUrl
          item.dataset.src = newImgUrl
          item.dataset.currentSrc = newImgUrl
        }
      })
    }
  },
}
</script>